.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}
.container-about header{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    background: linear-gradient(45deg, rgba(0, 0, 0,0.6), rgba(188, 159, 110,0.4)), url('/img/aboutHeader.jpg') bottom / cover no-repeat;
}
.container-about header h1{
    font-size: 70px;
    font-weight: 700;
}
.container-about header .certification{
    position: absolute;
    width: 80%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-about header .certification .certi-box{
    width: 48%;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow:0 2px 17px rgba(65, 62, 45, 0.3);
    transform: translateY(50%);
}
.container-about header .certification .certi-box .img-certi{
    width: 30%;
    height: 100%;
    overflow: hidden;
}
.container-about header .certification .certi-box .img-certi img.certi{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.container-about header .certification .certi-box .certi-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 70%;
    height: 100%;
    padding: 16px 20px;
}
.container-about header .certification .certi-box .certi-content h3.title{
    height: 30%;
    letter-spacing: 1.2px;
    transition: .5s;
}
.container-about header .certification .certi-box .certi-content p.content{
    height: 70%;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.container-about header .certification .certi-box:hover h3.title{
    color: $primarycolor;
}
.container-about header .certification .certi-box:hover img.certi{
    transform: scale(1.2);
}
.container-about .main-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-about .main-about .about-intro{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 200px 0 100px 0;
    background-color: $backgroundColor;
}
.container-about .main-about .about-intro .image-intro{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    position: relative;
}
.container-about .main-about .about-intro .image-intro img{
    width: 100%;
    height: 436px;
}
.container-about .main-about .about-intro .image-intro span{
    position: absolute;
    width: 100px;
    height: 6px;
    background-color: $primarycolor;
}
.container-about .main-about .about-intro .image-intro span.line1{
    top: 0;
    left: 0;
}
.container-about .main-about .about-intro .image-intro span.line2{
    top: 0;
    right: 0;
}
.container-about .main-about .about-intro .image-intro span.line3{
    bottom: 0;
    left: 0;
}
.container-about .main-about .about-intro .image-intro span.line4{
    bottom: 0;
    right: 0;
}
.container-about .main-about .about-intro .image-intro span.line5,
.container-about .main-about .about-intro .image-intro span.line6,
.container-about .main-about .about-intro .image-intro span.line7,
.container-about .main-about .about-intro .image-intro span.line8{
    height: 100px;
    width: 6px;
}
.container-about .main-about .about-intro .image-intro span.line5{
    left: 0;
    top: 0;
}
.container-about .main-about .about-intro .image-intro span.line6{
    right: 0;
    top: 0;
}
.container-about .main-about .about-intro .image-intro span.line7{
    bottom: 0;
    left: 0;
}
.container-about .main-about .about-intro .image-intro span.line8{
    right: 0;
    bottom: 0;
}
.container-about .main-about .about-intro .content-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    padding: 0 40px 0  20px;
}
.container-about .main-about .about-intro .content-intro p{
    color: $primarycolor;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.container-about .main-about .about-intro .content-intro h1{
    font-size: 30px;
    font-weight: 700;
    text-align: justify;
    margin: 8px 0;
    line-height: 1.4;
}
.container-about .main-about .about-intro .content-intro span{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin: 6px 0;
    color: #252525;
}
.container-about .main-about .primary-infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 7.5%;
    background-color: $backgroundColor;
}
.container-about .main-about .primary-infor .card{
    width: 16%;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    transition: .5s;
    z-index: 8;
    overflow: hidden;
    background-color: white;
}
.container-about .main-about .primary-infor .card::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    border-radius: 5px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255,230,153,1) 17%, rgba(188,159,110,1) 73%);
    transition: 0.5s;
    z-index: -1;
}
.container-about .main-about .primary-infor .card:hover h1,
.container-about .main-about .primary-infor .card:hover p{
    color: white;
}
.container-about .main-about .primary-infor .card:hover::after{
    height: 100%;
}
.container-about .main-about .primary-infor .card img{
    width: 90px;
    height: 90px;
}
.container-about .main-about .primary-infor .card h1{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 18px 0;
    transition: .5s;
}
.container-about .main-about .primary-infor .card p{
    color: #252525;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    transition: .5s;
}
.container-about .main-about .primary-infor .card p b{
    text-transform: uppercase;
}
.container-about .main-about .vision-mission{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}
.container-about .main-about .vision-mission .left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}
.container-about .main-about .vision-mission .left p{
    background: -webkit-linear-gradient(45deg, rgba(255,202,105,1) 4%, rgba(188,159,110,1) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}
.container-about .main-about .vision-mission .left h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin: 12px 0 26px 0;
}
.container-about .main-about .vision-mission .left span{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin: 6px 0;
}
.container-about .main-about .vision-mission .right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}
.container-about .main-about .vision-mission .right img{
    width: 60%;
}
.container-about .main-about .vision-mission .right .background{
    position: absolute;
    top: 20%;
    right: 0;
    width: 100%;
    z-index: -1;
}
.container-about .main-about .vision-mission .right span{
    position: absolute;
    bottom: 10%;
    left: 4%;
    width: 270px;
    background: linear-gradient(180deg, rgba(255,230,153,1) 17%, rgba(188,159,110,1) 73%);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding: 25px 30px;
    text-align: justify;
}
.container-about .main-about .vision-mission .awards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
}
.container-about .main-about .vision-mission .awards img.award{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
.container-about .main-about .vision-mission .awards h1.title{
    background: -webkit-linear-gradient(45deg, #ffca69 4%, #bc9f6e 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 30px;
    padding-bottom: 20px;
    letter-spacing: 1.2px;
    position: relative;
}
.container-about .main-about .vision-mission .awards h1.title::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background: $titlecolor;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
.container-about .main-about .vision-mission .awards .award-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px;
    flex-wrap: wrap;
}
.container-about .main-about .vision-mission .awards .award-box .swiper {
    width: 100%;
    height: 100%;
}
.container-about .main-about .vision-mission .awards .award-box .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.container-about .main-about .vision-mission .awards .award-box .award-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(229, 234, 243);
    margin-bottom: 50px;
}
.container-about .main-about .vision-mission .awards .award-box .award-card .img-award{
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about .main-about .vision-mission .awards .award-box .award-card .img-award img{
    width: 90%;
    height: 90%;
    transition: .5s;
}
.container-about .main-about .vision-mission .awards .award-box .award-card:hover .img-award img{
    transform: scale(1.1);
}
.container-about .main-about .vision-mission .awards .award-box .award-card .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 30%;
    padding: 0 20px;
}
.container-about .main-about .vision-mission .awards .award-box .award-card .bottom h1{
    color: $primarycolor;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.container-about .main-about .value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    background-color: $backgroundColor;
}
.container-about .main-about .value h1{
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
}
.container-about .main-about .value span{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $primarycolor;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}
.container-about .main-about .value .box-value{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.container-about .main-about .value .box-value .card{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.container-about .main-about .value .box-value .card .icon-value{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    outline-offset: 20px;
    outline: 2px dashed #bc9f6e33;
    transition: all .5s;
}
.container-about .main-about .value .box-value .card .icon-value::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #bc9f6e33;
    transition: all .5s;
}
.container-about .main-about .value .box-value .card .icon-value::after{
    position: absolute;
    content: "1";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: $primarycolor;
    color: white;
    font-size: 24px;
    font-weight: 700;
    transition: all .5s ease-in-out;
}
.container-about .main-about .value .box-value .card .icon-value.value2::after{
    content: "2";
}
.container-about .main-about .value .box-value .card .icon-value.value3::after{
    content: "3";
}
.container-about .main-about .value .box-value .card .icon-value.value4::after{
    content: "4";
}
.container-about .main-about .value .box-value .card .icon-value.value5::after{
    content: "5";
}
.container-about .main-about .value .box-value .card .icon-value img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .4s ease-in-out;
    transition-delay: .3s;
    transition-property: transform;
    position: relative;
}
.container-about .main-about .value .box-value .card .icon-value .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-about .main-about .value .box-value .card .icon-value .after::after{
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #bc9f6e;
    background-image: linear-gradient(62deg, #bc9f6e 0%, #ffe699 100%);
    transform: scale(0);
    transition: transform .6s ease-in-out;
}
.container-about .main-about .value .box-value .card .icon-value .after::before{
    position: absolute;
    width: 70px;
    height: 70px;
    content: "";
    border-radius: 50%;
    background-color: white;
    transform: scale(0);
    transition: transform .4s ease-in-out;
    transition-delay: .2s;
    transition-property: transform;
}
.container-about .main-about .value .box-value .card .icon-value:hover{
    outline: 2px dashed $primarycolor;
    
}
.container-about .main-about .value .box-value .card .icon-value:hover::before{
    transform: scale(0);
}
.container-about .main-about .value .box-value .card .icon-value:hover::after{
    transform: scale(0);
}
.container-about .main-about .value .box-value .card .icon-value:hover img{
    z-index: 4;
    transform: scale(1);
}
.container-about .main-about .value .box-value .card .icon-value:hover .after::after{
    transform: scale(1);
}
.container-about .main-about .value .box-value .card .icon-value:hover .after::before{
    z-index: 3;
    transform: scale(1);
}
.container-about .main-about .value .box-value .card h2{
    text-align: center;
    background: -webkit-linear-gradient(45deg, rgba(255,202,105,1) 4%, rgba(188,159,110,1) 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    padding: 8px 20px;
    margin-top: 40px;
}
.container-about .main-about .value .box-value .card p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 20px;
    height: 80px;
}
@media screen and (min-width: 1023px) and (max-width: 1441px){
    .container-about header h1{
        font-size: 60px;
    }
    .container-about header .certification{
        width: 85%;
    }
    .container-about header .certification .certi-box{
        height: 160px;
        width: 49%;
    }
    .container-about header .certification .certi-box .certi-content{
        padding: 8px 16px;
    }
    .container-about header .certification .certi-box .certi-content h3.title{
        font-size: 16px;
    }
    .container-about header .certification .certi-box .certi-content p.content{
        font-size: 14px;
        line-height: 22px;
        padding-top: 6px;
    }
    .container-about .main-about .about-intro{
        padding: 200px 0 50px 0;
    }
    .container-about .main-about .about-intro .content-intro h1{
        font-size: 22px;
        margin: 4px 0;
    }
    .container-about .main-about .about-intro .content-intro span{
        font-size: 14px;
        margin: 2px 0;
    }
    .container-about .main-about .primary-infor .card{
        width: 20%;
        padding: 30px 20px;
    }
    .container-about .main-about .primary-infor .card h1{
        font-size: 18px;
    }
    .container-about .main-about .primary-infor .card p{
        font-size: 14px;
        line-height: 24px;
    }
    .container-about .main-about .vision-mission .left h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .container-about .main-about .vision-mission .left span{
        font-size: 14px;
    }
    .container-about .main-about .vision-mission .right span{
        font-size: 16px;
        padding: 20px;
    }
    .container-about .main-about .vision-mission .right{
        justify-content: end;
    }
}
@media screen and (max-width: 1025px) {
    .container-about header{
        height: 30vh;
    }
    .container-about header .certification{
        flex-direction: column;
    }
    .container-about header .certification .certi-box {
        width: 85%;
        height: 130px;
        transform: translateY(100%);
    }
    .container-about header .certification .certi-box:first-child{
        margin-bottom: 12px;
    }
    .container-about header .certification .certi-box .certi-content{
        padding: 12px 16px;
    }
    .container-about header .certification .certi-box .certi-content p.content{
        font-size: 14px;
    }
    .container-about .main-about .about-intro {
        flex-direction: column;
        align-items: center;
    }
    .container-about .main-about .about-intro .image-intro{
        width: 80%;
    }
    .container-about .main-about .about-intro .content-intro{
        width: 80%;
        padding: 20px 0;
    }
    .container-about .main-about .about-intro .content-intro h1{
        margin: 8px 0;
    }
    .container-about .main-about .about-intro .content-intro span{
        font-size: 16px;
    }
    .container-about .main-about .primary-infor .card{
        width: 22%;
        padding: 20px 12px;
        height: 250px;
    }
    .container-about .main-about .primary-infor .card img{
        width: 80px;
        height: 80px;
    }
    .container-about .main-about .primary-infor .card h1{
        font-size: 16px;
    }
    .container-about .main-about .vision-mission .left h1{
        font-size: 30px;
    }
    .container-about .main-about .vision-mission .left p{
        font-size: 14px;
    }
    .container-about .main-about .vision-mission .left h1 {
        margin: 4px 0 8px 0;
    }
    .container-about .main-about .vision-mission .right{
        align-self: start;
    }
    .container-about .main-about .vision-mission .right .background{
        top: 0;
    }
    .container-about .main-about .vision-mission .right span{
        font-size: 14px;
        padding: 12px;
        bottom: 5%;
        left: 2%;
        width: 220px;
    }
    .container-about .main-about .vision-mission{
        padding-top: 50px;
    }
    .container-about .main-about .vision-mission .awards{
        padding: 50px 0;
    }
    .container-about .main-about .vision-mission .awards .award-box{
        padding: 50px 0 0 0;
    }
    .container-about .main-about .vision-mission .awards .award-box .award-card{
        height: 350px;
    }
    .container-about .main-about .vision-mission .awards .award-box .award-card .bottom h1{
        font-size: 28px;
    }
    .container-about .main-about .vision-mission .awards .award-box .award-card .bottom p.content{
        font-size: 14px;
    }
    .container-about .main-about .value h1{
        width: 80%;
    }
    .container-about .main-about .value span{
        width: 80%;
    }
    .container-about .main-about .value .box-value{
        width: 80%;
    }
    .container-about .main-about .value .box-value .card h2{
        font-size: 22px;
    }
    .container-about .main-about .value .box-value .card p{
        font-size: 14px;
    }
    .container-about .main-about .value .box-value .card p{
        padding: 0 8px;
    }
}
@media screen and (max-width: 769px) {
    .container-about header h1{
        font-size: 40px;
    }
    .container-about header .certification .certi-box {
        width: 100%;
        height: 120px;
        transform: translateY(150%);
    }
    .container-about header .certification .certi-box .certi-content{
        padding: 6px 8px;
    }
    .container-about header .certification .certi-box .certi-content h3.title{
        font-size: 14px;
    }
    .container-about header .certification .certi-box .certi-content p.content{
        font-size: 12px;
    }
    .container-about .main-about .about-intro {
        padding: 250px 0 0 0;
    }
    .container-about .main-about .about-intro .content-intro h1{
        font-size: 22px;
    }
    .container-about .main-about .about-intro .content-intro span {
        font-size: 14px;
    }
    .container-about .main-about .primary-infor{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-about .main-about .primary-infor .card {
        width: 40%;
        margin-bottom: 12px;
        height: 230px;
        padding: 20px;
    }
    .container-about .main-about .primary-infor .card h1{
        font-size: 18px;
    }
    .container-about .main-about .primary-infor .card p{
        font-size: 14px;
    }
    .container-about .main-about .vision-mission{
        flex-direction: column-reverse;
    }
    .container-about .main-about .vision-mission .left{
        width: 100%;
        order: 1;
        padding-right: unset;
    }
    .container-about .main-about .vision-mission .right{
        order: 2;
        width: 100%;
        justify-content: end;
        margin-bottom: 50px;
    }
    .container-about .main-about .vision-mission .right span{
        font-size: 16px;
        width: 300px;
        padding: 16px 20px;
        bottom: 25%;
        transform: translateY(25%);
        left: 6%;
    }
    .container-about .main-about .value .box-value{
        width: 90%;
    }
    .container-about .main-about .value .box-value .card .icon-value{
        width: 100px;
        height: 100px;
        outline-offset: 14px;
    }
    .container-about .main-about .value .box-value .card .icon-value .after{
        width: 100px;
        height: 100px;
    }
    .container-about .main-about .value .box-value .card .icon-value::after{
        width: 62px;
        height: 62px;
    }
    .container-about .main-about .value .box-value .card .icon-value .after::after{
        width: 100px;
        height: 100px;
    }
    .container-about .main-about .value .box-value .card .icon-value img{
        height: 40px;
        width: 40px;
    }
    .container-about .main-about .value .box-value .card h2{
        font-size: 18px;
    }
    .container-about .main-about .value .box-value .card p{
        font-size: 12px;
        padding: 0 12px;
    }
    .container-about .main-about .value .box-value .card{
        margin: 30px 0;
    }
}
@media screen and (max-width: 601px) {
    .container-about{
        margin-top: unset;
    }
    .container-about header .certification{
        width: 90%;
    }
    .container-about header .certification .certi-box{
        transform: translateY(220%);
    }
    .container-about header .certification .certi-box .certi-content h3.title{
        font-size: 12px;
    }
    .container-about header .certification .certi-box .certi-content p.content{
        line-height: 18px;
    }
    .container-about .main-about .about-intro{
        padding-top: 340px;
    }
    .container-about .main-about .about-intro .image-intro,
    .container-about .main-about .about-intro .content-intro{
        width: 90%;
    }
    .container-about .main-about .about-intro .image-intro img{
        height: 380px;
    }
    .container-about .main-about .primary-infor{
        justify-content: space-between;
        padding: 40px 5%;
    }
    .container-about .main-about .primary-infor .card{
        width: 45%;
    }
    .container-about .main-about .vision-mission{
        width: 90%;
    }
    .container-about .main-about .vision-mission .right span{
        left: 2%;
    }
    .container-about .main-about .value .box-value .card{
        width: 45%;
    }
    .container-about .main-about .value h1{
        font-size: 32px;
    }
}
@media screen and (max-width: 415px) {
    .container-about header .certification .certi-box .certi-content p.content{
        line-height: unset;
    }
    .container-about .main-about .about-intro .image-intro img{
        height: 280px;
    }
    .container-about .main-about .about-intro .content-intro p{
        font-size: 16px;
    }
    .container-about .main-about .about-intro .content-intro h1{
        font-size: 18px;
        line-height: 30px;
    }
    .container-about .main-about .about-intro .content-intro span{
        margin: 4px 0;
    }
    .container-about .main-about .primary-infor {
        padding: 16px 5%;
    }
    .container-about .main-about .primary-infor .card img{
        width: 60px;
        height: 60px;
    }
    .container-about .main-about .primary-infor .card{
        width: 48%;
        height: 200px;
        padding: 20px 12px;
    }
    .container-about .main-about .primary-infor .card h1{
        font-size: 16px;
    }
    .container-about .main-about .primary-infor .card p{
        font-size: 12px;
    }
    .container-about .main-about .vision-mission .right span{
        font-size: 10px;
        width: 180px;
        left: 4%;
    }
    .container-about .main-about .vision-mission .awards .award-box .award-card .bottom{
        align-items: center;
    }
    .container-about .main-about .value .box-value .card{
        width: 80%;
        margin: 20px 0;
    }
    .container-about .main-about .value .box-value .card h2 {
        margin-top: 20px;
    }
    .container-about .main-about .value h1{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .container-about .main-about .value span{
        font-size: 14px;
    }
}
@media screen and (max-width: 376px) {
    .container-about header h1{
        font-size: 28px;
    }
    .container-about header .certification .certi-box {
        height: 150px;
    }
    .container-about header .certification .certi-box .img-certi{
        width: 35%;
    }
    .container-about header .certification .certi-box .certi-content{
        width: 65%;
    }
    .container-about .main-about .about-intro{
        padding-top: 380px;
    }
    .container-about .main-about .about-intro .content-intro p{
        font-size: 14px;
    }
    .container-about .main-about .about-intro .content-intro h1{
        font-size: 16px;
        margin: 8px 0 2px;
    }
    .container-about .main-about .about-intro .content-intro span{
        font-size: 12px;
    }
    .container-about .main-about .primary-infor .card{
        height: 180px;
    }
    .container-about .main-about .primary-infor .card img{
        width: 40px;
        height: 40px;
    }
    .container-about .main-about .primary-infor .card img:first-child{
        width: 50px;
    }
    .container-about .main-about .primary-infor .card h1{
        font-size: 14px;
        margin-bottom: 6px;
    }
    .container-about .main-about .primary-infor .card p{
        font-size: 10px;
    }
    .container-about .main-about .value h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 321px) {
    .container-about .main-about .vision-mission .right span{
        font-size: 8px;
        padding: 8px 10px;
        width: 150px;
        line-height: 18px;
    }
    .container-about .main-about .vision-mission .left p{
        font-size: 12px;
    }
    .container-about .main-about .vision-mission .left h1{
        font-size: 26px;
    }
    .container-about .main-about .value h1{
        font-size: 18px;
    }
    .container-about .main-about .value span{
        font-size: 12px;
    }
}