@import 'variable';
@import 'about';
@import 'home';
@import 'header';
@import 'footer';
@import 'animation';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,Arial,Helvetica,sans-serif;;
}
.loading,
.loading-href{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
    overflow: hidden;
}
.loading-href{
    display: none;
}
.loading .upDoor{
    width: 100%;
    height: 50%;
    background-color: $primarycolor;
    animation-name: upDoor;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 1.7s;
}
.loading .downDoor{
    width: 100%;
    height: 50%;
    background-color: $primarycolor;
    animation-name: downDoor;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 1.7s;
}
.loading .text{
    color: white;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 202;
}
.loading .text span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriterCompany 1.5s steps(8) reverse;
}
.door-down{
    width: 100%;
    height: 50%;
    background-color: $primarycolor;
    animation-name: doorDown;
    animation-timing-function: ease;
    animation-duration: 1.5s;
}
.door-up{
    width: 100%;
    height: 50%;
    background-color: $primarycolor;
    animation-name: doorUp;
    animation-timing-function: ease;
    animation-duration: 1.5s;
}