@import 'variable';
@import 'event';
@import 'product';
@import 'login';
@import 'contact';
@import 'admin';
@import 'about';
@import 'home';
@import 'header';
@import 'footer';
@import 'animation';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: rgba(0, 0, 0, 0.1);
}
body{
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
}
body.modal-open{
    overflow: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.animate__shakeX{
    animation: animate__shakeX .3s ease forwards;
}
.animate__wave{
    animation: wave 1s ease forwards infinite;
    transform-origin: center;
}
.spinnerContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: $primarycolor;
    animation: tri-spinner 1s infinite linear;
  }
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
.loader {
    color: #4a4a4a;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  } 
  .words {
    overflow: hidden;
  }
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: $primarycolor;
    animation: cycle-words 5s infinite;
    animation-delay: .8s;
  }
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
  }
  .pagination a{
    text-decoration: none;
    background-color: white;
    color: #acaeb0;
    padding: 10px 20px;
    margin-right: 8px;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s;
  }
  .pagination a:hover{
    background-color: $primarycolor;
    color: white;
  }
  .pagination a.active{
    color: white;
    background-color: $primarycolor;
    cursor: not-allowed;
  }
  @media screen and (max-width: 415px) {
    .loader h4,
    .loader .word{
      font-size: 20px;
    }
  }
  @media screen and (max-width: 321px) {
    .loader h4,
    .loader .word{
      font-size: 16px;
    }
  }