.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}
.container-contact header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to right, #bc9f6e33, #0080FF33), url('/img/contactheader.avif') center / cover no-repeat;
}
.container-contact header span {
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.container-contact .main-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-contact .main-contact .header-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 26px;
    font-weight: 600;
    width: 100%;
}
.container-contact .main-contact .header-main span.primary-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    width: 100%;
    margin: 30px 0;
}
.container-contact .main-contact .header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
}
.container-contact .main-contact .header-bottom .address{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 120px;
    margin: 0 20px;
}

.container-contact .main-contact .header-bottom .address i{
    font-size: 45px;
    padding-right: 16px;
}
.container-contact .main-contact .header-bottom .address .info-address{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 18px;
    padding-left: 16px;
    position: relative;
    height: 81px;
}
.container-contact .main-contact .header-bottom .address .info-address::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #dbdbdb;
    top: 0;
    left: 0;
    z-index: 2;
}
.container-contact .main-contact .header-bottom .address .info-address::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 40%;
    background-color: $primarycolor;
    top: 0;
    left: 0;
    z-index: 3;
}
.container-contact .main-contact .header-bottom .address .info-address .title{
    font-weight: 600;
}
.container-contact .main-contact .header-bottom .address .info-address .content{
    text-align: justify;
    font-weight: 400;
}
.container-contact .main-contact .contact-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    padding: 20px 30px;
}
.container-contact .main-contact .contact-us > * {
    padding: 12px 0;
}
.container-contact .main-contact .contact-us span.title{
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    padding-top: 24px;
    text-align: center;
}
.container-contact .main-contact .contact-us .fullname{
    width: 48%;
    position: relative;
}
.container-contact .main-contact .contact-us .fullname input{
    width: 100%;
    height: 50px;
    padding: 6px 12px 6px 8px;
    border: 1px solid #d0d0d0;
    background-color: transparent;
    transition: .3s;
}
.container-contact .main-contact .contact-us .fullname label{
    font-size: 15px;
    color: #495057;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    background-color: white;
    transition: .5s;
}
.container-contact .main-contact .contact-us .fullname input:focus-visible{
    border-radius: unset;
    border: 1px solid #d0d0d0;
    outline: unset;
}
.container-contact .main-contact .contact-us .fullname input:-webkit-autofill { 
    -webkit-background-clip: text;
}
.container-contact .main-contact .contact-us .fullname input:focus ~ label,
.container-contact .main-contact .contact-us .fullname input:valid ~ label{
    top: calc(0px + 11px);
    color: black;
}
.container-contact .main-contact .contact-us .content-contact{
    width: 100%;
    height: 200px;
}
.container-contact .main-contact .contact-us .content-contact textarea{
    resize: none;
    border: 1px solid #d0d0d0;
    padding: 6px 12px 6px 8px;
    width: 100%;
    height: 100%;
}
.container-contact .main-contact .contact-us .content-contact textarea:focus-visible{
    border-radius: unset;
    border: 1px solid #d0d0d0;
    outline: unset;
}
.container-contact .main-contact .contact-us .fullname input:focus,
.container-contact .main-contact .contact-us .fullname input:valid,
.container-contact .main-contact .contact-us .content-contact textarea:focus{
    border: 1px solid $primarycolor; 
}
.container-contact .main-contact .contact-us .action-submit{
    width: 100%;
    padding-bottom: 24px;
}
.container-contact .main-contact .contact-us .action-submit button{
    width: 100%;
    height: 40px;
    background-color: $primarycolor;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid $primarycolor;
    outline: unset;
    transition: .3s;
    cursor: pointer;
}
.container-contact .main-contact .contact-us .action-submit button:hover{
    background-color: white;
    color: $primarycolor;
}
//breakpoint macbook
@media screen and (min-width: 1279px) and (max-width: 1441px){
    .container-contact .main-contact .header-bottom{
        justify-content: space-around;
    }
    .container-contact .main-contact .header-bottom .address{
        width: 26%;
        margin: unset;
    }
    .container-contact .main-contact .contact-us{
        width: 75%;
    }
}
@media screen and (max-width: 1025px) {
    .container-contact .main-contact .header-bottom{
        justify-content: space-around;
    }
    .container-contact .main-contact .header-bottom .address{
        width: 30%;
        margin: unset;
    }
    .container-contact .main-contact .header-bottom .address i{
        font-size: 35px;
    }
    .container-contact .main-contact .header-bottom .address .info-address .content{
        font-size: 16px;
    }
    .container-contact .main-contact .contact-us{
        width: 80%;
    }
    .container-contact .main-contact .contact-us .fullname label{
        left: 3%;
    }
}
@media screen and (max-width: 769px) {
    .container-contact .main-contact .header-bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-contact .main-contact .header-bottom .address{
        width: 45%;
        margin: 0 2%;
    }
    .container-contact .main-contact .contact-us{
        width: 90%;
    }
}
@media screen and(max-width: 601px) {
    .container-contact{
        margin-top: unset;
    }
    .container-contact .main-contact .contact-us .fullname label{
        left: 4%;
    }
}
@media screen and (max-width: 415px) {
    .container-contact .main-contact .map-contact{
        height: 300px !important;
    }
    .container-contact .main-contact .header-bottom .address{
        width: 90%;
        margin: unset;
    }
    .container-contact .main-contact .contact-us{
        width: 98%;
        padding: 20px;
    }
    .container-contact .main-contact .contact-us span.title{
        font-size: 20px;
        line-height: 34px;
    }
    .container-contact .main-contact .contact-us .fullname label{
        left: 5%;
        font-size: 13px;
    }
}