.container-event{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $background;
}
.container-event header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background:  linear-gradient(135deg, rgba(160,136,87,0.9), rgba(176,0,0,0.8)), url('/img/news.avif') center / cover no-repeat;
    background-blend-mode: multiply;
}
.container-event header span {
    font-size: 50px;
    color: white;
    font-weight: 600;
    transform: translatey(-50%);
}
.container-event .main-event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.container-event img{
    transition: .3s;
    box-shadow: $shadow;
}
.container-event .main-event .all-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 60px 0 40px 0;
    border-bottom: 2px solid $hoverBorder;
    flex-wrap: wrap;
}
.container-event .main-event .all-news .title-all__news{
    width: 100%;
    margin-bottom: 60px;
}
.container-event .main-event .all-news .latest-news{
    width: 60%;
    height: 575px;
    padding-right: 2%;
    border-right: 2px solid $hoverBorder;
}
.container-event .main-event .all-news .latest-news .card-latest__news{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: $backgroundLight;
    border-radius: 5px;
    padding: 12px;
    gap: 12px;
    box-shadow: $shadow;
    transition: .5s;
    overflow: hidden;
}
.container-event .main-event .all-news .latest-news .card-latest__news .img-latestNews{
    width: 100%;
    height: 78%;
    overflow: hidden;
}
.container-event .main-event .all-news .latest-news .card-latest__news .img-latestNews img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container-event .main-event .all-news .latest-news .card-latest__news .label-news,
.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news{
    width: 100%;
}
.container-event .main-event .all-news .latest-news .card-latest__news .label-news span,
.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span{
    font-size: 14px;
    font-weight: 600;
    padding: 4px 16px;
    border-radius: 20px;
    border: 1px solid black;
    text-transform: capitalize;
    background-color: black;
    color: white;
    display: inline-block;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span{
    font-size: 12px;
    padding: 4px 12px;
}
.container-event .main-event .all-news .latest-news .card-latest__news .label-news span.new,
.container-event .main-event .all-news .latest-news .card-latest__news .label-news span.news,
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.new,
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.news,
.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.new,
.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.news{
    background-color: #FF0000;
    border: 1px solid #FF0000;
    width: unset;
}
.container-event .main-event .all-news .latest-news .card-latest__news .label-news span.event,
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.event,
.container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.event{
    background-color: #FF8C00;
    border: 1px solid #FF8C00;
    width: unset !important;
    display: inline-block !important;
}
.container-event .main-event .all-news .latest-news .card-latest__news h1{
    transition: .3s;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 24px;
    text-transform: capitalize;
    color: $textPrimary;
}
.container-event .main-event .all-news .latest-news .card-latest__news:hover{
    transform: translateY(-6px);
}
.container-event .main-event .all-news .latest-news .card-latest__news:hover h1{
    color: $accentColor;
}
.container-event .main-event .all-news .latest-news .card-latest__news:hover img{
    transform: scale(1.1);
}
.container-event .main-event .all-news .latest-news .card-latest__news span.time-news{
    font-size: 14px;
    font-weight: 700;
    color: #7C7C7C;
    text-align: end;
}
.container-event .main-event .all-news .content-three__latest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 38%;
    height: 575px;
    gap: 20px;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100% / 3 - 20px);
    text-decoration: none;
    color: black;
    padding: 8px;
    background-color: $backgroundLight;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: .5s;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest .img-three_latest{
    width: 35%;
    height: 100%;
    overflow: hidden;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest{
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 12px;
}

.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span{
    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;
    border-radius: 20px;
    border: 1px solid black;
    text-transform: capitalize;
    background-color: black;
    color: white;
    display: inline;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: justify;
    padding-right: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: capitalize;
    transition: .3s;
    color: $textPrimary;
}
.container-event .main-event .all-news .content-three__latest:hover .card-three__latest {
    filter: blur(2px) brightness(0.7);
    transform: scale(0.98);
}
.container-event .main-event .all-news .content-three__latest .card-three__latest:hover{
    transform: translateY(-6px);
    filter: none;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest:hover h2{
    color: $accentColor;
}
.container-event .main-event .all-news .content-three__latest .card-three__latest:hover img{
    transform: scale(1.1);
}
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .time-news{
    margin-bottom: unset !important;
    position: absolute;
    bottom: 0;
    right: 0;
}
.container-event .main-event .all-news .remaining-news{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 60px;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(25% - 60px);
    margin: 40px 0;
    text-decoration: none;
    color: black;
    gap: 12px;
    background-color: $backgroundLight;
    padding: 12px;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: .5s;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news .img-remaining__news{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.container-event .main-event .all-news .remaining-news:hover .card-remaining__news:not(:hover){
    filter: blur(2px) brightness(0.7);
    transform: scale(0.98);
}
.container-event .main-event .all-news .remaining-news .card-remaining__news:hover{
    filter: none;
    transform: translateY(-6px);
}
.container-event .main-event .all-news .remaining-news .card-remaining__news:hover img{
    transform: scale(1.1);
}
.container-event .main-event .all-news .remaining-news .card-remaining__news:hover h3{
    color: $accentColor;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news .title{
    flex: 1;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news h3{
    text-align: justify;
    text-transform: capitalize;
    line-height: 28px;
    transition: .3s;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.container-event .main-event .news,
.container-event .main-event .event{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 85%;
    padding: 50px 0 30px 0;
}
.container-event .main-event .news{
    border-bottom: 2px solid $hoverBorder;
}
.container-event .main-event .news .news-container,
.container-event .main-event .event .news-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.container-event .main-event .news h1,
.container-event .main-event .event h1,
.container-event .main-event h1.primary-title{
    padding-bottom: 20px;
    padding-right: 40px;
    font-size: 40px;
    color: $accentColor;
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: 1.2px;
    position: relative;
    letter-spacing: 1.4px;
    word-spacing: 1.2px;
font-family: "Momo Trust Sans", sans-serif !important;
}
.container-event .main-event h1.primary-title{
    align-self: start;
    padding-top: 40px;
}
.container-event .main-event .news h1::after,
.container-event .main-event .event h1::after,
.container-event .main-event h1.primary-title::after{
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-right-radius: 4px;
    height: 8px;
    background-color: $hoverBorder;
}
.container-event .main-event .news h1 img,
.container-event .main-event .event h1 img,
.container-event .main-event h1.primary-title img{
    margin-right: 10px;
    height: 50px;
    width: 50px;
    box-shadow: unset;
}
.container-event .main-event .event h1 img{
    transform: rotateZ(-20deg);
}
.container-event .main-event .news .card-news,
.container-event .main-event .event .card-news{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin: 20px 0;
    text-decoration: none;
    color: black;
    flex: 1 1 calc(50% - 20px);
    border-radius: 5px;
    background-color: $backgroundLight;
    box-shadow: $shadow;
    padding: 12px;
    gap: 12px;
    transition: .5s;
}
.container-event .main-event .news .card-news:nth-of-type(1),
.container-event .main-event .event .card-news:nth-of-type(1){
    width: 100%;
    margin: 60px 0 20px 0;
    flex-direction: row;
    justify-content: space-between; 
    flex: 1 1 100%;
}
.container-event .main-event .news .card-news .img-card__news ,
.container-event .main-event .event .card-news .img-card__news {
    width: 100%;
    height: 400px;
    margin-bottom: 12px;
    overflow: hidden;
}
.container-event .main-event .news .card-news:nth-of-type(1) .img-card__news,
.container-event .main-event .event .card-news:nth-of-type(1) .img-card__news{
    height: 450px;
    width: 65%;
    margin-bottom: unset;
    overflow: hidden;
}
.container-event .main-event .news .card-news img,
.container-event .main-event .event .card-news img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.container-event .main-event .news .card-news:nth-of-type(1) .img-card__news img,
.container-event .main-event .event .card-news:nth-of-type(1) .img-card__news img{
    height: 450px;
    width: 100%;
}
.container-event .main-event .news:hover .card-news,
.container-event .main-event .event:hover .card-news{
    filter: blur(2px) brightness(0.7);
  transform: scale(0.98);
}
.container-event .main-event .news .card-news:hover,
.container-event .main-event .event .card-news:hover{
    filter: none;
    transform: translateY(-6px);
}
.container-event .main-event .news .card-news:hover img,
.container-event .main-event .event .card-news:hover img{
    transform: scale(1.1);
}
.container-event .main-event .news .card-news .content-news,
.container-event .main-event .event .card-news .content-news{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
.container-event .main-event .news .card-news:nth-of-type(1) .content-news,
.container-event .main-event .event .card-news:nth-of-type(1) .content-news{
    width: 33%;
}
.container-event .main-event .news .card-news:nth-child(n+2) .content-news,
.container-event .main-event .event .card-news:nth-child(n+2) .content-news{
    flex: 1;
}
.container-event .main-event .news .card-news .content-news .time-news,
.container-event .main-event .event .card-news .content-news .time-news,
.container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .time-news,
.container-event .main-event .all-news .remaining-news .card-remaining__news .time-news{
    font-size: 14px;
    font-weight: 700;
    color: $textSecondary;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news .time-news{
    text-align: end;
    position: relative;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news .time-news::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 75%;
    height: 2px;
    background-color: $hoverBorder;
}
.container-event .main-event .news .card-news .content-news h2,
.container-event .main-event .event .card-news .content-news h2{
    font-weight: 600;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    line-height: 40px;
    transition: .3s;
    color: $textPrimary;
}
.container-event .main-event .news .card-news:nth-of-type(1) .content-news h2,
.container-event .main-event .event .card-news:nth-of-type(1) .content-news h2{
    font-size: 24px;
    line-height: 44px;
    color: $textPrimary;
}
.container-event .main-event .news .card-news:hover h2,
.container-event .main-event .event .card-news:hover h2,
.container-event .main-event .news .card-news:nth-of-type(1):hover .content-news h2,
.container-event .main-event .event .card-news:nth-of-type(1):hover .content-news h2{
    color: $accentColor;
}
.container-event .main-event .news .card-news:nth-child(n+2) .content-news h2,
.container-event .main-event .event .card-news:nth-child(n+2) .content-news h2{
    flex: 1;
}
.container-event .main-event .news .card-news .content-news p.desc,
.container-event .main-event .event .card-news .content-news p.desc,
.container-event .main-event .all-news .remaining-news .card-remaining__news p.desc{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
    line-clamp: 3; 
   -webkit-box-orient: vertical;
   line-height: 28px;
   text-align: justify;
   font-weight: 500;
   color: $textSecondary;
   white-space: pre-wrap;
   word-wrap: break-word;
}
.container-event .main-event .all-news .remaining-news .card-remaining__news p.desc{
    margin-bottom: 20px;
}
.container-event .main-event .news .card-news:nth-of-type(1) .content-news p.desc,
.container-event .main-event .event .card-news:nth-of-type(1) .content-news p.desc{
    font-size: 16px;
    line-height: 32px;
    -webkit-line-clamp: 4;
    line-clamp: 4; 
}
//event detail
.container-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 110px;
    padding: 40px 60px;
    background-color: $background;
}
.container-detail .suggest-event{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: $accentColor;
    border-radius: 5px;
    padding: 40px 30px;
    position: sticky;
    top: calc(0% + 130px);
    z-index: 10;
    overflow: hidden;
    left: 20px;
}
.container-detail .suggest-event .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2;
    background: $backgroundLight;
    backdrop-filter: blur(24px);
    border-radius: 2px;
    overflow: hidden;
    outline: 2px solid $background;
  }
  .container-detail .suggest-event .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-radius: 50%;
    background-color: $titlecolor;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite linear;
  }
  .container-detail .suggest-event .title-suggest{
    display: flex;
    margin-bottom: 20px;
    z-index: 3;
  }
.container-detail .suggest-event .title-suggest h2{
    padding-bottom: 12px;
    padding-right: 20px;
    position: relative;
    display: inline;
    color: $textPrimary;
}
.container-detail .suggest-event .title-suggest h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $hoverBorder;
    border-top-right-radius: 5px;
}
.container-detail .suggest-event .card-suggest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    width: 100%;
    gap: 6px;
    padding: 12px 10px;
    box-shadow: $shadow;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
    border: 2px solid transparent;
    position: relative;
    background-color: $background;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}
.container-detail .suggest-event .card-suggest:nth-of-type(1){
    margin-bottom: 12px;
}
.container-detail .suggest-event .card-suggest:hover{
    box-shadow: rgba(188, 159, 110, 0.19) 0px 10px 20px,
    rgba(188, 159, 110, 0.23) 0px 6px 6px,
    inset rgba(255, 255, 255, 0.19) 0px 10px 20px,
    inset rgba(255, 255, 255, 0.23) 0px 6px 6px;
    border: 2px solid $hoverBorder;
}
.container-detail .suggest-event .card-suggest span.time-news{
    font-size: 14px;
    font-weight: 700;
    color: $textSecondary;
}
.container-detail .suggest-event .card-suggest .card-title{
    font-size: 18px;
    line-height: 28px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-align: justify;
    color: $textPrimary;
}
.container-detail .suggest-event .card-suggest .card-des {
    font-size: 16px;
    line-height: 26px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-bottom: 24px;
    text-align: justify;
    color: $textSecondary;
}
.container-detail .suggest-event .card-suggest .card-text {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    right: 20px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    transition: all ease-in-out 0.3s;
    animation: textanimate 0.8s alternate infinite;
    opacity: 0;
    color: $accentColor;
}
.container-detail .suggest-event .card-suggest:hover > .card-text{
    opacity: 1;
}
.container-detail .suggest-event .card-suggest .card-text .arrow-icon {
    font-size: 15px;
    font-weight: 500;
}
.container-detail .main-detail{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: $backgroundLight;
    border-radius: 5px;
    padding: 40px 30px;
}
.container-detail .main-detail .title-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-detail .main-detail .title-detail h1{
    color: $textPrimary;
    line-height: 42px;
}
.container-detail .main-detail .title-detail .time-detail{
    color: $textSecondary;
    font-weight: 500;
    padding: 12px 0;
}
.container-detail .main-detail .title-detail .time-detail span{
    text-transform: capitalize;
}
.container-detail .main-detail .body-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}
.container-detail .main-detail .body-detail .img__detail-title{
    width: 100%;
    height: 650px;
    margin-top: 20px;
}
.container-detail .main-detail .body-detail .img__detail-title:first-child{
    margin-top: unset;
}
.container-detail .main-detail .body-detail p.desc{
    font-size: 22px;
    letter-spacing: 1.2px;
    line-height: 40px;
    text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 20px;
    color: $textSecondary;
}
//edit event
.container-edit__event{
    background-color: rgba(188, 188, 187, 0.15);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.container-edit__event header.edit-event{
    background-color: white;
    width: 100%;
    padding: 40px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-edit__event header.edit-event .back-to-admin{
    position: absolute;
    left: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252532;
    padding: 12px;
}
.container-edit__event header.edit-event .back-to-admin svg{
    width: 40px;
    height: 40px;
}
.container-edit__event header.edit-event .back-to-admin svg g path{
    transition: .3s;
}
.container-edit__event header.edit-event .back-to-admin:hover svg g path{
    fill: $primarycolor;
}
.container-edit__event header.edit-event h1{
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    color: $primarycolor;
}
.container-edit__event header.edit-event .switch-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    right: 20px;
  }
  
.container-edit__event header.edit-event .switch-button .switch-outer {
    height: 100%;
    background: #252532;
    width: 95px;
    border-radius: 165px;
    -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    border: 1px solid #32303e;
    padding: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .container-edit__event header.edit-event .switch-button .switch-outer input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
  }
  
  .switch-button .switch-outer .button-toggle {
    height: 25px;
    width: 25px;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#3b3a4e),
      to(#272733)
    );
    background: -o-linear-gradient(#3b3a4e, #272733);
    background: linear-gradient(#3b3a4e, #272733);
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    position: relative;
    z-index: 2;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    left: 0;
  }
  
  .container-edit__event header.edit-event .switch-button .switch-outer input[type="checkbox"]:checked + .button .button-toggle {
    left: 70%;
  }
  
  .container-edit__event header.edit-event .switch-button .switch-outer input[type="checkbox"]:checked + .button .button-indicator {
    -webkit-animation: indicator 1s forwards;
    animation: indicator 1s forwards;
  }
  
  .container-edit__event header.edit-event .switch-button .switch-outer .button {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  .container-edit__event header.edit-event .switch-button .switch-outer .button-indicator {
    height: 20px;
    width: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    border: 3px solid #ef565f;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 0;
    position: relative;
  }
.container-edit__event .main-edit__event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 40px;
    background-color: white;
    margin: 60px 0;
}
.container-edit__event .main-edit__event .select-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(188, 188, 187, 0.15);
}
.container-edit__event .main-edit__event .select-category .choose-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    background-color: rgba(188, 188, 187, 0.15);
    border-radius: 5px;
    position: relative;
    padding: 8px 12px;
}
.container-edit__event .main-edit__event .select-category .choose-category label{
    padding: 12px;
    color: #BCBCBB;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container-edit__event .main-edit__event .select-category .choose-category label.checked{
    background-color: rgba(188, 159, 110,0.9);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px 12px;
    transition: .5s;
    border: 1px solid rgba(188, 159, 110,0.3);
    width: calc(50% - 12px);
}
.container-edit__event .main-edit__event .select-category .choose-category input#category-event:checked ~ label.choose-event,
.container-edit__event .main-edit__event .select-category .choose-category input#category-news:checked ~ label.choose-news{
    color: white;
    font-weight: 600;
    cursor: not-allowed;
}
.container-edit__event .main-edit__event .select-category .choose-category input#category-event:checked ~ label.checked{
    left: 12px;
}
.container-edit__event .main-edit__event .select-category .choose-category input#category-news:checked ~ label.checked{
    left: 50%;
}
.container-edit__event .main-edit__event .content-edit__event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 20px 0;
    border-bottom: 2px solid rgba(188, 188, 187, 0.15);
}
.container-edit__event .main-edit__event .content-edit__event:first-child{
    padding: 0 0 20px 0;
}
.container-edit__event .main-edit__event .content-edit__event:last-child{
    padding: 20px 0 0 0;
    border-bottom: unset;
}
.container-edit__event .main-edit__event h2{
    margin-bottom: 30px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
}
.container-edit__event .main-edit__event .content-edit__event h2{
    padding-left: unset;
}
.container-edit__event .main-edit__event h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: $linecolor;
}
.container-edit__event .main-edit__event .content-edit__event h2::after{
    left: 0;
    transform: unset;
    border-top-left-radius: unset;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img{
    width: 100%;
    height: 350px;
    cursor: pointer;
    margin: 20px 0;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar{
    position: absolute;
    top: 0;
    width: calc(100% - 100px);
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar svg{
    width: 150px;
    height: 150px;
    transition: .3s;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar span{
    color: white;
    font-weight: 600;
    font-size: 0;
    transition: .3s;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img:hover .title-avatar{
    top: auto;
    bottom: 0;
    height: 100%;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img:hover .title-avatar span{
    font-size: 20px;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar svg:hover{
    fill: $titlecolor;
}
.container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar svg:hover + span{
    color: $titlecolor;
}
.container-edit__event .main-edit__event .content-edit__event label img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.container-edit__event .main-edit__event .content-edit__event textarea{
    resize: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    border: 2px solid #d5d5d5;
    margin: 0 50px;
    outline: none;
    overflow: hidden;
    transition: .3s;
    text-align: justify;
}
.container-edit__event .main-edit__event .content-edit__event textarea.content-text{
    font-size: 20px;
    font-weight: 500;
}
.container-edit__event .main-edit__event .content-edit__event textarea:focus{
    border: 2px solid $primarycolor;
}
.container-edit__event .main-edit__event .content-edit__event .save-changes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 50px 0;
}
.container-edit__event .main-edit__event .content-edit__event .save-changes button{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: .3s ease-in-out;
    color: white;
    padding: 16px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}
.container-edit__event .main-edit__event .content-edit__event .save-changes button span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primarycolor;
    z-index: -1;
    transition: .3s ease-in-out;
}
.container-edit__event .main-edit__event .content-edit__event .save-changes button:hover{
    color: $primarycolor;
    background-color: white;
    border: 1px solid $primarycolor;
}
.container-edit__event .main-edit__event .content-edit__event .save-changes button:hover span{
    width: 0;
    right: 0;
    left: auto;
}
//break point macbook
@media screen and (min-width: 1279px) and (max-width: 1441px){
    .container-detail .suggest-event{
        padding: 16px;
    }
    .container-detail .suggest-event .card-suggest{
        gap: 2px;
    }
    .container-detail .suggest-event .title-suggest{
        margin-bottom: 12px;
    }
    .container-detail .suggest-event .title-suggest h2{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .container-detail .suggest-event .card-suggest span.time-news{
        font-size: 12px;
    }
    .container-detail .suggest-event .card-suggest .card-title{
        font-size: 15px;
        line-height: 25px;
    }
    .container-detail .suggest-event .card-suggest .card-des{
        line-height: 23px;
        margin-bottom: 12px;
    }
    .container-detail .suggest-event .card-suggest .card-des,
    .container-detail .suggest-event .card-suggest .card-text{
        font-size: 13px;
    }
    .container-detail .suggest-event .card-suggest .card-text{
        bottom: 4px;
    }
    //edit event
    .container-edit__event .main-edit__event .select-category,
    .container-edit__event .main-edit__event .content-edit__event{
        width: 100%;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea{
        font-size: 20px;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea.content-text{
        font-size: 16px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news .time-news::after{
        width: 66%;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news h1{
        font-size: 26px;
    }
}
@media screen and (max-width: 1025px) {
    .container-event header{
        height: 40vh;
    }
    .container-event .main-event .news h1, 
    .container-event .main-event .event h1, 
    .container-event .main-event h1.primary-title{
        font-size: 36px;
        padding-bottom: 16px;
    }
    .container-event .main-event .news h1 img, 
    .container-event .main-event .event h1 img, 
    .container-event .main-event h1.primary-title img{
        width: 48px;
        height: 48px;
    }
    .container-event .main-event h1.primary-title{
        padding-top: 20px;
    }
    .container-event .main-event .all-news .latest-news,
    .container-event .main-event .all-news .content-three__latest{
        height: 480px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news .label-news span{
        font-size: 12px;
        padding: 4px 12px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news h1,
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news h2, 
    .container-event .main-event .event .card-news:nth-of-type(1) .content-news h2{
        font-size: 28px;
        line-height: 38px;
        letter-spacing: normal;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest h2{
        -webkit-line-clamp: 2;
        line-clamp: 2;
        font-size: 18px;
        line-height: 28px;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span,
    .container-event .main-event .all-news .latest-news .card-latest__news .label-news span.new, 
    .container-event .main-event .all-news .latest-news .card-latest__news .label-news span.news, 
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.new, 
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.news, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.new, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.news,
    .container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span{
        font-size: 10px;
        padding: 4px 10px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news{
        width: 30%;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news h3{
        font-size: 16px;
        line-height: 26px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news p.desc{
        font-size: 14px;
        line-height: 24px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news img{
        height: 200px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news .time-news{
        font-size: 12px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news .time-news::after{
        width: 70%;
    }
    .container-event .main-event .news .card-news:nth-of-type(1) img, 
    .container-event .main-event .event .card-news:nth-of-type(1) img{
        height: 380px;
        width: 60%;
    }
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news p.desc, 
    .container-event .main-event .event .card-news:nth-of-type(1) .content-news p.desc{
        font-size: 18px;
        line-height: 28px;
    }
    .container-event .main-event .news .card-news img, 
    .container-event .main-event .event .card-news img{
        height: 300px;
    }
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news, 
    .container-event .main-event .event .card-news:nth-of-type(1) .content-news{
        width: 38%;
    }
    .container-event .main-event .news .card-news .content-news h2, 
    .container-event .main-event .event .card-news .content-news h2{
        font-size: 24px;
        line-height: 34px;
    }
    .container-event .main-event .news .card-news .content-news p.desc, 
    .container-event .main-event .event .card-news .content-news p.desc, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news p.desc{
        font-size: 16px;
        line-height: 26px;
    }
    //detail event
    .container-detail{
        padding: 40px 20px;
        justify-content: space-between;
    }
    .container-detail .suggest-event{
        width: 28%;
        padding: 40px 20px;
    }
    .container-detail .main-detail{
        padding: 40px 20px;
    }
    .container-detail .suggest-event .card-suggest{
        gap: unset;
    }
    .container-detail .suggest-event .card-suggest .card-title{
        font-size: 16px;
        line-height: 26px;
    }
    .container-detail .suggest-event .card-suggest span.time-news{
        font-size: 12px;
    }
    .container-detail .main-detail .title-detail h1{
        font-size: 28px;
        line-height: 38px;
    }
    .container-detail .main-detail .body-detail p.desc{
        font-size: 20px;
        line-height: 38px;
    }
    .container-detail .main-detail .body-detail .img__detail-title{
        height: 550px;
    }
    .container-detail .suggest-event .title-suggest h2{
        font-size: 22px;
    }
    .container-detail .suggest-event .card-suggest .card-text{
        font-size: 15px;
    }
    //edit event
    .container-edit__event .main-edit__event .select-category,
    .container-edit__event .main-edit__event .content-edit__event{
        width: 100%;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea{
        font-size: 20px;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea.content-text{
        font-size: 16px;
    }
}
@media screen and (max-width: 769px) {
    .container-event .main-event .news h1, 
    .container-event .main-event .event h1, 
    .container-event .main-event h1.primary-title{
        font-size: 32px;
    }
    .container-event .main-event .news h1 img, 
    .container-event .main-event .event h1 img, 
    .container-event .main-event h1.primary-title img{
        width: 44px;
        height: 44px;
    }
    .container-event .main-event .news h1::after, 
    .container-event .main-event .event h1::after, 
    .container-event .main-event h1.primary-title::after{
        height: 6px;
    }
    .container-event .main-event .all-news .latest-news{
        width: 100%;
        padding-right: unset;
        padding-bottom: 2%;
        border-bottom: 2px solid rgba(0, 77, 97, 0.1);
        border-right: unset;
        margin-bottom: 40px;
    }
    .container-event .main-event .all-news .content-three__latest {
        width: 100%;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest img{
        width: 40%;
        margin-bottom: unset;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest{
        width: 58%;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest h2{
        padding-right: unset;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news{
        width: 48%;
    }
    .container-event .main-event .news .card-news:nth-of-type(1), 
    .container-event .main-event .event .card-news:nth-of-type(1){
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(0, 77, 97, 0.1);
    }
    .container-event .main-event .news .card-news:nth-of-type(1) img, 
    .container-event .main-event .event .card-news:nth-of-type(1) img{
        width: 100%;
        height: 40%;
        margin-bottom: 12px;
    }
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news, 
    .container-event .main-event .event .card-news:nth-of-type(1) .content-news{
        width: 100%;
        height: 58%;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news h1, 
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news h2, .container-event .main-event .event .card-news:nth-of-type(1) .content-news h2{
        font-size: 26px;
        line-height: 36px;
    }
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news p.desc, 
    .container-event .main-event .event .card-news:nth-of-type(1) .content-news p.desc{
        font-size: 16px;
        line-height: 26px;
    }
    .container-event .main-event .news .card-news .content-news h2, 
    .container-event .main-event .event .card-news .content-news h2{
        font-size: 22px;
        line-height: 32px;
    }
    //detail event
    .container-detail{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .container-detail .suggest-event,
    .container-detail .main-detail{
        width: 95%;
    }
    .container-detail .suggest-event{
        margin-top: 40px;
    }
    .container-detail .main-detail .title-detail h1{
        font-size: 26px;
        line-height: 36px;
    }
    .container-detail .main-detail .title-detail .time-detail{
        font-size: 15px;
    }
    .container-detail .main-detail .body-detail .img__detail-title{
        height: 450px;
    }
    .container-detail .main-detail .body-detail p.desc{
        font-size: 18px;
        line-height: 36px;
    }
    //edit event
    .container-edit__event .main-edit__event{
        width: 90%;
        padding: 30px;
    }
    .container-edit__event .main-edit__event h2{
        font-size: 22px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar svg{
        width: 100px;
        height: 100px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img:hover .title-avatar span{
        font-size: 16px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img{
        height: 250px;
    }
}
@media screen and (max-width: 601px) {
    .container-event,
    .container-detail{
        margin-top: unset;
    }
    .container-event .main-event .news .card-news img, 
    .container-event .main-event .event .card-news img{
        height: 220px;
    }
    .container-event .main-event .news .card-news .content-news h2, .container-event .main-event .event .card-news .content-news h2{
        font-size: 20px;
        line-height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .container-event .main-event .news .card-news .content-news p.desc, .container-event .main-event .event .card-news .content-news p.desc, .container-event .main-event .all-news .remaining-news .card-remaining__news p.desc{
        font-size: 14px;
        line-height: 24px;
    }
    //detail event
    .container-detail .main-detail .body-detail .img__detail-title,
    .container-detail .main-detail .body-detail p.desc{
        margin-top: 12px;
    }
    .container-detail .main-detail .body-detail .img__detail-title{
        height: 400px;
    }
    //edit event
    .container-edit__event header.edit-event{
        flex-direction: column;
        padding: 20px 0;
    }
    .container-edit__event header.edit-event h1{
        margin-bottom: 20px;
        font-size: 28px;
    }
    .container-edit__event header.edit-event .switch-button{
        position: unset;
        height: 35px;
    }
    .container-edit__event header.edit-event .switch-button .switch-outer{
        width: 85px;
    }
    .container-edit__event header.edit-event .switch-button .switch-outer .button-indicator {
        width: 18px;
        height: 18px;
    }
    .switch-button .switch-outer .button-toggle{
        width: 20px;
        height: 20px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img{
        padding: 0 20px;
        height: 200px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar{
        width: calc(100% - 40px);
    }
    .container-edit__event .main-edit__event .content-edit__event textarea{
        margin: 0 20px;
        font-size: 16px;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea.content-text{
        font-size: 14px;
    }
}
@media screen and (max-width: 415px) {
    .container-event .main-event .news h1, 
    .container-event .main-event .event h1, 
    .container-event .main-event h1.primary-title{
        font-size: 24px;
        padding-bottom: 12px;
    }
    .container-event .main-event h1.primary-title{
        padding-top: 16px;
    }
    .container-event .main-event .news h1 img, 
    .container-event .main-event .event h1 img, 
    .container-event .main-event h1.primary-title img{
        width: 36px;
        height: 36px;
    }
    .container-event .main-event .news h1::after, 
    .container-event .main-event .event h1::after, 
    .container-event .main-event h1.primary-title::after{
        height: 4px;
    }
    .container-event .main-event .all-news{
        padding-top: 40px;
    }
    .container-event .main-event .all-news .latest-news{
        height: 350px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news h1, 
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news h2, 
    .container-event .main-event .event .card-news:nth-of-type(1) .content-news h2 {
        font-size: 22px;
        line-height: 32px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news .label-news span{
        font-size: 10px;
        padding: 4px 10px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news span.time-news,
    .container-event .main-event .news .card-news .content-news .time-news, 
    .container-event .main-event .event .card-news .content-news .time-news, 
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .time-news, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news .time-news{
        font-size: 12px;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest h2{
        font-size: 16px;
        line-height: 26px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news{
        width: 100%;
        margin: 20px 0;
    }
    .container-event .main-event .news, .container-event .main-event .event{
        padding-top: 40px;
    }
    .container-event .main-event .news .card-news:nth-of-type(1), 
    .container-event .main-event .event .card-news:nth-of-type(1){
        margin-top: 40px;
    }
    .container-event .main-event .news .card-news, 
    .container-event .main-event .event .card-news{
        width: 100%;
    }
    //detail event
    .container-detail,
    .container-detail .main-detail,
    .container-detail .suggest-event{
        padding: 20px 12px;
    }
    .container-detail .suggest-event,
    .container-detail .main-detail{
        width: 100%;
    }
    .container-detail .main-detail .title-detail h1{
        font-size: 20px;
        line-height: 30px;
    }
    .container-detail .main-detail .title-detail .time-detail{
        font-size: 14px;
    }
    .container-detail .main-detail .body-detail .img__detail-title{
        height: 300px;
    }
    .container-detail .main-detail .body-detail p.desc{
        font-size: 16px;
        line-height: 34px;
    }
    .container-detail .suggest-event .title-suggest h2{
        font-size: 20px;
    }
    .container-detail .suggest-event .card-suggest .card-title{
        font-size: 15px;
        line-height: 25px;
    }
    .container-detail .suggest-event .card-suggest .card-des{
        font-size: 14px;
        line-height: 24px;
    }
    .container-detail .suggest-event .card-suggest .card-text{
        font-size: 14px;
    }
    //edit event
    .container-edit__event .main-edit__event{
        width: 95%;
        padding: 20px;
    }
    .container-edit__event header.edit-event .back-to-admin{
        padding: 6px;
    }
    .container-edit__event header.edit-event .back-to-admin svg{
        width: 30px;
        height: 30px;
    }
    .container-edit__event header.edit-event h1{
        font-size: 24px;
        margin-bottom: 14px;
    }
    .container-edit__event header.edit-event .switch-button .switch-outer{
        width: 75px;
    }
    .container-edit__event .main-edit__event h2{
        font-size: 18px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img{
        padding: unset;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar{
        width: 100%;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img .title-avatar svg{
        width: 80px;
        height: 80px;
    }
    .container-edit__event .main-edit__event .content-edit__event label.select-edit__img:hover .title-avatar span{
        font-size: 14px;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea{
        margin: unset;
        font-size: 14px;
    }
    .container-edit__event .main-edit__event .content-edit__event textarea.content-text{
        font-size: 12px;
    }
}
@media screen and (max-width: 321px) {
    .container-event .main-event .all-news .latest-news{
        height: 300px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news img{
        height: 180px;
    }
    .container-event .main-event .all-news .remaining-news .card-remaining__news h3{
        font-size: 14px;
        line-height: 24px;
    }
    .container-event .main-event .news .card-news .content-news p.desc, .container-event .main-event .event .card-news .content-news p.desc, .container-event .main-event .all-news .remaining-news .card-remaining__news p.desc{
        font-size: 12px;
        line-height: 22px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news span.time-news, .container-event .main-event .news .card-news .content-news .time-news, .container-event .main-event .event .card-news .content-news .time-news, .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .time-news, .container-event .main-event .all-news .remaining-news .card-remaining__news .time-news{
        font-size: 10px;
    }
    .container-event .main-event .all-news .content-three__latest{
        height: 400px;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest h2{
        font-size: 14px;
        line-height: 24px;
    }
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span, 
    .container-event .main-event .all-news .latest-news .card-latest__news .label-news span.new, 
    .container-event .main-event .all-news .latest-news .card-latest__news .label-news span.news, 
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.new,
    .container-event .main-event .all-news .content-three__latest .card-three__latest .main-three__latest .label-news span.news, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.new, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span.news, 
    .container-event .main-event .all-news .remaining-news .card-remaining__news .label-news span{
        font-size: 8px;
        padding: 4px 8px;
    }
    .container-event .main-event .all-news .latest-news .card-latest__news h1, .container-event .main-event .news .card-news:nth-of-type(1) .content-news h2, .container-event .main-event .event .card-news:nth-of-type(1) .content-news h2{
        font-size: 18px;
        line-height: 28px;
    }
    .container-event .main-event .news .card-news:nth-of-type(1) .content-news p.desc, .container-event .main-event .event .card-news:nth-of-type(1) .content-news p.desc{
        font-size: 12px;
        line-height: 22px;
    }
    .container-event .main-event .news .card-news img, .container-event .main-event .event .card-news img{
        height: 118px;
    }
    .container-event .main-event .news .card-news .content-news h2, .container-event .main-event .event .card-news .content-news h2{
        font-size: 16px;
        line-height: 26px;
    }
    .container-event .main-event .news, .container-event .main-event .event{
        padding: 20px 0;
    }
    //detail event 
    .container-detail .main-detail .title-detail h1{
        font-size: 16px;
        line-height: 26px;
    }
    .container-detail .main-detail .title-detail .time-detail{
        font-size: 12px;
    }
    .container-detail .main-detail .body-detail .img__detail-title{
        height: 200px;
    }
    .container-detail .main-detail .body-detail p.desc{
        font-size: 13px;
        line-height: 31px;
    }
    .container-detail .suggest-event .title-suggest{
        margin-bottom: 12px;
    }
    .container-detail .suggest-event .title-suggest h2{
        font-size: 16px;
    }
    .container-detail .suggest-event .card-suggest .card-title{
        font-size: 13px;
        line-height: 23px;
    }
    .container-detail .suggest-event .card-suggest .card-des{
        font-size: 12px;
        line-height: 22px;
    }
    .container-detail .suggest-event .card-suggest span.time-news{
        font-size: 10px;
    }
    .container-detail .suggest-event .card-suggest .card-text{
        font-size: 12px;
    }
    //edit event
    .container-edit__event header.edit-event h1{
        font-size: 18px;
    }
    .container-edit__event header.edit-event .switch-button {
        height: 28px;
    }
    .container-edit__event header.edit-event .switch-button .switch-outer{
        width: 60px;
    }
    .switch-button .switch-outer .button-toggle{
        width: 16px;
        height: 16px;
    }
    .container-edit__event header.edit-event .switch-button .switch-outer .button-indicator{
        height: 12px;
        width: 12px;
    }
}