.container-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);
}
.container-footer .header-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 30%;
    padding: 0 12px;
}
.container-footer .header-footer img{
    width: 60%;
    height: 200px;
}
.container-footer .header-footer .name-company{
    font-size: 44px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    font-weight: 700;
    color: $primarycolor;
    text-transform: uppercase;
}
.container-footer .main-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-top: 18px;
}
.container-footer .coppy-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 18px;
    // background-color: rgb(10, 10, 10);
}
.container-footer .coppy-right span{
    padding: 13px 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-self: flex-end;
}
.container-footer .coppy-right span b{
    color: $primarycolor;
    text-transform: uppercase;
}
.container-footer .email-contact{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: white;
}
.container-footer .email-contact > *,
.container-footer .info-contact > * {
    margin: 12px 0;
}
.container-footer .email-contact h1.primary-text,
.container-footer .info-contact span.primary-text {
    font-size: 32px;
    font-weight: 700;
    height: 15%;
    color: white;
}
.container-footer .email-contact h1.primary-text{
    color: $primarycolor;
    padding: 12px 0;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    text-align: center;
}
.container-footer .email-contact h1::after{
    position: absolute;
    content: "";
    width: 10%;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: $linecolor;
}
.container-footer .email-contact .list-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    align-self: flex-end;
    height: 60%;
}
.container-footer .email-contact .list-box .box-input{
    width: 33%;
    margin: 12px 20px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
.container-footer .email-contact .list-box .box-input input{
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 1px solid $primarycolor;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 22px 4px 20px;
    color: black;
    border-radius: 5px;
}
.container-footer .email-contact .list-box .box-input input:-webkit-autofill { 
    -webkit-background-clip: text;
}
.container-footer .email-contact .list-box .box-input input:focus-visible{
    border-radius: unset;
    border: 1px solid $primarycolor;
    outline: unset;
}
.container-footer .email-contact .list-box .box-input label{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
    background-color: white;
    color: black;
}
.container-footer .email-contact .list-box .box-input input:focus ~ label,
.container-footer .email-contact .list-box .box-input input:valid ~ label{
    top: 1.5%;
    color: $primarycolor;
}
.container-footer .email-contact button{
    background-color: transparent;
    border: 1px solid $primarycolor;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 30px;
    text-align: center;
    transition: .5s;
    border-radius: 5px;
    z-index: 8;
    position: relative;
    cursor: pointer;
}
.container-footer .email-contact button::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $primarycolor;
    z-index: -1;
    transition: .5s;
}
.container-footer .email-contact button:hover{
    color: white;
}
.container-footer .email-contact button:hover::after{
    width: 100%;
}
.container-footer .main-footer .info-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 60%;
    height: 100%;
}
.container-footer .main-footer .info-contact .address,
.container-footer .main-footer .info-contact .hotline,
.container-footer .main-footer .info-contact .email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 45%;
    height: 45%;
}
.container-footer .main-footer .info-contact .address{
    margin-right: 20%;
}
.container-footer .main-footer .info-contact span.material-symbols-outlined{
    color: $primarycolor;
    margin-right: 6px;
}
.container-footer .main-footer .info-contact .address .title,
.container-footer .main-footer .info-contact .hotline .title,
.container-footer .main-footer .info-contact .email .title{
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0 14px 0;
    color: white;
    padding-bottom: 12px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    text-transform: uppercase;
}
.container-footer .main-footer .info-contact .address .content,
.container-footer .main-footer .info-contact .hotline .content,
.container-footer .main-footer .info-contact .email .content{
    font-size: 14px;
    color:#8a8a8a;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 12px;
}
@media screen and (max-width: 1025px) {
    .container-footer .email-contact h1::after{
        width: 15%;
    }
    .container-footer .header-footer img{
        width: 80%;
    }
}
@media screen and (max-width: 769px) {
    .container-footer .main-footer .info-contact .address, 
    .container-footer .main-footer .info-contact .hotline, 
    .container-footer .main-footer .info-contact .email{
        width: 48%;
    }
    .container-footer .main-footer .info-contact .address{
        margin-top: unset !important;
        margin-bottom: unset !important;
    }
    .container-footer .header-footer img{
        width: 100%;
    }
}
@media screen and (max-width: 601px) {
    .footer-app{
        margin-bottom: 80px;
    }
    .container-footer .main-footer .info-contact{
        flex-direction: column;
        justify-content: space-around;
    }
    .container-footer .main-footer .info-contact .address, 
    .container-footer .main-footer .info-contact .hotline, 
    .container-footer .main-footer .info-contact .email{
        width: 90%;
        margin: unset;
        height: 30%;
    }
    .container-footer .header-footer img{
        height: 150px;
    }
    .container-footer .email-contact h1::after{
        width: 20%;
    }
    .container-footer .email-contact .list-box{
        justify-content: space-around;
    }
    .container-footer .email-contact .list-box .box-input{
        margin: 12px 0;
        width: 45%;
    }
}
@media screen and (max-width: 415px) {
    .container-footer .main-footer{
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .container-footer .main-footer .info-contact{
        width: 95%;
    }
    .container-footer .main-footer .info-contact .address, 
    .container-footer .main-footer .info-contact .hotline, 
    .container-footer .main-footer .info-contact .email{
        width: 100%;
    }
    .container-footer .main-footer .info-contact .address .title, 
    .container-footer .main-footer .info-contact .hotline .title, 
    .container-footer .main-footer .info-contact .email .title {
        font-size: 14px;
    }
    .container-footer .main-footer .info-contact .address .content, 
    .container-footer .main-footer .info-contact .hotline .content, 
    .container-footer .main-footer .info-contact .email .content{
        font-size: 12px;
    }
    .container-footer .main-footer .info-contact span.material-symbols-outlined{
        font-size: 22px;
    }
    .container-footer .header-footer img {
        height: 100px;
    }
    .container-footer .coppy-right span{
        font-size: 14px;
    }
    .container-footer .email-contact h1.primary-text{
        font-size: 18px;
    }
    .container-footer .email-contact .list-box .box-input{
        width: 90%;
    }
    .container-footer .email-contact .list-box .box-input input{
        height: 55px;
    }
    .container-footer .email-contact button{
        font-size: 18px;
    }
}
@media screen and (max-width: 321px) {
    .footer-app{
        margin-bottom: 70px;
    }
    .container-footer .coppy-right span{
        font-size: 12px;
    }
    .container-footer .email-contact h1.primary-text {
        font-size: 16px;
    }
    .container-footer .email-contact .list-box .box-input input{
        height: 50px;
    }
    .container-footer .email-contact button{
        font-size: 16px;
    }
}