.navbar{
    width: 100%;
    height: 85px;
    color: $primarycolor;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: unset;
}
.navbar-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: $primarycolor;
    text-decoration: none;
}
.navbar-right a {
    width: 150px;
    height: 100%;
    transform: translateX(60%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-right a img{
    width: 100%;
    height: 85%;
    text-decoration: none;
}
.navbar-right a.name-company{
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    right: 37%;
    letter-spacing: 4px;
    word-spacing: 1.5px;
    text-decoration: none;
    color: $primarycolor;
    width: unset;
    transform: unset;
}
.navbar-left{
    width: 60%;
    height: 100%;
}
.navbar-left .primary-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: unset;
}
.navbar-left .primary-navbar li {
    width: 20%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-left .primary-navbar li a{
    color: #666;
    text-decoration: none;
    transition: .3s;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
.navbar-left .primary-navbar li a:hover{
    color: $primarycolor;
}
.navbar .touched {
    color: $primarycolor !important;
    cursor: default;
}
.navbar-left .touched{
    color: $primarycolor !important;
    cursor: default;
    position: relative;
}
.navbar-left .touched::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: $primarycolor;
}