.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
.navbar .navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
}
.navbar .navbar-inner .navbar-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.navbar .navbar-inner .navbar-right .logo-company{
    width: 40%;
    height: 100%;
}
.navbar .navbar-inner .navbar-right .logo-company img{
    width: 100%;
    height: 100%;
}
.navbar .navbar-inner .primary-navbar{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar .navbar-inner .primary-navbar li{
    list-style-type: none;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .navbar-inner .primary-navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
    height: 80%;
    width: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-inner .touched{
    cursor: default;
    pointer-events: none;
}
.navbar-inner li a.touched,
.navbar-inner li a:hover{
    background-color: $primarycolor;
    color: white !important;
    border-radius: 5px;
}