.container-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  background-color: $backgroundLight;
}
.container-home header{
  width: 100%;
  height: 65vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #A08857;
  background: linear-gradient(90deg, rgba(160, 136, 87, 1) 0%, rgba(209, 199, 164, 1) 50%, transparent 100%), 
            url('/img/allproductsposter.png') right / contain no-repeat;

}
.container-home header h1{
  font-size: 70px;
  font-weight: 800;
  color: $accentColor;
  letter-spacing: 2px;
  text-shadow:
      /* regular text-shadow */
      0 .08ch 18px white,
      /* text-shadow highlight */
      0 -2px 0 $primaryColor;
}
.container-home header span{
  font-size: 30px;
  font-weight: 500;
  margin: 12px 0;
  text-align: center;
  line-height: 1.5;
  color: $backgroundDark;
}
.container-home header p.kh{
  color: $backgroundDark;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  // text-shadow:
  //     /* regular text-shadow */
  //     0 .15ch 10px $linecolor,
  //     /* text-shadow highlight */
  //     0 -2px 0 $primarycolor;
}
.container-home header p.slogan{
  font-size: 26px;
  font-weight: 400;
  margin: unset;
  margin-top: 40px;
  font-style: italic;
  transform: skew(-3deg);
  color: $textPrimary;
}
.container-home .main-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-home .main-home .reason-choose-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}
.container-home .main-home .reason-choose-us h1{
  color: $accentColor;
  font-weight: 700;
  padding-bottom: 16px;
  position: relative;
  text-transform: uppercase;
}
.container-home .main-home .reason-choose-us h1::before,
.container-home .main-home .reason-choose-us h1::after,
.container-home .main-home .honor-section h1::after,
.container-home .main-home .honor-section h1::before{
  content: "";
  width: 90%;
  height: 4px;
  position: absolute;
  background-color: #6C6C6C;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container-home .main-home .reason-choose-us h1::after,
.container-home .main-home .honor-section h1::after{
  width: 40%;
  background-color: $hoverBorder;
}
.container-home .main-home .reason-choose-us span{
  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0;
  color: $textPrimary;
}
.container-home .main-home .reason-choose-us span b{
  color: $accentColor;
}
.container-home .main-home .reason-choose-us .list-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: stretch;
}
.container-home .main-home .reason-choose-us .list-card .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
  background-color: $background;
  flex: 1;
  color: $textPrimary;
}
.container-home .main-home .reason-choose-us .list-card .card:nth-child(odd){
  background-color: $backgroundDark;
  color: white;
}
// .container-home .main-home .reason-choose-us .list-card .card span.material-symbols-outlined{
//   color: $primarycolor;
//   font-size: 50px;
//   margin: 0 0 8px 0 ;
// }
.container-home .main-home .reason-choose-us .list-card .card img{
  width: 100px;
  height: 100px;
  padding: 0 16px;
}
.container-home .main-home .reason-choose-us .list-card .card .box-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex: 1;
}
.container-home .main-home .reason-choose-us .list-card .card span.title{
  font-size: 24px;
  font-weight: 600;
  margin: 6px 0;
  text-transform: capitalize;
  padding: 0 16px;
  color:  $textPrimary;
}
.container-home .main-home .reason-choose-us .list-card .card:nth-child(odd) span.title{
  color: white;
}
.container-home .main-home .reason-choose-us .list-card .card span.main-info{
  font-size: 14px;
  font-weight: 400;
  margin: 6px 0;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 0 16px;
  color: $textSecondary;
}
.container-home .main-home .reason-choose-us .list-card .card:nth-child(odd) span.main-info{
  color: #ababab;
}
.container-home .main-home .reason-choose-us .reason-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 30px 0 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
    
}
.container-home .main-home .reason-choose-us .reason-footer .col {
  padding: 20px 0px;
}

.container-home .main-home .reason-choose-us .reason-footer .left p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  color: $textPrimary;
  text-transform: uppercase;
  padding-right: 65px;
  border-right:1px solid $hoverBorder;
  position: relative;
  padding-bottom: 20px;
}
.container-home .main-home .reason-choose-us .reason-footer .left p::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $hoverBorder;
  height: 6px;
  width: 10%;
}
.container-home .main-home .reason-choose-us .reason-footer .right{
  display: flex;
  align-items: center;
}
.container-home .main-home .reason-choose-us .reason-footer .right p {
  color: $textSecondary;
  line-height: 1.8;
  padding-left: 65px;
  text-align: justify;
}

.container-home .main-home .about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $backgroundDark;
  background: $gradientDark;
  padding: 40px 0;
}
.container-home .main-home .about-us h1{
  color: $accentColor;
  width: 100%;
  padding: 12px 0;
  position: relative;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.container-home .main-home .best-seller h1,
.container-home .main-home .list-event h1{
  width: 100%;
  padding: 12px 0;
  color: $accentColor;
  position: relative;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
.container-home .main-home .about-us h1::before,
.container-home .main-home .best-seller h1::before,
.container-home .main-home .list-event h1::before{
  content: "";
  position: absolute;
  width: 8%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $hoverBorder;
}
.container-home .main-home .about-us h1::before{
  background-color: $hoverBorder;
}
.container-home .main-home .about-us .box-introduce{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  padding: 20px;
}

.container-home .main-home .about-us .box-introduce .introduce{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 45%;
  color: white;
}
.container-home .main-home .about-us .box-introduce .introduce span{
  text-align: justify;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}
.container-home .main-home .about-us .box-introduce .introduce span:first-child{
  margin-top: unset;
}
.container-home .main-home .about-us .box-introduce .introduce .read-more{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 16px 20px;
  border: 1px solid $accentColor;
  background-color: $accentColor;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  transition: all .5s;
  z-index: 8;
  margin-top: 20px;
}
// .container-home .main-home .about-us .box-introduce .introduce .read-more::after{
//   content: "";
//   position: absolute;
//   width: 0;
//   height: 100%;
//   left: 0;
//   background-color: $hoverBorder;
//   z-index: -1;
//   transition: all .5s;
// }
.container-home .main-home .about-us .box-introduce .introduce .read-more:hover{
  border: 1px solid $hoverBorder;
  box-shadow: $shadow;
}
.container-home .main-home .about-us .box-introduce .img-introduce{
  width: 45%;
  border: 2px solid $hoverBorder;
  padding: 10px;
}

.container-home .main-home .honor-section {
  text-align: center;
  padding: 40px 0;
  width: 80%;
}

.container-home .main-home .honor-section h1 {
  display: inline-block;
  font-weight: 700;
  color: $accentColor;
  margin-bottom: 12px;
  padding-bottom: 16px;
  position: relative;
}

.container-home .main-home .honor-section p.content {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0;
  color: $textSecondary;
}

.container-home .main-home .badge-slider {
  width: 100%;
  overflow: hidden;
  background: $backgroundLight;
  padding: 10px 0;
}

.container-home .main-home .slide-track {
  display: flex;
  gap: 20px;
  height: 100%;
  height: auto;
}
.container-home .main-home .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: $background;
  padding: 12px;
  box-shadow: $shadow;
  border: 1px solid $hoverBorder;
  border-radius: 5px;
  height: 400px;
}

.container-home .main-home .slide-track img {
  height: 70%;
  width: 100%;
  object-fit: contain;
}
.container-home .main-home .swiper-slide .bottom{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 30%;
    padding: 12px 20px;
}
.container-home .main-home .swiper-slide .bottom h2{
    font-size: 24px;
    color: $textPrimary;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.container-home .main-home .swiper-slide .bottom p{
  font-size: 14px;
  color: $textSecondary;
}
.container-home .main-home .stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  text-align: center;
  width: 80%;
  padding: 40px 0;
}
.container-home .main-home .stats .stats-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
    
}
// .container-home .main-home .stats .stats-header .col {
//   width: 35%;
// }
.container-home .main-home .stats .stats-header p{
  padding-bottom: 20px;
  text-align: start;
}
.container-home .main-home .stats .stats-header .left p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  color: $textPrimary;
  text-transform: uppercase;
  padding-right: 65px;
  position: relative;
  border-right:1px solid $hoverBorder;
}
.container-home .main-home .stats .stats-header .left p::after{
  content: "";
  width: 10%;
  height: 6px;
  position: absolute;
  background-color: $hoverBorder;
  bottom: 0;
  left: 0;
}
.container-home .main-home .stats .stats-header .right{
  display: flex;
  align-items: center;
}
.container-home .main-home .stats .stats-header .right p {
  color: $textSecondary;
  line-height: 1.8;
  padding-left: 65px;
  text-align: justify;
  padding-bottom: unset;
}

.container-home .main-home .stats .stat{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-size: 18px;
  transition: transform 0.6s ease, opacity 0.6s ease;
  padding: 20px;
  border-radius: 8px; 
  background-color: $background;
  box-shadow: $shadow;
  border: 1px solid $hoverBorder;
}
.container-home .main-home .stats .stat .counter {
  font-size: 56px;
  font-weight: 700;
  color: $textPrimary; /* màu chủ đạo Thiên Phú */
  display: block;
  line-height: 1;
  flex: 1;
}
.container-home .main-home .stats .stat p {
  font-size: 24px;
  font-weight: 600;
  color: $textPrimary;
  margin-top: 12px;
  flex: 1;
}
.container-home .main-home .stats .stat p.content{
  font-weight: 400;
  font-size: 14px;
  color: $textSecondary;
  flex: 1;
}
.fade-up {
  opacity: 0;
  transform: translateY(40px);
}
.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
.container-home .main-home .best-seller{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  background-color: $background;
}
.container-home .main-home .best-seller .list-product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 40px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.container-home .main-home .best-seller .list-product .product{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 450px;
  position: relative;
  overflow: hidden;
  border: 1px solid $hoverBorder;
  background-color: #FFFFFF;
}
.container-home .main-home .best-seller .list-product .product img{
  width: 100%;
  height: 310px;
}
.container-home .main-home .best-seller .list-product .product .box-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundLight;
  position: absolute;
  bottom: calc(450px / 2 - 310px);
  height: 50%;
  transform: translateY(0);
  padding: 50px 45px 25px 45px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.07);
  text-align: center;
  z-index: 4;
  transition: 0.5s ease;
  overflow: hidden;
  gap: 20px;
  flex: 1;
}
.container-home .main-home .best-seller .list-product .product:hover .box-content{
  bottom: 0;
}
.container-home .main-home .best-seller .list-product .product .box-content::after{
  content: "PCB40";
  background-color: $accentColor;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
}
.container-home .main-home .best-seller .list-product .product .box-content.pcb40-ms::after{
  content: "PCB40-MS";
}
.container-home .main-home .best-seller .list-product .product .box-content h3{
  font-size: 24px;
  font-weight: 600;
  color: $textPrimary;
  text-align: center;
}
.container-home .main-home .best-seller .list-product .product .box-content p{
  color: $textSecondary;
  font-size: 14px;
  flex: 1;
}
.container-home .main-home .best-seller .list-product .product .box-content a{
  text-decoration: none;
  font-size: 16px;
  
}
.container-home .main-home .best-seller .list-product .product::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.container-home .main-home .best-seller .list-product .product:hover::after {
  opacity: 1;
}

.container-home .main-home .best-seller .list-product .product span.visited-product,
.container-home .main-home .best-seller .see-all{
  font-size: 16px;
  border: 1px solid $accentColor;
  color: white;
  background-color: $accentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
  padding: 10px 16px;
  font-weight: 600;
  position: relative;
  z-index: 8;
  transition: all .5s;
  text-transform: capitalize;
  border-radius: 5px;
  width: unset;
}
.container-home .main-home .best-seller .see-all{
  padding: 14px 20px;
  font-size: 22px;
  font-weight: 600;
}
.container-home .main-home .best-seller .list-product .product span.visited-product:hover,
.container-home .main-home .best-seller .see-all:hover{
  border: 1px solid $hoverBorder;
  box-shadow: $shadow;
}
.container-home .main-home .list-event{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}
.container-home .main-home .list-event .container-event__home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px 0;
  margin: unset;
}
.container-home .main-home .list-event .container-event__home .event{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 400px;
  position: relative;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  background-color: white;
  border: 1px solid transparent;
  transition: all .5s ease;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.07);
  margin-bottom: 70px;
}
.container-home .main-home .list-event .container-event__home .event .background{
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}
.container-home .main-home .list-event .container-event__home .event .background img{
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 2;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.container-home .main-home .list-event .container-event__home .event .background::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .5s;
  top: 0;
  left: 0;
}
.container-home .main-home .list-event .container-event__home .event:hover .background::after{
  opacity: 1;
}
.container-home .main-home .list-event .container-event__home .event .background .category{
  color: white;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 12px;
  left: 6px;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
  background: $accentColor;
  animation: pulse 2s infinite;
  border-radius: 5px;
}
.container-home .main-home .list-event .container-event__home .event:hover{
  box-shadow: 0 4px 4px 8px rgba(209, 199, 164,0.2);
  border: 1px solid $hoverBorder;
  transform: translateY(-5px);
}
.container-home .main-home .list-event .container-event__home .event:hover img{
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.container-home .main-home .list-event .container-event__home .event .content-event{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  padding: 12px 8px;
}
.container-home .main-home .list-event .container-event__home .event .content-event .time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
  top: 12px;
  right: 6px;
  background-color: $backgroundLight;
  color: $textPrimary;
  padding: 4px 8px;
  border-radius: 5px;
  z-index: 3;
  text-transform: uppercase;
  gap: 4px;
  box-shadow:  $shadow;
}
.container-home .main-home .list-event .container-event__home .event .content-event .time .date{
  font-weight: 800;
  word-spacing: 4px;
  color: $primaryColor;
}
// .container-home .main-home .list-event .container-event__home .event .content-event .time span.material-symbols-outlined{
//   padding: 4px;
//   margin-right: 4px;
//   font-size: 24px;
// }
.container-home .main-home .list-event .container-event__home .event .title{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // height: 35%;
  color: $textPrimary;
  padding: 0 12px;
}
.container-home .main-home .list-event .container-event__home .event .content{
  width: 100%;
  flex: 1;
  padding: 6px 12px;
}
.container-home .main-home .list-event .container-event__home .event .content span{
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  color: $textSecondary;
}
//responsive macbook
@media screen and (min-width: 1279px) and (max-width: 1441px){
  .container-home header{
    height: 70vh;
  }
  .container-home header h1{
    font-size: 60px;
  }
  .container-home header span b{
    font-size: 46px;
  }
  .container-home header p{
    text-align: center;
    width: 80%;
    font-size: 26px;
  }
  .container-home .main-home .reason-choose-us span{
    text-align: center;
    font-size: 18px;
    padding: 0 100px;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.title{
    font-size: 22px;
  }
  // .container-home .main-home .reason-choose-us .list-card{
  //   flex-wrap: wrap;
  // }
  // .container-home .main-home .reason-choose-us .list-card .card{
  //   width: 30%;
  // }
  // .container-home .main-home .reason-choose-us .list-card .card:nth-child(2) span.title,
  // .container-home .main-home .reason-choose-us .list-card .card:nth-child(5) span.title {
  //   height: 46px;
  // }
  // .container-home .main-home .reason-choose-us .list-card .card:nth-child(2){
  //   order: 4;
  // }
  // .container-home .main-home .about-us{
  //   height: 100vh;
  // }
  .container-home .main-home .about-us .box-introduce .introduce span{
    margin: 16px 0;
    font-size: 16px;
  }
  .container-home .main-home .about-us .box-introduce .img-introduce{
    width: 50%;
  }
  .container-home .main-home .about-us .box-introduce .introduce .read-more{
    font-size: 16px;
  }
  .container-home .main-home .stats .stat .counter{
    font-size: 46px;
  }
  .container-home .main-home .best-seller .list-product .product .box-content{
    padding: 50px 30px 25px;
    gap: 14px;
  }
  .container-home .main-home .best-seller .list-product .product .box-content h3{
    font-size: 20px;
    
  }
  .container-home .main-home .list-event .container-event__home .event .title{
    font-size: 20px;
    margin-bottom: 0;
  }
}
//responsive all devices
@media screen and (max-width: 1025px){
  .container-home header{
    height: 40vh;
  }
  .container-home header p{
    text-align: center;
    padding: 0 100px;
  }
  .container-home .main-home .reason-choose-us span{
    text-align: center;
    font-size: 18px;
    padding: 0 100px;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.title{
    font-size: 16px;
  }
  .container-home .main-home .reason-choose-us .list-card .card img{
    width: 90px;
    height: 90px;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.main-info{
    font-size: 13px;
  }
  .container-home .main-home .reason-choose-us .reason-footer .left p{
    font-size: 16px;
    padding-right: 35px;
  }
  .container-home .main-home .reason-choose-us .reason-footer .right p{
    font-size: 13px;
    padding-left: 35px;
  }
  .container-home .main-home .reason-choose-us .reason-footer .left p::after{
    width: 35%;
  }
  .container-home .main-home .about-us h1{
    font-size: 24px;
  }
  .container-home .main-home .about-us .box-introduce{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .container-home .main-home .about-us .box-introduce .introduce{
    width: 100%;
    order: 2;
    align-items: center;
  }
  .container-home .main-home .about-us .box-introduce .img-introduce{
    width: 90%;
    order: 1;
  }
  .container-home .main-home .about-us .box-introduce .introduce span{
    font-size: 14px;
  }
  .container-home .main-home .about-us .box-introduce .introduce span{
    margin: 12px 0;
  }
  .container-home .main-home .about-us .box-introduce .introduce .read-more{
    font-size: 16px;
    padding: 12px 18px;
  }
  .container-home .main-home .best-seller .list-product{
    width: 90%;
    justify-content: space-around;
  }
  .container-home .main-home .best-seller .list-product .product{
    margin: unset;
    margin-bottom: 60px;
    height: 450px;
  }
  .container-home .main-home .best-seller .list-product .product img {
    // height: 65%;
    width: 65%;
  }
  .container-home .main-home .best-seller .list-product .hatienpcb40 img{
    width: 50%;
  }
  .container-home .main-home .best-seller .list-product .product .background-product{
    height: 350px;
  }
  .container-home .main-home .best-seller .list-product .product span.name-product{
   height: 50px;
   padding: 4px 0;
  }
}
@media screen and (max-width: 769px) {
  .container-home header{
    height: 40vh;
  }
  .container-home header h1{
    font-size: 50px;
  }
  .container-home header span{
    font-size: 24px;
  }
  .container-home header span b{
    font-size: 36px;
  }
  .container-home header p{
    font-size: 18px;
  }
  .container-home .main-home .reason-choose-us{
    height: 55vh;
  }
  .container-home .main-home .reason-choose-us h1,
  .container-home .main-home .about-us h1, 
  .container-home .main-home .best-seller h1, 
  .container-home .main-home .list-event h1{
    font-size: 28px;
  }
  .container-home .main-home .reason-choose-us span{
    font-size: 16px;
  }
  .container-home .main-home .reason-choose-us .list-card .card img{
    width: 40px;
    height: 40px;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.title{
    font-size: 16px;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.main-info{
    font-size: 14px;
  }
  .container-home .main-home .about-us .introduce{
    width: 90%;
    order: 2;
    padding: unset;
  }
  .container-home .main-home .about-us .img-introduce {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    padding: unset;
    align-items: center;
  }
  .container-home .main-home .about-us{
    height: unset;
    flex-direction: row;
  }
  .container-home .main-home .about-us .img-introduce .img-2{
    width: 47%;
    height: 250px;
  }
  .container-home .main-home .about-us .img-introduce .img-1{
    position: unset;
    width: 47%;
    height: 250px;
  }
  .container-home .main-home .best-seller .list-product .product{
    width: 32%;
    height: 400px;
  }
  .container-home .main-home .best-seller .list-product .product .background-product{
    height: 300px;
  }
  // .container-home .main-home .best-seller .list-product .product img{
  //   height: 60%;
  //   width: 76%;
  // }
  .container-home .main-home .best-seller .list-product .hatienpcb40 img{
    width: 54%;
  }
  .container-home .main-home .best-seller .list-product .product span,
  .container-home .main-home .best-seller .list-product .product span.visited-product {
    font-size: 14px;
  }
  .container-home .main-home .best-seller .see-all{
    font-size: 20px;
  }
  .container-home .main-home .list-event .container-event__home{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container-home .main-home .list-event .container-event__home .event{
    width: 47%;
  }
  .container-home .main-home .list-event .container-event__home .event .title{
    height: 30%;
  }
  .container-home .main-home .list-event .container-event__home .event:nth-child(1){
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 601px) {
  .container-home{
    margin-top: unset;
  }
  .container-home .main-home .reason-choose-us .list-card .card{
    padding: 0px 12px;
  }
  .container-home .main-home .reason-choose-us .list-card .card:nth-child(2),
  .container-home .main-home .reason-choose-us .list-card .card:nth-child(5){
    width: 45%;
  }
  .container-home .main-home .reason-choose-us h1, 
  .container-home .main-home .about-us h1, 
  .container-home .main-home .best-seller h1, 
  .container-home .main-home .list-event h1{
    font-size: 26px;
  }
  .container-home .main-home .reason-choose-us span{
    font-size: 14px;
    padding: 0 50px;
    margin: 10px 0;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.title{
    font-size: 14px;
    font-weight: 500;
    height: unset;
  }
  .container-home .main-home .reason-choose-us .list-card .card:nth-child(2) span.title,
  .container-home .main-home .reason-choose-us .list-card .card:nth-child(5) span.title{
    height: unset;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.main-info{
    font-size: 12px;
  }
  .container-home .main-home .about-us .introduce span{
    font-size: 16px;
  }
}
@media screen and(max-width: 415px) {
  .container-home header h1{
    font-size: 30px;
  }
  .container-home header span{
    font-size: 20px;
  }
  .container-home header span b{
    font-size: 28px;
  }
  .container-home header p{
    font-size: 16px;
    padding: 0 30px;
  }
  .container-home .main-home .reason-choose-us{
    height: unset;
    padding: 20px 0;
  }
  .container-home .main-home .reason-choose-us h1, 
  .container-home .main-home .about-us h1, 
  .container-home .main-home .best-seller h1, 
  .container-home .main-home .list-event h1{
    font-size: 20px;
  }
  .container-home .main-home .reason-choose-us span{
    font-size: 12px;
    padding: 0 30px;
  }
  .container-home .main-home .reason-choose-us .list-card .card{
    width: 90%;
    margin: 14px 0 0 0;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.title{
    font-size: 14px;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.main-info{
    font-size: 10px;
  }
  .container-home .main-home .reason-choose-us .list-card .card:nth-child(2), .container-home .main-home .reason-choose-us .list-card .card:nth-child(5) {
    width: 90%;
  }
  .container-home .main-home .reason-choose-us .list-card .card span.main-info{
    height: unset;
  }
  .container-home .main-home .about-us .img-introduce{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container-home .main-home .about-us .img-introduce .img-2,
  .container-home .main-home .about-us .img-introduce .img-1{
    width: 100%;
    height: 200px;
  }
  .container-home .main-home .about-us .img-introduce .img-2{
    margin-bottom: 40px;
  }
  .container-home .main-home .about-us .introduce span{
    font-size: 14px;
    margin: 14px 0;
  }
  .container-home .main-home .about-us .introduce .read-more{
    font-size: 14px;
    padding: 12px 14px;
  }
  .container-home .main-home .best-seller .list-product{
    flex-wrap: wrap;
  }
  .container-home .main-home .best-seller .list-product .product{
    width: 90%;
    align-items: center;
    margin-bottom: 40px;
  }
  .container-home .main-home .best-seller .list-product .product span.name-product{
    height: unset;
    text-align: center;
  }
  .container-home .main-home .best-seller .list-product .product img{
    width: 45%;
  }
  .container-home .main-home .best-seller .list-product .hatienpcb40 img{
    width: 40%;
  }
  .container-home .main-home .best-seller .see-all{
    font-size: 16px;
  }
  .container-home .main-home .list-event .container-event__home .event{
    width: 100%;
    margin-bottom: 20px;
  }
  .container-home .main-home .list-event .container-event__home .event .title{
    height: unset;
  }
}
@media screen and (max-width: 321px) {
  .container-home header h1 {
    font-size: 26px;
  }
  .container-home header span {
    font-size: 16px;
  }
  .container-home header span b{
    font-size: 24px;
  }
  .container-home header p{
    font-size: 14px;
    padding: 0 15px;
  }
  .container-home .main-home .reason-choose-us span{
    padding: 0 15px;
  }
  .container-home .main-home .best-seller .list-product .product img{
    width: 55%;
  }
}
