.sidebar-list__items {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 10;
  box-shadow: 4px 4px 20px rgba(255,255,255,0.2);
}
.sidebar-list__items #sidebar-list{
  padding: unset;
  margin: unset; 
}
.sidebar-item {
  list-style-type: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.sidebar-item a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: .5s;
}
.sidebar-item a:hover {
  color: #e3b76e;
}
.sidebar-item a.active,
.sidebar-item.active a {
  color: #e3b76e;
  position: relative;
}
.sidebar-item a.active::after{
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e3b76e;
  top: 0;
  left: 54%;
  transform: translatex(-50%);
  z-index: 9;
}
.container-home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container-home::-webkit-scrollbar {
  width: 0;
}

.container-home::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-home::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container-home .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  transition: transform 2s;
}
.container-home .card #carouselExampleInterval,
.container-home .card #carouselExampleInterval .carousel-inner,
.container-home .card #carouselExampleInterval .carousel-inner .carousel-item{
  width: 100%;
  height: 100%;
}
.container-home .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.container-home .card .card-content {
  z-index: 2;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation-name: typewriter;
  animation-duration: 5s;
  animation-direction: reverse;
}
