.sidebar-list__items {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
  z-index: 10;
  box-shadow: 4px 4px 20px rgba(255,255,255,0.2);
}
.sidebar-list__items #sidebar-list{
  padding: unset;
  margin: unset; 
}
.sidebar-item {
  list-style-type: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.sidebar-item a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: .5s;
}
.sidebar-item a:hover {
  color: #e3b76e;
}
.sidebar-item a.active,
.sidebar-item.active a {
  color: #e3b76e;
  position: relative;
}
.sidebar-item a.active::after{
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e3b76e;
  top: 0;
  left: 54%;
  transform: translatex(-50%);
  z-index: 9;
}
.container-home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container-home::-webkit-scrollbar {
  display: none;
}

.container-home::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-home::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.container-home .card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
}
.container-home .card #carouselExampleInterval,
.container-home .card #carouselExampleInterval .carousel-inner,
.container-home .card #carouselExampleInterval .carousel-inner .carousel-item{
  width: 100%;
  height: 100%;
}
.container-home .card img {
  width: 100%;
  height: 100%;
}
.container-home .card .card-content {
  z-index: 2;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.container-home .card-slogan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #dcdcdc;
}
.container-home .card-slogan .card-content{
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.container-home .card-slogan .card-content span.primary-text{
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 12px 0;
}
.container-home .card-slogan .card-content span.primary-text b{
  color: $primarycolor;
}
.container-home .card-slogan .card-content span.slogan{
  font-size: 36px;
  font-weight: 700;
  color: #d4d4d4;
  background: linear-gradient(35deg,#999 20%,#666 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 12px 0 20px 0;
}
.container-home .card-slogan .card-choose{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
}
.container-home .card-slogan .card-choose .primary-text{
  color: $primarycolor;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  padding: 8px 0;
}
.container-home .card-slogan .card-choose .primary-text::before{
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #666;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container-home .card-slogan .card-choose .primary-text::after{
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #ed2324;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container-home .card-slogan .card-choose .secondary-text{
  font-size: 20px;
  margin: 12px 0 18px 0;
  text-align: center;
}
.container-home .card-slogan .card-choose .secondary-text b{
  color: $primarycolor;
}
.container-home .card-slogan .card-choose .main-choose{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.container-home .card-slogan .card-choose .main-choose .item__main-choose{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 200px;
}
.container-home .card-slogan .card-choose .main-choose .item__main-choose .material-symbols-outlined{
  color: $primarycolor;
  font-size: 40px;
  height: 25%;
  text-align: center;
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
}
.container-home .card-slogan .card-choose .main-choose .item__main-choose .title{
  height: 20%;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.container-home .card-slogan .card-choose .main-choose .item__main-choose .main-info{
  height: 55%;
  width: 90%;
  font-size: 16px;
  text-align: center;
}
.container-home .card-ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container-home .card-ads img.trucks{
  position: absolute;
  top: 53%;
  right: 40%;
  width: 350px;
  height: 110px;
}
.container-home .card-ads img.product{
  position: absolute;
  top: 38%;
  right: -3%;
  width: 850px;
  height: 500px;
}
.container-home .card-ads .main-ads{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url('/img/headerads.jpg') center / cover no-repeat;
  width: 100%;
  height: 70%;
}
.container-home .card-ads .main-ads .logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 25%;
}
.container-home .card-ads .main-ads .logo img{
  width: 280px;
  height: 180px;
}
.container-home .card-ads .main-ads .logo .text{
  display: flex;
  flex-direction: column;
}
.container-home .card-ads .main-ads .logo .text span{
  font-size: 36px;
  font-weight: 700;
  color: $primarycolor;
  text-transform: uppercase;

}
.container-home .card-ads .footer-ads{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-home .card-ads .footer-ads .slogan{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 53%;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  padding-left: 26px;
}
.container-home .card-ads .footer-ads .slogan span b{
  color: $primarycolor;
}
.container-home .card-ads .footer-ads .hotline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 45%;
  font-size: 30px;
  padding: 0 26px;
}
.container-home .card-intro{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.container-home .card-intro .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.container-home .card-intro .left > *{
  padding: 0 80px 0 32px;
  margin: 14px 0;
}
.container-home .card-intro .left span.about{
  color: $primarycolor;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.container-home .card-intro .left span.intro{
  font-size: 16px;
  letter-spacing: 1.5px;
}
.container-home .card-intro .left a {
  height: 40px;
  width: 146px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  margin-left: 32px;
  position: relative;
  transition: .5s;
  z-index: 8;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.container-home .card-intro .left a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primarycolor;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  z-index: 4;
}
.container-home .card-intro .left a:hover {
  color: white;
  border: 1px solid $primarycolor;
}

.container-home .card-intro .left a:hover::before {
  width: 100%;
  opacity: 1;
  content: "Xem Chi Tiết";
  padding: 8px 16px;
}
.container-home .card-intro .right{
  width: 50%;
  height: 100%;
}
.container-home .card-intro .right img{
  width: 100%;
  height: 100%;
}
.container-home .card-event{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-home .card-event span{
  font-size: 50px;
  font-weight: 700;
  color: black;
  height: 20%;
  display: flex;
  align-items: end;
}
.container-home .card-event span b{
  color: $primarycolor;
  margin-left: 12px;
}
.container-home .card-event .list-event{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  width: 100%;
}
.container-home .card-event .list-event .event{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height:100%;
}
.container-home .card-event .list-event .event img{
  width: 100%;
  height: 40%;
}
.container-home .card-event .list-event .event .time{
  font-size: 12px;
  font-weight: 700;
  color: #aeaeae;
  height: 5%;
}
.container-home .card-event .list-event .event .title{
  font-size: 24px;
  font-weight: 600;
  height: 15%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
}
.container-home .card-event .list-event .event .content{
  font-size: 18px;
  font-weight: 400;
  height: 29%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.container-home .card-event .visited{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
.container-home .card-event .visited a {
  height: 40px;
  width: 146px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  position: relative;
  transition: .5s;
  z-index: 8;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  align-self: start;
  text-align: center;
}
.container-home .card-event .visited a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primarycolor;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  z-index: 4;
}
.container-home .card-event .visited a:hover{
  color: white;
  border: 1px solid $primarycolor;
}
.container-home .card-event .visited a:hover::before{
  width: 100%;
  opacity: 1;
  content: "Xem Tất Cả";
  padding: 8px 16px;
}

