.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
    min-height: 100vh;
    position: relative;
}
.container-login .toast{
    top: calc(110px + 30px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container-login .toast.error::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: $errorcolor;
}
.container-login .background-inside{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/bginside.jpg') center / cover no-repeat;
    z-index: 1;
}
.container-login .background-inside .back-drop{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}
.container-login .box-login{
    z-index: 2;
    width: 70%;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
.container-login .box-login .left-box{
    width: 35%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 80px 40px 80px 50px;
}
.container-login .box-login .left-box .background-inside__left{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('/img/bginsidelogin.jpg') center / cover no-repeat;
}
.container-login .box-login .left-box .background-inside__left .back-drop__left{
    width: 100%;
    height: 100%;
    background-color: rgba(188, 159, 110, 0.95);
}
.container-login .box-login .left-box .top-left{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 2;
    color: white;
}
.container-login .box-login .left-box .top-left h1{
    letter-spacing: 1.2px;
    word-spacing: 2px;
    margin-bottom: 50px;
}
.container-login .box-login .left-box .top-left p{
    letter-spacing: 1.2px;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
}
.container-login .box-login .left-box .bottom-left{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 2;
}
.container-login .box-login .left-box .bottom-left img{
    width: 40%;
    height: 40%;
    opacity: 0.3;
}
.container-login .box-login .right-box{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 80px 60px;
}
.container-login .box-login .right-box .primary-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 30px;
}
.container-login .box-login .right-box .primary-right img{
    width: 60%;
    height: 80px;
    margin-bottom: 12px;
}
.container-login .box-login .right-box .primary-right p{
    font-size: 18px;
    font-weight: 500;
    width: 70%;
    text-align: center;
    line-height: 30px;
    padding: 6px 12px;
}
.container-login .box-login .right-box .login-info{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    // margin-bottom: 30px;
    position: relative;
    border-radius: 2px;
}
.container-login .box-login .right-box .login-info label{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: #9294a0;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
    background-color: white;
}
.container-login .box-login .right-box .login-info label.animation-label{
    left: 60px;
    transition: .3s;
}
.container-login .box-login .right-box .login-info svg{
    width: 30px;
    height: 30px;
    fill: #9294a0;
    transition: .3s;
}
.container-login .box-login .right-box .login-info input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid $primarycolor;
    background: unset;
    padding: 6px 60px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.container-login .box-login .right-box .login-info .show-password{
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9294a0;
}
.container-login .box-login .right-box .username input:focus ~ label.animation-label__username,
.container-login .box-login .right-box .password input:focus ~ label.animation-label__password,
.container-login .box-login .right-box .username input:valid ~ label.animation-label__username,
.container-login .box-login .right-box .password input:valid ~ label.animation-label__password{
    top: 0;
    transform: translateY(-50%);
    color: $primarycolor;
    font-size: 18px;
    padding: 6px;
}
.container-login .box-login .right-box .username input:focus ~ label.icon-login__username svg,
.container-login .box-login .right-box .password input:focus ~ label.icon-login__password svg,
.container-login .box-login .right-box .username input:valid ~ label.icon-login__username svg,
.container-login .box-login .right-box .password input:valid ~ label.icon-login__password svg{
    fill: $primarycolor;
}
.container-login .box-login .submit-login{
    align-self: center;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: $primarycolor;
    color: white;
    // margin-bottom: 30px;
}
.container-login .box-login .submit-login:hover{
    background-color: #bba887;
    cursor: pointer;
}
.container-login .box-login .support-login{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-login .box-login .support-login{
    font-size: 18px;
}
.container-login .box-login .support-login a {
    font-weight: 600;
    color: $primarycolor;
    text-decoration: none;
}
.container-login .box-login .support-login a:hover{
    color: $linecolor;
    text-decoration: underline;
}
//breakpoint macbook
@media screen and (min-width: 1279px) and (max-width: 1441px){
    .container-login{
        min-height: calc(100vh - 110px);
    }
    .container-login .box-login .left-box{
        padding: 40px 20px 40px 30px
    }
    .container-login .box-login .left-box .top-left h1{
        font-size: 26px;
    }
    .container-login .box-login .left-box .top-left p{
        font-size: 18px;
    }
    .container-login .box-login .left-box .bottom-left img{
        height: 40%;
        width: 40%;
    }
    .container-login .box-login .right-box{
        padding: 40px 60px;
    }
    .container-login .box-login .right-box .primary-right img{
        width: 60%;
        height: 60px;
    }
    .container-login .box-login .right-box .primary-right p{
        font-size: 16px;
    }
    .container-login .box-login .right-box .login-info{
        height: 50px;
    }
    .container-login .box-login .right-box .login-info.password{
        margin-top: 8px;
    }
    .container-login .box-login .right-box .login-info svg{
        height: 26px;
        width: 26px;
    }
    .container-login .box-login .right-box .login-info label,
    .container-login .box-login .right-box .login-info input{
        font-size: 18px;
    }
    .container-login .box-login .right-box .username input:focus ~ label.animation-label__username, 
    .container-login .box-login .right-box .password input:focus ~ label.animation-label__password, 
    .container-login .box-login .right-box .username input:valid ~ label.animation-label__username, 
    .container-login .box-login .right-box .password input:valid ~ label.animation-label__password,
    .container-login .box-login .support-login{
        font-size: 16px;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 26px;
    }
    .container-login .box-login .submit-login{
        padding: 16px 40px;
        margin-top: 8px;
    }
    .container-login .box-login .support-login{
        height: unset;
    }
}
@media screen and (max-width: 1025px) {
    .container-login .box-login{
        width: 90%;
        height: 50vh;
    }
    .container-login .box-login .left-box{
        width: 40%;
    }
    .container-login .box-login .right-box{
        width: 60%;
    }
    .container-login .box-login .left-box .top-left h1{
        font-size: 36px;
        line-height: 56px;
    }
    .container-login .box-login .left-box .top-left p{
        font-size: 18px;
    }
    .container-login .box-login .right-box .primary-right img{
        width: 70%;
        height: 74px;
    }
    .container-login .box-login .right-box .primary-right p{
        font-size: 16px;
    }
    .container-login .box-login .right-box .primary-right p{
        padding: 6px 0;
        width: 80%;
    }
    .container-login .box-login .right-box .login-info svg{
        width: 26px;
        height: 26px;
    }
    .container-login .box-login .right-box .login-info label.animation-label{
        font-size: 18px;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 26px;
    }   
}
@media screen and (max-width: 769px) {
    .container-login .box-login{
        height: 60vh;
    }
    .container-login .box-login .left-box{
        padding: 60px 30px 60px 40px;
    }
    .container-login .box-login .left-box .top-left h1{
        font-size: 28px;
        line-height: 48px;
    }
    .container-login .box-login .left-box .top-left p{
        font-size: 16px;
        letter-spacing: normal;
    }
    .container-login .box-login .left-box .bottom-left img{
        width: 50%;
    }
    .container-login .box-login .right-box{
        padding: 60px 40px;
    }
    .container-login .box-login .right-box .primary-right img{
        width: 90%;
        height: 70px;
    }
    .container-login .box-login .right-box .primary-right p{
        width: 100%;
    }
    .container-login .box-login .right-box .login-info{
        height: 50px;
    }
    .container-login .box-login .right-box .login-info input{
        font-size: 16px;
    }
    .container-login .box-login .right-box .login-info label.animation-label {
        font-size: 16px;
    }
    .container-login .box-login .right-box .username input:focus ~ label.animation-label__username, .container-login .box-login .right-box .password input:focus ~ label.animation-label__password, .container-login .box-login .right-box .username input:valid ~ label.animation-label__username, .container-login .box-login .right-box .password input:valid ~ label.animation-label__password{
        font-size: 14px;
    }
    .container-login .box-login .right-box .login-info svg{
        width: 22px;
        height: 22px;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 22px;
    }
    .container-login .box-login .submit-login {
        font-size: 18px;
        padding: 16px 32px;
    }
    .container-login .box-login .support-login{
        line-height: 28px;
        text-align: center;
    }
}
@media screen and (max-width: 601px) {
    .container-login{
        margin-top: unset;
        padding-bottom: 70px;
    }
    .container-login .box-login{
        flex-direction: column;
        width: 100%;
        height: calc(90vh - 80px);
        align-self: end;
        border-radius: unset;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .container-login .box-login .left-box{
        padding: 20px;
        width: 100%;
        height: 40%;
    }
    .container-login .box-login .left-box .top-left{
        justify-content: start;
        align-items: center;
        order: 2;
    }
    .container-login .box-login .left-box .top-left h1{
        margin: unset;
        font-size: 32px;
        margin-bottom: 20px;
    }
    .container-login .box-login .left-box .top-left p{
        font-size: 18px;
    }
    .container-login .box-login .left-box .bottom-left{
        justify-content: center;
        align-items: center;
    }
    .container-login .box-login .left-box .bottom-left img{
        height: 80%;
        width: 30%;
        opacity: unset;
    }
    .container-login .box-login .right-box{
        padding: 20px;
        width: 100%;
        height: 60%;
        align-items: center;
    }
    .container-login .box-login .right-box .primary-right img{
        display: none;
    }
    .container-login .box-login .right-box .primary-right p{
        width: 55%;
    }
    .container-login .box-login .right-box .login-info{
        width: 80%;
        height: 55px;
    }
    .container-login .box-login .right-box .login-info input{
        font-size: 18px;
    }
    .container-login .box-login .right-box .login-info label.animation-label{
        font-size: 18px;
    }
    .container-login .box-login .right-box .login-info svg{
        width: 24px;
        height: 24px;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 24px;
    }
    .container-login .box-login .right-box .username input:focus ~ label.animation-label__username, .container-login .box-login .right-box .password input:focus ~ label.animation-label__password, .container-login .box-login .right-box .username input:valid ~ label.animation-label__username, .container-login .box-login .right-box .password input:valid ~ label.animation-label__password{
        font-size: 16px;
    }
}
@media screen and (max-width: 415px) {
    .container-login .box-login{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .container-login .box-login .left-box .top-left h1{
        font-size: 28px;
        margin-bottom: 12px;
    }
    .container-login .box-login .left-box .top-left p{
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    }
    .container-login .box-login .right-box .primary-right p{
        width: 80%;
        line-height: 24px;
    }
    .container-login .box-login .right-box .login-info{
        width: 90%;
        height: 50px;
    }
    .container-login .box-login .right-box .login-info input,
    .container-login .box-login .right-box .login-info label.animation-label{
        font-size: 16px;
    }
    .container-login .box-login .right-box .login-info label.animation-label{
        left: 44px;
    }
    .container-login .box-login .right-box .login-info input{
        padding: 6px 44px;
    }
    .container-login .box-login .right-box .username input:focus ~ label.animation-label__username, .container-login .box-login .right-box .password input:focus ~ label.animation-label__password, .container-login .box-login .right-box .username input:valid ~ label.animation-label__username, .container-login .box-login .right-box .password input:valid ~ label.animation-label__password{
        font-size: 14px;
    }
    .container-login .box-login .right-box .login-info svg{
        width: 22px;
        height: 22px;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 22px;
        right: 16px;
    }
    .container-login .box-login .submit-login,
    .container-login .box-login .support-login{
        font-size: 16px;
    }
    .container-login .box-login .support-login{
        height: unset;
    }
}
@media screen and (max-width: 376px){
    .container-login .box-login .right-box{
        padding: 12px;
    }
    .container-login .box-login .right-box .primary-right p{
        width: 90%;
    }
    .container-login .box-login .left-box .bottom-left img{
        height: 100%;
    }
    .container-login .box-login .right-box .primary-right p,
    .container-login .box-login .left-box .top-left p,
    .container-login .box-login .submit-login, 
    .container-login .box-login .support-login,
    .container-login .box-login .right-box .login-info input, 
    .container-login .box-login .right-box .login-info label.animation-label{
        font-size: 14px;
    }
    .container-login .box-login .right-box .login-info svg{
        width: 18px;
        height: 18px;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 20px;
    }
    .container-login .box-login .submit-login{
        padding: 12px 20px;
    }
    .container-login .box-login .left-box .top-left h1{
        margin: unset;
    }
    .container-login .box-login .left-box .top-left{
        height: unset;
    }
    .container-login .box-login .right-box .login-info{
        height: 45px;
    }
}
@media screen and (max-width: 321px) {
    .container-login{
        padding-bottom: 60px;
    }
    .container-login .box-login .left-box,
    .container-login .box-login .right-box{
        padding: 12px;
    }
    .container-login .box-login .left-box{
        height: 35%;
    }
    .container-login .box-login .right-box{
        height: 65%;
    }
    .container-login .box-login .left-box .top-left h1{
        font-size: 20px;
        margin-bottom: unset;
    }
    .container-login .box-login .left-box .top-left p,
    .container-login .box-login .right-box .primary-right p{
        font-size: 14px;
        line-height: 20px;
    }
    .container-login .box-login .right-box .login-info {
        width: 100%;
        height: 45px;
        margin: 6px 0;
    }
    .container-login .box-login .right-box .login-info .show-password{
        font-size: 18px;
    }
    .container-login .box-login .right-box .login-info svg{
        width: 18px;
        height: 18px;
    }
    .container-login .box-login .right-box .login-info input,
    .container-login .box-login .right-box .login-info label.animation-label{
        font-size: 14px;
    }
    .container-login .box-login .right-box .username input:focus ~ label.animation-label__username, .container-login .box-login .right-box .password input:focus ~ label.animation-label__password, .container-login .box-login .right-box .username input:valid ~ label.animation-label__username, .container-login .box-login .right-box .password input:valid ~ label.animation-label__password {
        font-size: 12px;
    }
    .container-login .box-login .submit-login, 
    .container-login .box-login .support-login{
        font-size: 14px;
    }
    .container-login .box-login .submit-login{
        padding: 12px 24px;
    }
    .container-login .box-login .support-login{
        line-height: 20px;
    }
    .container-login .box-login{
        height: calc(90vh - 50px);
    }
}