.container-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container-product header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 426px;
    background: linear-gradient(to left, #bc9f6e33, #0080FF33), url('/img/header-product.jpg') bottom / cover no-repeat;
}
.container-product header span {
    font-size: 50px;
    color: white;
    font-weight: 600;
    transform: translateY(50%);
}
.container-product .main-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.container-product .main-product .header__main-product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
}
.container-product .main-product .header__main-product a{
    font-size: 18px;
    font-weight: 400;
    margin: 0 24px;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    width: 87px;
}
.container-product .main-product .header__main-product a.all {
    border-bottom: 3px solid $primarycolor;
    cursor: default;
}
.container-product .main-product .all-product,
.container-product .main-product .hatien-product,
.container-product .main-product .other-product{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.container-product .main-product .hatien-product{
    display: none;
}
.container-product .main-product .other-product{
    display: none;
    justify-content: center;
}
.container-product .main-product .all-product .product,
.container-product .main-product .hatien-product .product,
.container-product .main-product .other-product .product{
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 60px 20px;
    position: relative;
}
.container-product .main-product .all-product .product .background-product,
.container-product .main-product .hatien-product .product .background-product,
.container-product .main-product .other-product .product .background-product{
    width: 100%;
    height: 80%;
    z-index: -1;
    transition: .5s;
}
.container-product .main-product .all-product .hatienpcb40 .background-product,
.container-product .main-product .hatien-product .hatienpcb40 .background-product{
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)), url('/img/backgroundpcb40.jpg') center / cover no-repeat;
}
.container-product .main-product .all-product .dadungpcb40 .background-product,
.container-product .main-product .hatien-product .dadungpcb40 .background-product{
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)), url('/img/backgrounddadung.jpg') center / cover no-repeat;
}
.container-product .main-product .all-product .pcb40-ms .background-product,
.container-product .main-product .hatien-product .pcb40-ms .background-product{
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)), url('/img/backgroundpcb40-ms.jpg') center / cover no-repeat;
}
.container-product .main-product .all-product .scg .background-product,
.container-product .main-product .other-product .scg .background-product{
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)), url('/img/backgroundscg.jpg') center / cover no-repeat;
}
.container-product .main-product .all-product .longthanhpcb40 .background-product,
.container-product .main-product .other-product .longthanhpcb40 .background-product{
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.3)), url('/img/backgroundlongthanhpcb40.jpg') center / cover no-repeat;
}
.container-product .main-product .all-product .product img,
.container-product .main-product .hatien-product .product img,
.container-product .main-product .other-product .product img{
    width: 70%;
    height: 60%;
    transition: 0.5s;
    position: absolute;
    bottom: 20%;
    margin: 0 auto;
}
.container-product .main-product .all-product .dadungpcb40 img,
.container-product .main-product .hatien-product .dadungpcb40 img{
    bottom: 19%;
}
.container-product .main-product .all-product .hatienpcb40 img,
.container-product .main-product .hatien-product .hatienpcb40 img{
    width: 50%;
}
.container-product .main-product .all-product .product:hover img,
.container-product .main-product .hatien-product .product:hover img,
.container-product .main-product .other-product .product:hover img{
    transform: scale(1.1);
    filter: drop-shadow(0 10px 30px rgba(255,255,255,0.8));
}
.container-product .main-product .all-product .product:hover .background-product,
.container-product .main-product .hatien-product .product:hover .background-product,
.container-product .main-product .other-product .product:hover .background-product{
    filter: blur(5px);
}
.container-product .main-product .all-product .product span,
.container-product .main-product .hatien-product .product span,
.container-product .main-product .other-product .product span{
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}
// .container-product .main-product .all-product .product:hover span.name-product,
// .container-product .main-product .hatien-product .product:hover span.name-product,
// .container-product .main-product .other-product .product:hover span.name-product{
//     font-size: 32px;
//     color: #eabc6f;
//     transform: translateY(-800%);
// }
// .container-product .main-product .all-product .hatienpcb40:hover span.name-product,
// .container-product .main-product .hatien-product .hatienpcb40:hover span.name-product{
//     font-size: 32px;
//     color: #eabc6f;
//     transform: translateY(-900%);
// }
// .container-product .main-product .all-product .dadungpcb40:hover span.name-product,
// .container-product .main-product .hatien-product .dadungpcb40:hover span.name-product{
//     font-size: 28px;
//     transform: translateY(-900%);
//     color: #eabc6f;
// }
// .container-product .main-product .all-product .pcb40-ms:hover span.name-product,
// .container-product .main-product .hatien-product .pcb40-ms:hover span.name-product{
//     font-size: 22px;
//     transform: translateY(-1250%);
//     color: #eabc6f;
// }
.container-product .main-product .all-product .product a.visited-product,
.container-product .main-product .hatien-product .product a.visited-product,
.container-product .main-product .other-product .product a.visited-product{
    width: 30%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid $primarycolor;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: .3s;
    padding: 8px 0;
}
.container-product .main-product .all-product .product a.visited-product:hover,
.container-product .main-product .hatien-product .product a.visited-product:hover,
.container-product .main-product .other-product .product a.visited-product:hover{
    background-color: $primarycolor;
    color: white;
}
.dots-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 30px 0;
  }
  
  .dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: $primarycolor;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }