$primarycolor: #b00000;
$titlecolor: #a08857;
$linecolor: #8C3B1A;
$backgroundColor: #7800000d;
$backgroundHeadFoot: #202020;
$successcolor: #7CEC24;
$warningcolor: #FCAC34;
$errorcolor: #BC0404;



$primaryColor: #a08857;
$accentColor: #b00000;
$background: #ece8e1;
$backgroundLight: #f7f6f3;
$backgroundDark: #1e1e1e;
$textPrimary: #2c2c2c;
$textSecondary: #6b6b6b;
$hoverBorder: #d1c7a4;
$shadow: 0 4px 12px rgba(160,136,87,0.25); // shadow có tone vàng đồng (giảm opacity)
$gradientAccent: linear-gradient(135deg, #b00000 0%, #ff4747 100%);
$gradientDark: linear-gradient(to bottom, #1e1e1e 0%, #2c2c2c 100%);