@charset "UTF-8";
.container-about {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px; }

.container-about header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  z-index: -1; }

.container-about header img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(-10px) scale(2); }

.container-about .body-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; }

.container-about .body-about .about-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; }

.container-about .body-about .about-intro .background-building {
  width: 50%;
  height: 100vh; }

.container-about .body-about .about-intro .background-building img {
  width: 100%;
  height: 100%;
  padding: 1px; }

.container-about .body-about .about-intro .introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  height: 100%;
  padding: 0 130px 0 70px; }

.container-about .body-about .about-intro .introduce .primary-text {
  color: #bc9f6e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase; }

.container-about .body-about .about-intro .introduce .secondary-text {
  color: black;
  font-size: 20px;
  font-weight: 400;
  word-spacing: 1.5px;
  margin: 12px 0; }

.sidebar-list__items {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 10;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.2); }

.sidebar-list__items #sidebar-list {
  padding: unset;
  margin: unset; }

.sidebar-item {
  list-style-type: none;
  margin-bottom: 16px;
  cursor: pointer; }

.sidebar-item a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: .5s; }

.sidebar-item a:hover {
  color: #e3b76e; }

.sidebar-item a.active,
.sidebar-item.active a {
  color: #e3b76e;
  position: relative; }

.sidebar-item a.active::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e3b76e;
  top: 0;
  left: 54%;
  transform: translatex(-50%);
  z-index: 9; }

.container-home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; }

.container-home::-webkit-scrollbar {
  display: none; }

.container-home::-webkit-scrollbar-track {
  background-color: transparent; }

.container-home::-webkit-scrollbar-thumb {
  background-color: transparent; }

.container-home .card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative; }

.container-home .card #carouselExampleInterval,
.container-home .card #carouselExampleInterval .carousel-inner,
.container-home .card #carouselExampleInterval .carousel-inner .carousel-item {
  width: 100%;
  height: 100%; }

.container-home .card img {
  width: 100%;
  height: 100%; }

.container-home .card .card-content {
  z-index: 2;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden; }

.container-home .card-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #dcdcdc; }

.container-home .card-slogan .card-content {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden; }

.container-home .card-slogan .card-content span.primary-text {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 12px 0;
  transform: translateX(-300%);
  transition: transform 1s; }

.container-home .card-slogan .card-content span.primary-text b {
  color: #bc9f6e; }

.container-home .card-slogan .card-content span.slogan {
  font-size: 36px;
  font-weight: 700;
  color: #d4d4d4;
  background: linear-gradient(35deg, #999 20%, #666 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 12px 0 20px 0;
  transform: translateX(500%);
  transition: transform 1s;
  text-align: center; }

.container-home .card-slogan .card-choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  overflow: hidden; }

.container-home .card-slogan .card-choose .primary-text {
  color: #bc9f6e;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  padding: 8px 0;
  transform: translatey(-500%);
  transition: transform 1.5s; }

.container-home .card-slogan .card-choose .primary-text::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #666;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.container-home .card-slogan .card-choose .primary-text::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #ed2324;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.container-home .card-slogan .card-choose .secondary-text {
  font-size: 20px;
  margin: 12px 0 18px 0;
  text-align: center;
  transform: translatey(-1000%);
  transition: transform 1.5s; }

.container-home .card-slogan .card-choose .secondary-text b {
  color: #bc9f6e; }

.container-home .card-slogan .card-choose .main-choose {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 200px;
  transform: translateY(500%); }

.container-home .card-slogan .card-choose .main-choose .item__main-choose:first-child {
  transition: transform 1.2s; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose:nth-child(2) {
  transition: transform 1.4s; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose:nth-child(3) {
  transition: transform 1.6s; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose:nth-child(4) {
  transition: transform 1.8s; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose:nth-child(5) {
  transition: transform 2s; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose .material-symbols-outlined {
  color: #bc9f6e;
  font-size: 40px;
  height: 25%;
  text-align: center;
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose .title {
  height: 20%;
  font-size: 15px;
  font-weight: 600;
  text-align: center; }

.container-home .card-slogan .card-choose .main-choose .item__main-choose .main-info {
  height: 55%;
  width: 90%;
  font-size: 16px;
  text-align: center; }

.container-home .card-ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.container-home .card-ads img.trucks {
  position: absolute;
  top: 53%;
  right: 40%;
  width: 350px;
  height: 110px;
  transform: translateX(500%); }

.container-home .card-ads img.product {
  position: absolute;
  top: 38%;
  right: -3%;
  width: 850px;
  height: 500px;
  transform: translateX(500%); }

.container-home .card-ads .main-ads {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("/img/adsbackground.jpg") center/cover no-repeat;
  width: 100%;
  height: 70%; }

.container-home .card-ads .main-ads .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 38%; }

.container-home .card-ads .main-ads .logo img {
  width: 280px;
  height: 180px;
  transform: scale(0); }

.container-home .card-ads .main-ads .logo .text {
  display: flex;
  flex-direction: column; }

.container-home .card-ads .main-ads .logo .text span {
  font-size: 50px;
  font-weight: 700;
  color: #bc9f6e;
  text-transform: uppercase;
  transform: translateY(261%);
  opacity: 0;
  transition: transform 3s; }

.container-home .card-ads .footer-ads {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: transform 1.5s; }

.container-home .card-ads .footer-ads .slogan {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  height: 53%;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  padding-left: 26px;
  transform: translateY(500%);
  transition: transform 1.5s; }

.container-home .card-ads .footer-ads .slogan span b {
  color: #bc9f6e; }

.container-home .card-ads .footer-ads .hotline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 45%;
  font-size: 30px;
  padding: 0 26px;
  transform: translateY(500%);
  transition: transform 1.5s; }

.container-home .card-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center; }

.container-home .card-intro .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  opacity: 0;
  transform: translateX(-200%); }

.container-home .card-intro .left > * {
  padding: 0 80px 0 32px;
  margin: 14px 0; }

.container-home .card-intro .left span.about {
  color: #bc9f6e;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase; }

.container-home .card-intro .left span.intro {
  font-size: 20px;
  letter-spacing: 1.2px;
  word-spacing: 1.5px; }

.container-home .card-intro .left a {
  height: 40px;
  width: 146px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  margin-left: 32px;
  position: relative;
  transition: .5s;
  z-index: 8;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center; }

.container-home .card-intro .left a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bc9f6e;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  z-index: 4; }

.container-home .card-intro .left a:hover {
  color: white;
  border: 1px solid #bc9f6e; }

.container-home .card-intro .left a:hover::before {
  width: 100%;
  opacity: 1;
  content: "Xem Chi Tiết";
  padding: 8px 16px; }

.container-home .card-intro .right {
  width: 60%;
  height: 100%;
  transform: translateX(300%) scale(0); }

.container-home .card-intro .right img {
  width: 100%;
  height: 100%; }

.container-home .card-event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden; }

.container-home .card-event span.primary-text {
  font-size: 50px;
  font-weight: 700;
  color: black;
  height: 20%;
  display: flex;
  align-items: end;
  transform: translateY(-500%);
  transition: transform 1s; }

.container-home .card-event span b {
  color: #bc9f6e;
  margin-left: 12px;
  font-weight: 700; }

.container-home .card-event .list-event {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 65%;
  width: 100%;
  overflow: hidden; }

.container-home .card-event .list-event .event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;
  transform: translateY(500%); }

.container-home .card-event .list-event .event:first-child {
  transition: transform 1.4s; }

.container-home .card-event .list-event .event:nth-child(2) {
  transition: transform 1.6s; }

.container-home .card-event .list-event .event:nth-child(3) {
  transition: transform 1.8s; }

.container-home .card-event .list-event .event .background {
  width: 100%;
  height: 40%;
  overflow: hidden; }

.container-home .card-event .list-event .event .background img {
  width: 100%;
  height: 100%;
  transition: .5s; }

.container-home .card-event .list-event .event .background img:hover {
  transform: scale(1.2); }

.container-home .card-event .list-event .event .time {
  font-size: 12px;
  font-weight: 700;
  color: #aeaeae;
  height: 5%; }

.container-home .card-event .list-event .event .title {
  font-size: 24px;
  font-weight: 600;
  height: 15%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.container-home .card-event .list-event .event .content {
  font-size: 18px;
  font-weight: 400;
  height: 29%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; }

.container-home .card-event .visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%; }

.container-home .card-event .visited a {
  height: 40px;
  width: 146px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  position: relative;
  transition: .5s;
  z-index: 8;
  overflow: hidden;
  font-weight: 600;
  text-transform: uppercase;
  align-self: start;
  text-align: center;
  transform: translateY(200%);
  transition: transform 1.5s; }

.container-home .card-event .visited a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bc9f6e;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  z-index: 4; }

.container-home .card-event .visited a:hover {
  color: white;
  border: 1px solid #bc9f6e; }

.container-home .card-event .visited a:hover::before {
  width: 100%;
  opacity: 1;
  content: "Xem Tất Cả";
  padding: 8px 16px; }

.navbar {
  width: 100%;
  height: 70px;
  color: #bc9f6e;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: unset; }

.navbar-right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  color: #bc9f6e;
  text-decoration: none; }

.navbar-right img {
  width: 150px;
  height: 100%;
  transform: translateX(60%);
  cursor: pointer; }

.navbar-right .name-company {
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  right: 37%;
  letter-spacing: 4px;
  word-spacing: 1.5px;
  cursor: pointer; }

.navbar-left {
  width: 60%;
  height: 100%; }

.navbar-left .primary-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: unset; }

.navbar-left .primary-navbar li {
  width: 20%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar-left .primary-navbar li a {
  color: #666;
  text-decoration: none;
  transition: .3s;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center; }

.navbar-left .primary-navbar li a:hover {
  color: #bc9f6e; }

.navbar .touched {
  color: #bc9f6e !important;
  cursor: default; }

.navbar-left .touched {
  color: #bc9f6e !important;
  cursor: default;
  position: relative; }

.navbar-left .touched::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #bc9f6e; }

@keyframes scaleIn {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes typewriter {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes doorDown {
  from {
    transform: translateY(-200%); }
  to {
    transform: translateY(0); } }

@keyframes upDoor {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-200%); } }

@keyframes doorUp {
  from {
    transform: translateY(200%); }
  to {
    transform: translateY(0); } }

@keyframes downDoor {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(200%); } }

@keyframes typewriterCompany {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes RunAway {
  from {
    transform: translateX(500%); }
  to {
    transform: translateX(0); } }

@keyframes scaleLogo {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.5, 1.5); }
  100% {
    transform: scale(1); } }

@keyframes transform {
  from {
    transform: translateY(500%); }
  to {
    transform: translateY(0); } }

@keyframes doubleAnimation {
  from {
    transform: translateX(200%), scale(0); }
  to {
    transform: translateX(0) scale(1, 1); } }

@keyframes opacityTrans {
  from {
    transform: translateX(-200%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes nameCompany {
  from {
    transform: translateY(261%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto,Arial,Helvetica,sans-serif; }

.loading,
.loading-href {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  overflow: hidden; }

.loading-href {
  display: none; }

.loading .upDoor {
  width: 100%;
  height: 50%;
  background-color: #bc9f6e;
  animation-name: upDoor;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 1.7s; }

.loading .downDoor {
  width: 100%;
  height: 50%;
  background-color: #bc9f6e;
  animation-name: downDoor;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 1.7s; }

.loading .text {
  color: white;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 202; }

.loading .text span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriterCompany 1.5s steps(8) reverse; }

.door-down {
  width: 100%;
  height: 50%;
  background-color: #bc9f6e;
  animation-name: doorDown;
  animation-timing-function: ease;
  animation-duration: 1.5s; }

.door-up {
  width: 100%;
  height: 50%;
  background-color: #bc9f6e;
  animation-name: doorUp;
  animation-timing-function: ease;
  animation-duration: 1.5s; }
