.container-event {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-event header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 426px;
  background: linear-gradient(to left, #bc9f6e33, #0080FF33), url("/img/news.jpg") bottom/cover no-repeat; }

.container-event header span {
  font-size: 50px;
  color: white;
  font-weight: 600;
  transform: translateY(50%); }

.container-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 110px; }

.container-product header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 426px;
  background: linear-gradient(to left, #bc9f6e33, #0080FF33), url("/img/header-product.jpg") bottom/cover no-repeat; }

.container-product header span {
  font-size: 50px;
  color: white;
  font-weight: 600;
  transform: translateY(50%); }

.container-product .main-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; }

.container-product .main-product .header__main-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #d7d7d7; }

.container-product .main-product .header__main-product a {
  font-size: 18px;
  font-weight: 400;
  margin: 0 24px;
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  width: 87px;
  text-transform: capitalize; }

.container-product .main-product .header__main-product a.all {
  border-bottom: 3px solid #bc9f6e;
  cursor: default;
  color: #bc9f6e; }

.container-product .main-product .all-product,
.container-product .main-product .hatien-product,
.container-product .main-product .other-product {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%; }

.container-product .main-product .hatien-product {
  display: none; }

.container-product .main-product .other-product {
  display: none;
  justify-content: center; }

.container-product .main-product .all-product .product,
.container-product .main-product .hatien-product .product,
.container-product .main-product .other-product .product {
  width: 30%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 60px 20px;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden; }

.container-product .main-product .all-product .product .background-product,
.container-product .main-product .hatien-product .product .background-product,
.container-product .main-product .other-product .product .background-product {
  width: 100%;
  height: 80%;
  z-index: -1;
  transition: .5s;
  border-radius: 5px; }

.container-product .main-product .all-product .hatienpcb40 .background-product,
.container-product .main-product .hatien-product .hatienpcb40 .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundpcb40.jpg") center/cover no-repeat; }

.container-product .main-product .all-product .dadungpcb40 .background-product,
.container-product .main-product .hatien-product .dadungpcb40 .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgrounddadung.jpg") center/cover no-repeat; }

.container-product .main-product .all-product .pcb40-ms .background-product,
.container-product .main-product .hatien-product .pcb40-ms .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundpcb40-ms.jpg") center/cover no-repeat; }

.container-product .main-product .all-product .scg .background-product,
.container-product .main-product .other-product .scg .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundscg.jpg") center/cover no-repeat; }

.container-product .main-product .all-product .longthanhpcb40 .background-product,
.container-product .main-product .other-product .longthanhpcb40 .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundlongthanhpcb40.jpg") center/cover no-repeat; }

.container-product .main-product .all-product .product img,
.container-product .main-product .hatien-product .product img,
.container-product .main-product .other-product .product img {
  width: 70%;
  height: 60%;
  transition: 0.5s;
  position: absolute;
  bottom: 20%;
  margin: 0 auto; }

.container-product .main-product .all-product .product .name-product,
.container-product .main-product .hatien-product .product .name-product,
.container-product .main-product .other-product .product .name-product {
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-transform: capitalize; }

.container-product .main-product .all-product .dadungpcb40 img,
.container-product .main-product .hatien-product .dadungpcb40 img {
  bottom: 19%; }

.container-product .main-product .all-product .hatienpcb40 img,
.container-product .main-product .hatien-product .hatienpcb40 img {
  width: 50%; }

.container-product .main-product .all-product .product:hover img,
.container-product .main-product .hatien-product .product:hover img,
.container-product .main-product .other-product .product:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 10px 30px rgba(255, 255, 255, 0.8)); }

.container-product .main-product .all-product .product:hover .background-product,
.container-product .main-product .hatien-product .product:hover .background-product,
.container-product .main-product .other-product .product:hover .background-product {
  filter: blur(5px); }

.container-product .main-product .all-product .product span.visited-product,
.container-product .main-product .hatien-product .product span.visited-product,
.container-product .main-product .other-product .product span.visited-product {
  width: 30%;
  height: 50px;
  font-size: 16px;
  border: 1px solid #bc9f6e;
  color: #bc9f6e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
  padding: 8px 0;
  font-weight: 600;
  position: relative;
  z-index: 8;
  transition: all .5s;
  text-transform: capitalize;
  border-radius: 5px; }

.container-product .main-product .all-product .product span.visited-product:hover,
.container-product .main-product .hatien-product .product span.visited-product:hover,
.container-product .main-product .other-product .product span.visited-product:hover {
  color: white; }

.container-product .main-product .all-product .product span.visited-product::after,
.container-product .main-product .hatien-product .product span.visited-product::after,
.container-product .main-product .other-product .product span.visited-product::after {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0;
  width: 0;
  height: 100%;
  background-color: #bc9f6e;
  transition: all .5s; }

.container-product .main-product .all-product .product span.visited-product:hover::after,
.container-product .main-product .hatien-product .product span.visited-product:hover::after,
.container-product .main-product .other-product .product span.visited-product:hover::after {
  width: 100%; }

.dots-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 30px 0; }

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #bc9f6e;
  animation: pulse 1.5s infinite ease-in-out; }

.dot:last-child {
  margin-right: 0; }

.dot:nth-child(1) {
  animation-delay: -0.3s; }

.dot:nth-child(2) {
  animation-delay: -0.1s; }

.dot:nth-child(3) {
  animation-delay: 0.1s; }

.container-pcb40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-pcb40 header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 426px;
  background: linear-gradient(to left, #bc9f6e33, #0080FF33), url("/img/header-pcb40.jpg") bottom/cover no-repeat; }

.container-pcb40 header span {
  font-size: 50px;
  color: white;
  font-weight: 600;
  transform: translateY(50%); }

.container-pcb40 header span .backproductpage {
  color: white;
  text-decoration: none; }

.container-pcb40 header span .backproductpage:hover {
  text-decoration: underline; }

.container-pcb40 .main-pcb40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px; }

.container-pcb40 .main-pcb40 .header-pcb40 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 370px;
  margin-top: 50px; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  position: relative; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40 .background {
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundpcb40.jpg") bottom/cover no-repeat;
  transition: .5s; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40ms .background {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundpcb40-ms.jpg") bottom/cover no-repeat; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-dadung .background {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgrounddadung.jpg") bottom/cover no-repeat; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-scg .background {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundscg.jpg") bottom/cover no-repeat; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-longthanh .background {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundlongthanhpcb40.jpg") bottom/cover no-repeat; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40 img {
  width: 60%;
  height: 100%;
  position: absolute;
  bottom: -16%;
  margin: 0 auto;
  transition: .5s; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40ms img,
.container-pcb40 .main-pcb40 .header-pcb40 .card-dadung img,
.container-pcb40 .main-pcb40 .header-pcb40 .card-scg img,
.container-pcb40 .main-pcb40 .header-pcb40 .card-longthanh img {
  width: 80%;
  height: 90%; }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40:hover .background {
  filter: blur(10px); }

.container-pcb40 .main-pcb40 .header-pcb40 .card-pcb40:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 10px 15px rgba(255, 255, 255, 0.8)); }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 65%;
  height: 100%; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 > * {
  margin: 12px 0 12px 36px; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .name-pcb40 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .description {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1.2px; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 a {
  text-decoration: none;
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 span.box-contact-us {
  width: 100%; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 span.box-contact-us a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 40px;
  border: 1px solid #bc9f6e;
  background-color: #bc9f6e;
  color: white;
  padding: 8px 0;
  border-radius: 5px;
  font-weight: 600;
  transition: .5s; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 span.box-contact-us a:hover {
  background-color: transparent;
  color: #bc9f6e; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 a.hotline {
  border: 1px solid #FC0404;
  padding: 6px 8px;
  border-radius: 5px;
  margin: 12px 12px 0 0;
  transition: .5s; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 a.hotline:hover {
  box-shadow: 0 0 2px 2px rgba(233, 54, 54, 0.45); }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 a.hotline > * {
  margin: 0 8px;
  color: #FC0404; }

.container-pcb40 .main-pcb40 .header-pcb40 .info-pcb40 .contact-pcb40 a.hotline span.material-symbols-outlined {
  font-size: 30px;
  font-weight: 700; }

.container-pcb40 .main-pcb40 .detail-pcb40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60%;
  margin-top: 100px; }

.container-pcb40 .main-pcb40 .detail-pcb40 .primary-title {
  font-size: 22px;
  font-weight: 500;
  padding: 8px 0;
  border-bottom: 1px solid #dcdcdc;
  width: 100%; }

.container-pcb40 .main-pcb40 .detail-pcb40 .application,
.container-pcb40 .main-pcb40 .detail-pcb40 .addvantage,
.container-pcb40 .main-pcb40 .detail-pcb40 .pack,
.container-pcb40 .main-pcb40 .detail-pcb40 .standard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  line-height: 24px; }

.container-pcb40 .main-pcb40 .detail-pcb40 .application span.title,
.container-pcb40 .main-pcb40 .detail-pcb40 .addvantage span.title,
.container-pcb40 .main-pcb40 .detail-pcb40 .pack span.title,
.container-pcb40 .main-pcb40 .detail-pcb40 .standard span.title {
  font-size: 20px;
  font-weight: 600;
  color: #bc9f6e;
  padding: 12px 0; }

.container-pcb40 .main-pcb40 .detail-pcb40 .application span.application-content,
.container-pcb40 .main-pcb40 .detail-pcb40 .application li.application-content,
.container-pcb40 .main-pcb40 .detail-pcb40 .addvantage ul li,
.container-pcb40 .main-pcb40 .detail-pcb40 .pack span.pack-content,
.container-pcb40 .main-pcb40 .detail-pcb40 .pack li.pack-content,
.container-pcb40 .main-pcb40 .detail-pcb40 .standard span.standard-content {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 12px; }

.container-pcb40 .main-pcb40 .detail-pcb40 .addvantage ul.title {
  margin-bottom: unset; }

.container-pcb40 .main-pcb40 .detail-pcb40 .standard span.title-standard-img {
  width: 100%;
  text-align: center;
  color: #bc9f6e;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px; }

.container-pcb40 .main-pcb40 .detail-pcb40 .standard img {
  width: 100%;
  height: 500px; }

.container-pcb40 .main-pcb40 .detail-pcb40 .standard-scg img {
  width: 100%;
  height: 800px; }

.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 110px; }

.container-contact header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 426px;
  background: linear-gradient(to right, #bc9f6e33, #0080FF33), url("/img/contactheader.avif") center/cover no-repeat; }

.container-contact header span {
  font-size: 50px;
  font-weight: 600;
  color: white; }

.container-contact .main-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-contact .main-contact .header-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 26px;
  font-weight: 600;
  width: 100%; }

.container-contact .main-contact .header-main span.primary-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  width: 100%;
  margin: 30px 0; }

.container-contact .main-contact .header-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-contact .main-contact .header-bottom .address {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 20%;
  height: 120px;
  margin: 0 20px; }

.container-contact .main-contact .header-bottom .address i {
  font-size: 45px;
  padding-right: 16px; }

.container-contact .main-contact .header-bottom .address .info-address {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 18px;
  padding-left: 16px;
  position: relative;
  height: 81px; }

.container-contact .main-contact .header-bottom .address .info-address::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #dbdbdb;
  top: 0;
  left: 0;
  z-index: 2; }

.container-contact .main-contact .header-bottom .address .info-address::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 40%;
  background-color: #bc9f6e;
  top: 0;
  left: 0;
  z-index: 3; }

.container-contact .main-contact .header-bottom .address .info-address .title {
  font-weight: 600; }

.container-contact .main-contact .header-bottom .address .info-address .content {
  text-align: justify;
  font-weight: 400; }

.container-contact .main-contact .contact-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px; }

.container-contact .main-contact .contact-us > * {
  padding: 14px 0; }

.container-contact .main-contact .contact-us span.title {
  font-size: 26px;
  font-weight: 600;
  width: 80%;
  padding-top: 24px; }

.container-contact .main-contact .contact-us .fullname {
  width: 39%;
  height: 80px;
  position: relative;
  margin: 0 12px; }

.container-contact .main-contact .contact-us .fullname input {
  width: 100%;
  height: 80%;
  padding: 6px 12px 6px 8px;
  border: 1px solid #d0d0d0;
  background-color: transparent; }

.container-contact .main-contact .contact-us .fullname label {
  font-size: 15px;
  color: #495057;
  font-weight: 600;
  position: absolute;
  top: 30%;
  left: 2%;
  background-color: white;
  transition: .5s; }

.container-contact .main-contact .contact-us .fullname input:focus-visible {
  border-radius: unset;
  border: 1px solid #d0d0d0;
  outline: unset; }

.container-contact .main-contact .contact-us .fullname input:-webkit-autofill {
  -webkit-background-clip: text; }

.container-contact .main-contact .contact-us .fullname input:focus ~ label,
.container-contact .main-contact .contact-us .fullname input:valid ~ label {
  top: 4%;
  color: black; }

.container-contact .main-contact .contact-us .content-contact {
  width: 80%;
  height: 200px; }

.container-contact .main-contact .contact-us .content-contact textarea {
  resize: none;
  border: 1px solid #d0d0d0;
  padding: 6px 12px 6px 8px;
  width: 100%;
  height: 100%; }

.container-contact .main-contact .contact-us .content-contact textarea:focus-visible {
  border-radius: unset;
  border: 1px solid #d0d0d0;
  outline: unset; }

.container-contact .main-contact .contact-us .action-submit {
  width: 80%;
  padding-bottom: 24px; }

.container-contact .main-contact .contact-us .action-submit button {
  width: 100%;
  height: 40px;
  background-color: #bc9f6e;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #bc9f6e;
  outline: unset;
  transition: .3s; }

.container-contact .main-contact .contact-us .action-submit button:hover {
  background-color: white;
  color: #bc9f6e; }

.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 110px; }

.container-about header {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(188, 159, 110, 0.4)), url("/img/aboutHeader.jpg") bottom/cover no-repeat; }

.container-about header h1 {
  font-size: 70px;
  font-weight: 700; }

.container-about header .certification {
  position: absolute;
  width: 80%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container-about header .certification .certi-box {
  width: 48%;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: 0 2px 17px rgba(65, 62, 45, 0.3);
  transform: translateY(50%); }

.container-about header .certification .certi-box .img-certi {
  width: 30%;
  height: 100%;
  overflow: hidden; }

.container-about header .certification .certi-box .img-certi img.certi {
  width: 100%;
  height: 100%;
  transition: .5s; }

.container-about header .certification .certi-box .certi-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
  height: 100%;
  padding: 16px 20px; }

.container-about header .certification .certi-box .certi-content h3.title {
  height: 30%;
  letter-spacing: 1.2;
  transition: .5s; }

.container-about header .certification .certi-box .certi-content p.content {
  height: 70%;
  line-height: 26px;
  letter-spacing: 1.2;
  text-align: justify; }

.container-about header .certification .certi-box:hover h3.title {
  color: #bc9f6e; }

.container-about header .certification .certi-box:hover img.certi {
  transform: scale(1.2); }

.container-about .main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-about .main-about .about-intro {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding: 200px 0 100px 0;
  background-color: #e9e9e9; }

.container-about .main-about .about-intro .image-intro {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px;
  position: relative; }

.container-about .main-about .about-intro .image-intro img {
  width: 100%;
  height: 436px; }

.container-about .main-about .about-intro .image-intro span {
  position: absolute;
  width: 100px;
  height: 6px;
  background-color: #bc9f6e; }

.container-about .main-about .about-intro .image-intro span.line1 {
  top: 0;
  left: 0; }

.container-about .main-about .about-intro .image-intro span.line2 {
  top: 0;
  right: 0; }

.container-about .main-about .about-intro .image-intro span.line3 {
  bottom: 0;
  left: 0; }

.container-about .main-about .about-intro .image-intro span.line4 {
  bottom: 0;
  right: 0; }

.container-about .main-about .about-intro .image-intro span.line5,
.container-about .main-about .about-intro .image-intro span.line6,
.container-about .main-about .about-intro .image-intro span.line7,
.container-about .main-about .about-intro .image-intro span.line8 {
  height: 100px;
  width: 6px; }

.container-about .main-about .about-intro .image-intro span.line5 {
  left: 0;
  top: 0; }

.container-about .main-about .about-intro .image-intro span.line6 {
  right: 0;
  top: 0; }

.container-about .main-about .about-intro .image-intro span.line7 {
  bottom: 0;
  left: 0; }

.container-about .main-about .about-intro .image-intro span.line8 {
  right: 0;
  bottom: 0; }

.container-about .main-about .about-intro .content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
  padding: 0 40px 0  20px; }

.container-about .main-about .about-intro .content-intro p {
  color: #bc9f6e;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase; }

.container-about .main-about .about-intro .content-intro h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: justify;
  margin: 8px 0;
  line-height: 1.4; }

.container-about .main-about .about-intro .content-intro span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  margin: 6px 0;
  color: #252525; }

.container-about .main-about .primary-infor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  background-color: #e9e9e9; }

.container-about .main-about .primary-infor .card {
  width: 16%;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 30px;
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: .5s;
  z-index: 8;
  overflow: hidden;
  background-color: white; }

.container-about .main-about .primary-infor .card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border-radius: 5px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #ffe699 17%, #bc9f6e 73%);
  transition: 0.5s;
  z-index: -1; }

.container-about .main-about .primary-infor .card:hover h1,
.container-about .main-about .primary-infor .card:hover p {
  color: white; }

.container-about .main-about .primary-infor .card:hover::after {
  height: 100%; }

.container-about .main-about .primary-infor .card img {
  width: 90px;
  height: 90px; }

.container-about .main-about .primary-infor .card h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 18px 0;
  transition: .5s; }

.container-about .main-about .primary-infor .card p {
  color: #252525;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: .5s; }

.container-about .main-about .primary-infor .card p b {
  text-transform: uppercase; }

.container-about .main-about .vision-mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap; }

.container-about .main-about .vision-mission .left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 40px; }

.container-about .main-about .vision-mission .left p {
  background: -webkit-linear-gradient(45deg, #ffca69 4%, #bc9f6e 73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600; }

.container-about .main-about .vision-mission .left h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin: 12px 0 26px 0; }

.container-about .main-about .vision-mission .left span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  margin: 6px 0; }

.container-about .main-about .vision-mission .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative; }

.container-about .main-about .vision-mission .right img {
  width: 60%; }

.container-about .main-about .vision-mission .right .background {
  position: absolute;
  top: 20%;
  right: 0;
  width: 100%;
  z-index: -1; }

.container-about .main-about .vision-mission .right span {
  position: absolute;
  bottom: 10%;
  left: 4%;
  width: 270px;
  background: linear-gradient(180deg, #ffe699 17%, #bc9f6e 73%);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 25px 30px;
  text-align: justify; }

.container-about .main-about .vision-mission .awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0; }

.container-about .main-about .vision-mission .awards img.award {
  width: 120px;
  height: 120px;
  margin-bottom: 20px; }

.container-about .main-about .vision-mission .awards h1.title {
  background: -webkit-linear-gradient(45deg, #ffca69 4%, #bc9f6e 73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 30px;
  padding-bottom: 20px;
  letter-spacing: 1.2px;
  position: relative; }

.container-about .main-about .vision-mission .awards h1.title::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 2px;
  background: #ffe699;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%); }

.container-about .main-about .vision-mission .awards .award-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
  flex-wrap: wrap; }

.container-about .main-about .vision-mission .awards .award-box .swiper {
  width: 100%;
  height: 100%; }

.container-about .main-about .vision-mission .awards .award-box .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%; }

.container-about .main-about .vision-mission .awards .award-box .award-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #e5eaf3;
  margin-bottom: 50px; }

.container-about .main-about .vision-mission .awards .award-box .award-card .img-award {
  width: 100%;
  height: 70%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-about .main-about .vision-mission .awards .award-box .award-card .img-award img {
  width: 90%;
  height: 90%;
  transition: .5s; }

.container-about .main-about .vision-mission .awards .award-box .award-card:hover .img-award img {
  transform: scale(1.1); }

.container-about .main-about .vision-mission .awards .award-box .award-card .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 30%;
  padding: 0 20px; }

.container-about .main-about .vision-mission .awards .award-box .award-card .bottom h1 {
  color: #bc9f6e;
  letter-spacing: 2px;
  margin-bottom: 12px; }

.container-about .main-about .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  background-color: #e9e9e9; }

.container-about .main-about .value h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 60%;
  text-align: center; }

.container-about .main-about .value span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #bc9f6e;
  width: 60%;
  text-align: center;
  margin-bottom: 20px; }

.container-about .main-about .value .box-value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%; }

.container-about .main-about .value .box-value .card {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0; }

.container-about .main-about .value .box-value .card .icon-value {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  outline-offset: 20px;
  outline: 2px dashed #bc9f6e33;
  transition: all .5s; }

.container-about .main-about .value .box-value .card .icon-value::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #bc9f6e33;
  transition: all .5s; }

.container-about .main-about .value .box-value .card .icon-value::after {
  position: absolute;
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #bc9f6e;
  color: white;
  font-size: 24px;
  font-weight: 700;
  transition: all .5s ease-in-out; }

.container-about .main-about .value .box-value .card .icon-value.value2::after {
  content: "2"; }

.container-about .main-about .value .box-value .card .icon-value.value3::after {
  content: "3"; }

.container-about .main-about .value .box-value .card .icon-value.value4::after {
  content: "4"; }

.container-about .main-about .value .box-value .card .icon-value.value5::after {
  content: "5"; }

.container-about .main-about .value .box-value .card .icon-value img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform .4s ease-in-out;
  transition-delay: .3s;
  transition-property: transform;
  position: relative; }

.container-about .main-about .value .box-value .card .icon-value .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-about .main-about .value .box-value .card .icon-value .after::after {
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: #bc9f6e;
  background-image: linear-gradient(62deg, #bc9f6e 0%, #ffe699 100%);
  transform: scale(0);
  transition: transform .6s ease-in-out; }

.container-about .main-about .value .box-value .card .icon-value .after::before {
  position: absolute;
  width: 70px;
  height: 70px;
  content: "";
  border-radius: 50%;
  background-color: white;
  transform: scale(0);
  transition: transform .4s ease-in-out;
  transition-delay: .2s;
  transition-property: transform; }

.container-about .main-about .value .box-value .card .icon-value:hover {
  outline: 2px dashed #bc9f6e; }

.container-about .main-about .value .box-value .card .icon-value:hover::before {
  transform: scale(0); }

.container-about .main-about .value .box-value .card .icon-value:hover::after {
  transform: scale(0); }

.container-about .main-about .value .box-value .card .icon-value:hover img {
  z-index: 4;
  transform: scale(1); }

.container-about .main-about .value .box-value .card .icon-value:hover .after::after {
  transform: scale(1); }

.container-about .main-about .value .box-value .card .icon-value:hover .after::before {
  z-index: 3;
  transform: scale(1); }

.container-about .main-about .value .box-value .card h2 {
  text-align: center;
  background: -webkit-linear-gradient(45deg, #ffca69 4%, #bc9f6e 73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  padding: 8px 20px;
  margin-top: 40px; }

.container-about .main-about .value .box-value .card p {
  text-align: center;
  font-style: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 20px;
  height: 80px; }

.container-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px; }

.container-home header {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(188, 159, 110, 0.4)), url("/img/homeHeader.jpg") bottom/cover no-repeat; }

.container-home header h1 {
  font-size: 70px;
  font-weight: 700;
  color: #bc9f6e; }

.container-home header span {
  font-size: 30px;
  font-weight: 600;
  margin: 12px 0;
  text-align: center;
  line-height: 1.5; }

.container-home header span b {
  color: #ffe699;
  font-size: 56px;
  text-transform: uppercase; }

.container-home header p {
  font-size: 26px;
  font-weight: 400;
  margin: unset; }

.container-home .main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-home .main-home .reason-choose-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh; }

.container-home .main-home .reason-choose-us h1 {
  color: #bc9f6e;
  font-weight: 700;
  padding: 16px 0;
  position: relative;
  text-transform: uppercase; }

.container-home .main-home .reason-choose-us h1::before,
.container-home .main-home .reason-choose-us h1::after {
  content: "";
  width: 90%;
  height: 4px;
  position: absolute;
  background-color: #6C6C6C;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.container-home .main-home .reason-choose-us h1::after {
  width: 40%;
  background-color: #004d61; }

.container-home .main-home .reason-choose-us span {
  margin: 16px 0;
  font-size: 20px;
  font-weight: 500; }

.container-home .main-home .reason-choose-us span b {
  color: #bc9f6e; }

.container-home .main-home .reason-choose-us .list-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container-home .main-home .reason-choose-us .list-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin: 30px 10px 0 10px;
  padding: 0 30px; }

.container-home .main-home .reason-choose-us .list-card .card span.material-symbols-outlined {
  color: #bc9f6e;
  font-size: 50px;
  margin: 0 0 8px 0; }

.container-home .main-home .reason-choose-us .list-card .card img {
  width: 50px;
  height: 50px; }

.container-home .main-home .reason-choose-us .list-card .card span.title {
  font-size: 20px;
  font-size: 600;
  margin: 6px 0;
  text-transform: capitalize;
  height: 24px; }

.container-home .main-home .reason-choose-us .list-card .card span.main-info {
  font-size: 16px;
  font-weight: 400;
  margin: 6px 0;
  text-align: center;
  letter-spacing: 1.2px;
  height: 56px; }

.container-home .main-home .about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #e9e9e9;
  padding: 20px 0;
  height: 60vh; }

.container-home .main-home .about-us h1,
.container-home .main-home .best-seller h1,
.container-home .main-home .list-event h1 {
  width: 100%;
  padding: 12px 0;
  color: #bc9f6e;
  position: relative;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px; }

.container-home .main-home .about-us h1::before,
.container-home .main-home .best-seller h1::before,
.container-home .main-home .list-event h1::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #004d61; }

.container-home .main-home .about-us .introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 45%;
  padding-right: 20px; }

.container-home .main-home .about-us .introduce span {
  text-align: justify;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1.2px; }

.container-home .main-home .about-us .introduce .read-more {
  color: #bc9f6e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 20%;
  height: 60px;
  border: 1px solid #bc9f6e;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  transition: all .5s;
  z-index: 8; }

.container-home .main-home .about-us .introduce .read-more::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  background-color: #bc9f6e;
  z-index: -1;
  transition: all .5s; }

.container-home .main-home .about-us .introduce .read-more:hover {
  color: white; }

.container-home .main-home .about-us .introduce .read-more:hover::after {
  width: 100%; }

.container-home .main-home .about-us .img-introduce {
  width: 45%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  position: relative;
  align-self: flex-start; }

.container-home .main-home .about-us .img-introduce img {
  outline: 10px solid #87663333;
  border-radius: 5px; }

.container-home .main-home .about-us .img-introduce .img-2 {
  width: 70%;
  height: 350px; }

.container-home .main-home .about-us .img-introduce .img-1 {
  width: 300px;
  height: 200px;
  bottom: -100px;
  left: 90px;
  position: absolute; }

.container-home .main-home .best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0; }

.container-home .main-home .best-seller .list-product {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 80%; }

.container-home .main-home .best-seller .list-product .product {
  width: 30%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 60px 20px;
  position: relative;
  text-decoration: none; }

.container-home .main-home .best-seller .list-product .product .background-product {
  width: 100%;
  height: 80%;
  z-index: -1;
  transition: .5s;
  border-radius: 5px; }

.container-home .main-home .best-seller .list-product .hatienpcb40 .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundpcb40.jpg") center/cover no-repeat; }

.container-home .main-home .best-seller .list-product .dadungpcb40 .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgrounddadung.jpg") center/cover no-repeat; }

.container-home .main-home .best-seller .list-product .pcb40-ms .background-product {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3)), url("/img/backgroundpcb40-ms.jpg") center/cover no-repeat; }

.container-home .main-home .best-seller .list-product .product img {
  width: 70%;
  height: 60%;
  transition: 0.5s;
  position: absolute;
  bottom: 20%;
  margin: 0 auto; }

.container-home .main-home .best-seller .list-product .product:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 10px 30px rgba(255, 255, 255, 0.8)); }

.container-home .main-home .best-seller .list-product .product:hover .background-product {
  filter: blur(5px); }

.container-home .main-home .best-seller .list-product .product span {
  font-size: 18px;
  font-weight: 600;
  transition: .5s;
  color: black; }

.container-home .main-home .best-seller .list-product .product span.visited-product,
.container-home .main-home .best-seller .see-all {
  width: 30%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #bc9f6e;
  color: #bc9f6e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
  padding: 8px 0;
  font-weight: 600;
  position: relative;
  z-index: 8;
  transition: all .5s;
  text-transform: capitalize;
  border-radius: 5px; }

.container-home .main-home .best-seller .see-all {
  height: 60px;
  font-size: 22px;
  font-weight: 600; }

.container-home .main-home .best-seller .list-product .product span.visited-product::after,
.container-home .main-home .best-seller .see-all::after {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0;
  width: 0;
  height: 100%;
  background-color: #bc9f6e;
  transition: all .5s; }

.container-home .main-home .best-seller .list-product .product span.visited-product:hover,
.container-home .main-home .best-seller .see-all:hover {
  color: white; }

.container-home .main-home .best-seller .list-product .product span.visited-product:hover::after,
.container-home .main-home .best-seller .see-all:hover::after {
  width: 100%; }

.container-home .main-home .best-seller .list-product .hatienpcb40 img {
  width: 50%; }

.container-home .main-home .list-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-color: #e9e9e9; }

.container-home .main-home .list-event .container-event {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 20px 0; }

.container-home .main-home .list-event .container-event .event {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 400px;
  position: relative;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  background-color: white;
  border: 1px solid transparent;
  transition: .5s; }

.container-home .main-home .list-event .container-event .event .background {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.container-home .main-home .list-event .container-event .event .background img {
  width: 100%;
  height: 100%;
  transition: .5s; }

.container-home .main-home .list-event .container-event .event:hover {
  box-shadow: 0 4px 4px 8px rgba(0, 77, 97, 0.2);
  border: 1px solid #bc9f6e; }

.container-home .main-home .list-event .container-event .event:hover img {
  transform: scale(1.2); }

.container-home .main-home .list-event .container-event .event .content-event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  padding: 12px 8px; }

.container-home .main-home .list-event .container-event .event .content-event .time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bc9f6e;
  color: white;
  padding: 4px 6px;
  border-top-left-radius: 5px; }

.container-home .main-home .list-event .container-event .event .content-event .time span.material-symbols-outlined {
  padding: 4px;
  margin-right: 4px;
  font-size: 24px; }

.container-home .main-home .list-event .container-event .event .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 35%; }

.container-home .main-home .list-event .container-event .event .content {
  width: 100%;
  height: 60%; }

.container-home .main-home .list-event .container-event .event .content span {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }

.navbar .navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%; }

.navbar .navbar-inner .navbar-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%; }

.navbar .navbar-inner .navbar-right .logo-company {
  width: 40%;
  height: 100%; }

.navbar .navbar-inner .navbar-right .logo-company img {
  width: 100%;
  height: 100%; }

.navbar .navbar-inner .primary-navbar {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.navbar .navbar-inner .primary-navbar li {
  list-style-type: none;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar .navbar-inner .primary-navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  height: 80%;
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  text-transform: uppercase;
  letter-spacing: 1px; }

.navbar-inner .touched {
  cursor: default;
  pointer-events: none; }

.navbar-inner li a.touched,
.navbar-inner li a:hover {
  background-color: #bc9f6e;
  color: white !important;
  border-radius: 5px; }

.container-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  scroll-snap-align: center;
  scroll-snap-stop: always; }

.container-footer .header-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%; }

.container-footer .header-footer img {
  width: 250px;
  height: 200px; }

.container-footer .header-footer .name-company {
  font-size: 44px;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
  font-weight: 700;
  color: #bc9f6e;
  text-transform: uppercase; }

.container-footer .main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 350px;
  margin-top: 18px; }

.container-footer .coppy-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 30%;
  color: white;
  font-size: 18px; }

.container-footer .coppy-right span {
  padding: 13px 0;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  align-self: flex-end; }

.container-footer .coppy-right span b {
  color: #bc9f6e;
  text-transform: uppercase; }

.container-footer .email-contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white; }

.container-footer .email-contact > *,
.container-footer .info-contact > * {
  margin: 12px 0; }

.container-footer .email-contact h1.primary-text,
.container-footer .info-contact span.primary-text {
  font-size: 32px;
  font-weight: 700;
  height: 15%;
  color: white; }

.container-footer .email-contact h1.primary-text {
  color: #bc9f6e;
  padding: 12px 0;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  text-align: center; }

.container-footer .email-contact h1::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #004d61; }

.container-footer .email-contact .list-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  align-self: flex-end;
  height: 60%; }

.container-footer .email-contact .list-box .box-input {
  width: 33%;
  margin: 12px 20px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: end; }

.container-footer .email-contact .list-box .box-input input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: 1px solid #bc9f6e;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 22px 4px 20px;
  color: black;
  border-radius: 5px; }

.container-footer .email-contact .list-box .box-input input:-webkit-autofill {
  -webkit-background-clip: text; }

.container-footer .email-contact .list-box .box-input input:focus-visible {
  border-radius: unset;
  border: 1px solid #bc9f6e;
  outline: unset; }

.container-footer .email-contact .list-box .box-input label {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 600;
  transition: .5s;
  background-color: white;
  color: black; }

.container-footer .email-contact .list-box .box-input input:focus ~ label,
.container-footer .email-contact .list-box .box-input input:valid ~ label {
  top: 1.5%;
  color: #bc9f6e; }

.container-footer .email-contact button {
  background-color: transparent;
  border: 1px solid #bc9f6e;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 30px;
  text-align: center;
  transition: .5s;
  border-radius: 5px;
  z-index: 8;
  position: relative;
  cursor: pointer; }

.container-footer .email-contact button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #bc9f6e;
  z-index: -1;
  transition: .5s; }

.container-footer .email-contact button:hover {
  color: white; }

.container-footer .email-contact button:hover::after {
  width: 100%; }

.container-footer .main-footer .info-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 60%;
  height: 100%; }

.container-footer .main-footer .info-contact .address,
.container-footer .main-footer .info-contact .hotline,
.container-footer .main-footer .info-contact .email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 45%;
  height: 20%; }

.container-footer .main-footer .info-contact .address {
  margin-right: 20%; }

.container-footer .main-footer .info-contact span.material-symbols-outlined {
  color: #bc9f6e;
  margin-right: 6px; }

.container-footer .main-footer .info-contact .address .title,
.container-footer .main-footer .info-contact .hotline .title,
.container-footer .main-footer .info-contact .email .title {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0 14px 0;
  color: white;
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  text-transform: uppercase; }

.container-footer .main-footer .info-contact .address .content,
.container-footer .main-footer .info-contact .hotline .content,
.container-footer .main-footer .info-contact .email .content {
  font-size: 14px;
  color: #8a8a8a;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px; }

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #f7daa9;
    box-shadow: 0 0 0 0 rgba(247, 218, 169, 0.7); }
  50% {
    transform: scale(1.2);
    background-color: #bc9f6e;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0); }
  100% {
    transform: scale(0.8);
    background-color: #f7daa9;
    box-shadow: 0 0 0 0 rgba(247, 218, 169, 0.7); } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

*::selection {
  background-color: rgba(0, 0, 0, 0.1); }

body {
  font-family: 'Maven Pro', sans-serif;
  overflow-x: hidden; }
