.sidebar-list__items {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 10;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.2); }

.sidebar-item {
  list-style-type: none;
  margin-bottom: 16px;
  cursor: pointer; }

.sidebar-item a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: .5s; }

.sidebar-item a:hover {
  color: #e3b76e; }

.sidebar-item a.active,
.sidebar-item.active a {
  color: #e3b76e;
  position: relative; }

.sidebar-item a.active::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e3b76e;
  top: -1px;
  left: 54%;
  transform: translatex(-50%);
  z-index: 9; }

.container-home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 1px; }

.container-home::-webkit-scrollbar {
  width: 0; }

.container-home::-webkit-scrollbar-track {
  background-color: transparent; }

.container-home::-webkit-scrollbar-thumb {
  background-color: transparent; }

.container-home .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  transition: transform 2s; }

.container-home .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.container-home .card .card-content {
  z-index: 2;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden; }

.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation-name: typewriter;
  animation-duration: 5s;
  animation-direction: reverse; }

.navbar {
  width: 100%;
  height: 70px;
  color: #bc9f6e;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100; }

.navbar-right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative; }

.navbar-right a {
  color: #bc9f6e;
  text-decoration: none; }

.navbar-right img {
  width: 200px;
  height: 200%;
  transform: translateX(25%); }

.navbar-right .name-company {
  font-size: 36px;
  position: absolute;
  right: 26%;
  letter-spacing: 2.5px; }

.navbar-left {
  width: 60%;
  height: 100%; }

.navbar-left .primary-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.navbar-left .primary-navbar li {
  width: 20%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar-left .primary-navbar li a {
  color: #666;
  text-decoration: none;
  transition: .3s;
  font-size: 16px;
  font-weight: 400; }

.navbar-left .primary-navbar li a:hover {
  color: #bc9f6e; }

@keyframes scaleIn {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes typewriter {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes doorDown {
  from {
    transform: translateY(-200%); }
  to {
    transform: translateY(0); } }

@keyframes upDoor {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-200%); } }

@keyframes doorUp {
  from {
    transform: translateY(200%); }
  to {
    transform: translateY(0); } }

@keyframes downDoor {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(200%); } }

@keyframes typewriterCompany {
  0% {
    width: 100%; }
  100% {
    width: 0; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto,Arial,Helvetica,sans-serif; }

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  overflow: hidden; }

.loading .upDoor {
  width: 100%;
  height: 50%;
  background-color: #bc9f6e;
  animation-name: upDoor;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 1.7s; }

.loading .downDoor {
  width: 100%;
  height: 50%;
  background-color: #bc9f6e;
  animation-name: downDoor;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 1.7s; }

.loading .text {
  color: white;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 202; }

.loading .text span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriterCompany 1.5s steps(9) reverse; }

.door-up {
  animation-name: upDoor !important;
  animation-timing-function: ease-in-out !important;
  animation-duration: 1.5s !important; }

.door-down {
  animation-name: downDoor !important;
  animation-timing-function: ease-in-out !important;
  animation-duration: 1.5s !important; }
