<div id="6" class="container-footer">
  <form class="email-contact" action="/feedback" method="POST">
            <h1 class="primary-text">Đăng Kí Nhận Thông Tin Sản Phẩm</h1>
            <div class="list-box">
              <div class="box-input">
                <input id="fullname" type="text" name="fullname" required>
                <label for="fullname">Họ Tên</label>
              </div>
              <div class="box-input">
                <input id="email" type="text" name="email" required>
                <label for="email">Email</label>
              </div>
              <div class="box-input">
                <input id="phone" type="text" name="phone" required>
                <label for="phone">Số Điện Thoại</label>
              </div>
              <div class="box-input">
                <input id="address" type="text" name="address" required>
                <label for="address">Địa Chỉ</label>
              </div>
            </div>
            <button type="submit" >Đăng Kí</button>
          </form>
      <div class="main-footer">
        <div class="header-footer">
          <img class="logo" src="/img/companyTPWhite.png" alt="">
          <a href="#">
            <img src="/img/bct-logo.png" alt="">
          </a>
      </div>
          <div class="info-contact">
            <div class="address">
              <span class="title">Địa Chỉ</span>
              <span class="content"><span class="material-symbols-outlined">pin_drop</span> 108 Lê Hồng Phong – Phước Hải – Nha Trang – Khánh Hòa</span>
              <span class="content"><span class="material-symbols-outlined">mail</span> ctythienphu@ymail.com</span>
              <span class="content"><span class="material-symbols-outlined">call</span> 0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
            <div class="hotline">
              <span class="title">Chăm Sóc Khách Hàng</span>
              <span class="content"><span class="material-symbols-outlined">mail</span> ctythienphu@ymail.com</span>
              <span class="content"><span class="material-symbols-outlined">call</span> 0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
            <div class="email">
              <span class="title">Phòng Kinh Doanh</span>
              <span class="content"><span class="material-symbols-outlined">mail</span> ctythienphu@ymail.com</span>
              <span class="content"><span class="material-symbols-outlined">call</span> 0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
            <div class="group-fb">
               <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61556829055021&tabs&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
          </div>
      </div>
      <div class="coppy-right">
        <span>© <span class="year-footer"></span> <b>Thiên Phú</b>. Tất cả các quyền được bảo lưu.</span>
      </div>
  </div>
  <script>
    const footer = document.querySelector('.footer-app');
    const headerNav = document.querySelector('.header-app');
    const headerNavAdmin = document.querySelector('.header-app__admin');
    const checkPage = window.location.pathname;
    const hideFooterEmail = document.querySelector('.email-contact');
    if(checkPage === '/contact' || checkPage === '/event' ){
        hideFooterEmail.style.display = 'none';
    }
    if(checkPage.includes('login') || checkPage.includes('apilogin')){
      footer.style.display = 'none';
      headerNavAdmin.style.display = 'none';
    }
    if(checkPage.includes('admin')){
      const urlSegments = checkPage.split('/');
      const lastSegment = urlSegments[urlSegments.length - 2];
    if (lastSegment === 'editEvent') {
        headerNav.style.display = 'none';
        hideFooterEmail.style.display = 'none';
        footer.style.display = 'none';
        headerNavAdmin.style.display = 'none';
        logger('đúng')
    }else{
      headerNav.style.display = 'none';
      hideFooterEmail.style.display = 'none';
      footer.style.display = 'none';
      headerNavAdmin.style.display = 'flex';
    }
    }else{
      headerNavAdmin.style.display = 'none';
    }
    const yearFooter = document.querySelector('.year-footer');
    const dateFooter = new Date();
    const textYearFooter = dateFooter.getFullYear();
    yearFooter.innerHTML = `${textYearFooter}`;
</script>