<div class="container-footer__contact">
    <div class="header">
        <div class="company-name">
            <img src="/img/companyTP.png" alt="">
            <span>Thiên Phú</span>
        </div>
        <span class="slogan">Vững bước thành công tại Khánh Hòa và góp phần xây dựng đất nước.</span>
    </div>
    <div class="footer">
        <span>© 2023 <b>Công Ty TNHH Thiên Phú</b>. Tất cả các quyền được bảo lưu.</span>
    </div>
</div>