<div id="6" class="container-footer">
      <div class="header-footer">
          <img src="/img/companyTP.png" alt="">
          <span class="name-company">Thiên Phú</span>
          <span class="slogan">Vững bước thành công tại Khánh Hòa và góp phần xây dựng đất nước.</span>
      </div>
      <div class="main-footer">
          <form class="email-contact" action="/feedback" method="POST">
            <span class="primary-text">Đăng Kí Nhận Thông Tin Sản Phẩm</span>
            <div class="list-box">
              <div class="box-input">
                <input id="fullname" type="text" name="fullname" required>
                <label for="fullname">Họ Tên</label>
              </div>
              <div class="box-input">
                <input id="email" type="text" name="email" required>
                <label for="email">Email</label>
              </div>
              <div class="box-input">
                <input id="phone" type="text" name="phone" required>
                <label for="phone">Số Điện Thoại</label>
              </div>
              <div class="box-input">
                <input id="address" type="text" name="address" required>
                <label for="address">Địa Chỉ</label>
              </div>
            </div>
            <button type="submit" >Đăng Kí</button>
          </form>
          <div class="info-contact">
            <span class="primary-text">Thông Tin Liên Hệ</span>
            <div class="address">
              <span class="title">Địa Chỉ</span>
              <span class="content">108 Lê Hồng Phong – Phước Hải – Nha Trang – Khánh Hòa</span>
            </div>
            <div class="hotline">
              <span class="title">Hotline</span>
              <span class="content">0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
            <div class="email">
              <span class="title">Email</span>
              <span class="content">ctythienphu@ymail.com</span>
            </div>
          </div>
      </div>
      <div class="coppy-right">
        <span>© 2023 Thiên Phú. Tất cả các quyền được bảo lưu.</span>
      </div>
  </div>