<div id="6" class="container-footer">
  <form class="email-contact" action="/feedback" method="POST">
            <h1 class="primary-text">Đăng Kí Nhận Thông Tin Sản Phẩm</h1>
            <div class="list-box">
              <div class="box-input">
                <input id="fullname" type="text" name="fullname" required>
                <label for="fullname">Họ Tên</label>
              </div>
              <div class="box-input">
                <input id="email" type="text" name="email" required>
                <label for="email">Email</label>
              </div>
              <div class="box-input">
                <input id="phone" type="text" name="phone" required>
                <label for="phone">Số Điện Thoại</label>
              </div>
              <div class="box-input">
                <input id="address" type="text" name="address" required>
                <label for="address">Địa Chỉ</label>
              </div>
            </div>
            <button type="submit" >Đăng Kí</button>
          </form>
      <div class="main-footer">
        <div class="header-footer">
          <img src="/img/companyTPWhite.png" alt="">
      </div>
          <div class="info-contact">
            <div class="address">
              <span class="title">Địa Chỉ</span>
              <span class="content"><span class="material-symbols-outlined">pin_drop</span> 108 Lê Hồng Phong – Phước Hải – Nha Trang – Khánh Hòa</span>
              <span class="content"><span class="material-symbols-outlined">mail</span> ctythienphu@ymail.com</span>
              <span class="content"><span class="material-symbols-outlined">call</span> 0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
            <div class="hotline">
              <span class="title">Chăm Sóc Khách Hàng</span>
              <span class="content"><span class="material-symbols-outlined">mail</span> ctythienphu@ymail.com</span>
              <span class="content"><span class="material-symbols-outlined">call</span> 0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
            <div class="email">
              <span class="title">Phòng Kinh Doanh</span>
              <span class="content"><span class="material-symbols-outlined">mail</span> ctythienphu@ymail.com</span>
              <span class="content"><span class="material-symbols-outlined">call</span> 0258 3 875 686 | 0258 3 875 303 | 0258 3 875 163</span>
            </div>
          </div>
      </div>
      <div class="coppy-right">
        <span>© 2023 <b>Thiên Phú</b>. Tất cả các quyền được bảo lưu.</span>
      </div>
  </div>