<div class="container-footer__product">
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d689.26458549933!2d109.18162894796797!3d12.243614305036127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d816291bc07%3A0x836ef1334a3a9d2d!2zMTA4IEzDqiBI4buTbmcgUGhvbmc!5e0!3m2!1sen!2s!4v1690271263736!5m2!1sen!2s" width="70%" height="70%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="right">
        <div class="header">
        <div class="company-name">
            <img src="/img/companyTP.png" alt="">
            <span>Thiên Phú</span>
        </div>
        <span class="slogan">Vững bước thành công tại Khánh Hòa và góp phần xây dựng đất nước.</span>
    </div>
    <div class="footer">
        <span>© 2023 <b>Công Ty TNHH Thiên Phú</b>. Tất cả các quyền được bảo lưu.</span>
    </div>
    </div>
</div>