<div class="navbar">
    <a href="/" class="link navbar-right">
        <img src="/img/companyTP.png" alt="">
        <span class="name-company">Thiên Phú</span>
    </a>
    <div class="navbar-left">
        <ul class="primary-navbar">
            <li><a class="link" href="/about">Giới Thiệu</a></li>
            <li><a class="link" href="/product">Sản Phẩm</a></li>
            <li><a class="link" href="/event">Sự Kiện</a></li>
            <li><a class="link" href="/award">Giải Thưởng</a></li>
            <li><a class="link" href="/contact">Liên Hệ</a></li>
        </ul>
    </div>
</div>