<div class="navbar">
    <div  class="navbar-right">
        <a href="/" class="link"><img src="/img/companyTP.png" alt=""></a>
        <a href="/" class="link name-company"><span >Thiên Phú</span></a>
    </div>
    <div class="navbar-left">
        <ul class="primary-navbar">
            <li><a class="link" href="/about">Giới Thiệu</a></li>
            <li><a class="link" href="/product">Sản Phẩm</a></li>
            <li><a class="link" href="/event">Sự Kiện</a></li>
            <li><a class="link" href="/award">Giải Thưởng</a></li>
            <li><a class="link" href="/contact">Liên Hệ</a></li>
        </ul>
    </div>
</div>