<div class="navbar">
    <div class="navbar-right">
        <a href="/"><img src="/img/companyTP.png" alt=""></a>
        <a href="/" class="name-company">Thiên Phú</a>
    </div>
    <div class="navbar-left">
        <ul class="primary-navbar">
            <li><a class="link" href="/about">Giới Thiệu</a></li>
            <li><a href="">Sản Phẩm</a></li>
            <li><a href="">Sự Kiện</a></li>
            <li><a href="">Giải Thưởng</a></li>
            <li><a href="">Liên Hệ</a></li>
        </ul>
    </div>
</div>