<div class="navbar">
    <div class="navbar-right">
        <img src="/img/companyTP.png" alt="">
        <span class="name-company">Thiên Phú</span>
    </div>
    <div class="navbar-left">
        <ul class="primary-navbar">
            <li><a href="">Giới Thiệu</a></li>
            <li><a href="">Sản Phẩm</a></li>
            <li><a href="">Sự Kiện</a></li>
            <li><a href="">Giải Thưởng</a></li>
            <li><a href="">Liên Hệ</a></li>
        </ul>
    </div>
</div>