<div class="navbar">
    <div  class="navbar-inner">
        <div class="navbar-right">
            <a href="/" data-href="home" class="link logo-company"><img src="/img/companyTP.png" alt=""></a>
        </div>
        <ul class="primary-navbar">
            <li><a class="link" data-href="home" href="/">Trang Chủ</a></li>
            <li><a class="link" data-href="about" href="/about">Về Chúng Tôi</a></li>
            <li><a class="link" data-href="product" href="/product">Sản Phẩm</a></li>
            <li><a class="link" data-href="event" href="/event">Sự Kiện</a></li>
            <li><a class="link" data-href="award" href="/award">Giải Thưởng</a></li>
            <li><a class="link" data-href="contact" href="/contact">Liên Hệ</a></li>
        </ul>
    </div>
</div>