<div class="container-about">
    <div class="parallax">
        <div class="background">
        </div>
    </div>
    <div class="body-about">
        <div class="about-vision">
            
        </div>
    </div>
</div>