<div class="container-about">
   <header>
    <img src="/img/headerabout.jpg" alt="">
   </header>
   <div class="body-about">
        <div class="about-intro">
             <div class="background-building">
                <img src="/img/companybuilding.png" alt="">
            </div>
            <div class="introduce">
                <span class="primary-text">Giới Thiệu Tổng Quan</span>
                <span class="secondary-text">Chúng tôi, Công ty Cổ phần xi măng Thiên Phú, với hơn 25 năm kinh nghiệm đáng tự hào là một trong những nhà phân phối chính hàng đầu của sản phẩm xi măng Hà Tiên tại Khánh Hòa, Nha Trang. Sứ mệnh của chúng tôi là cung cấp đến Quý khách hàng những giải pháp xi măng chất lượng cao và bền vững, góp phần xây dựng nên những công trình đẹp, vững chắc và an toàn. </span>
                <span class="secondary-text">Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, Công ty Thiên Phú cam kết mang đến dịch vụ tư vấn tận tâm, hỗ trợ kỹ thuật nhiệt tình và giải pháp cung cấp xi măng phù hợp nhất với yêu cầu và nhu cầu của từng khách hàng. Sự đa dạng trong sản phẩm và dịch vụ của chúng tôi cho phép chúng tôi đáp ứng mọi nhu cầu xây dựng từ nhỏ đến lớn, từ công trình dân dụng đến công trình công nghiệp.</span> 
            </div>
        </div>
        <div class="about-intro">
             <div class="background-building">
                <img src="/img/companybuilding.png" alt="">
            </div>
            <div class="introduce">
                <span class="primary-text">Giới Thiệu Tổng Quan</span>
                <span class="secondary-text">Chúng tôi, Công ty Cổ phần xi măng Thiên Phú, với hơn 25 năm kinh nghiệm đáng tự hào là một trong những nhà phân phối chính hàng đầu của sản phẩm xi măng Hà Tiên tại Khánh Hòa, Nha Trang. Sứ mệnh của chúng tôi là cung cấp đến Quý khách hàng những giải pháp xi măng chất lượng cao và bền vững, góp phần xây dựng nên những công trình đẹp, vững chắc và an toàn. </span>
                <span class="secondary-text">Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, Công ty Thiên Phú cam kết mang đến dịch vụ tư vấn tận tâm, hỗ trợ kỹ thuật nhiệt tình và giải pháp cung cấp xi măng phù hợp nhất với yêu cầu và nhu cầu của từng khách hàng. Sự đa dạng trong sản phẩm và dịch vụ của chúng tôi cho phép chúng tôi đáp ứng mọi nhu cầu xây dựng từ nhỏ đến lớn, từ công trình dân dụng đến công trình công nghiệp.</span> 
            </div>
        </div>
   </div>
</div>