<div class="container-about">
    <header>
        <h1>Sơ Lược Về Công Ty</h1>
        <div class="certification">
            <div class="certi-box">
                <div class="img-certi">
                    <img src="/img/certi-ht.jpg" alt="" class="certi">
                </div>
                <div class="certi-content">
                    <span class="title">
                        Chứng Nhận Nhà Phân Phối Xi Măng Hà Tiên
                    </span>
                    <span class="content">
                        Chúng tôi tự hào là nhà phân phối chính thức của Vicem Hà Tiên tại Khánh Hòa. Chất lượng vượt trội, dịch vụ tận tâm. Xây dựng thành công, đồng hành cùng chúng tôi
                    </span>
                </div>
            </div>
            <div class="certi-box">
                <div class="img-certi">
                    <img src="/img/10years.jpg" alt="" class="certi">
                </div>
                <div class="certi-content">
                    <span class="title">
                        Hành Trình Vững Chắc Cùng Xi Măng Hà Tiên
                    </span>
                    <span class="content">
                        Chúng tôi đồng hành cùng Xi Măng Hà Tiên, vững bước trên hành trình kiến tạo giá trị bền vững, ghi dấu bằng từng nỗ lực, cùng xây dựng công trình phồn thịnh và tương lai vững vàng
                    </span>
                </div>
            </div>
        </div>
    </header>
    <div class="main-about">
        <div class="about-intro">
            <div class="image-intro">
                <img class="img-intro__first" src="/img/nvthienphu.jpg" alt="">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
                <span class="line4"></span>
                <span class="line5"></span>
                <span class="line6"></span>
                <span class="line7"></span>
                <span class="line8"></span>
            </div>
            <div class="content-intro">
                <p>Về Chúng Tôi</p>
                <h3>Cùng Thiên Phú khám phá sự đa dạng và tiềm năng của xi măng, hãy để chúng tôi hỗ trợ bạn trong mọi dự án xây dựng và mang đến thành công bền vững cho công trình của bạn</h3>
                <span>Công Ty TNHH Thiên Phú, thành lập ngày 14/11/2002, kế thừa hơn 25 năm kinh nghiệm và hơn 20 năm hợp tác cùng Vicem Hà Tiên. Chúng tôi là Nhà phân phối chính thức xi măng Vicem Hà Tiên tại Khánh Hòa, cung cấp sản phẩm chất lượng cao cho Đại Lý, Anh Em Xây Dựng và các công trình lớn nhỏ.</span>
                <span>Với đội ngũ chuyên nghiệp, Thiên Phú cam kết mang đến sản phẩm đạt chuẩn, dịch vụ uy tín, giao hàng nhanh chóng, chi phí hợp lý và tư vấn tận tâm. Không chỉ cung cấp xi măng, chúng tôi luôn đồng hành cùng khách hàng từ khởi công đến hoàn thiện, mang lại giải pháp tối ưu và xây dựng niềm tin bền vững cho mọi công trình.</span>
            </div>
        </div>
         <section class="stats">
            <div class="stat fade-up">
                <span class="counter" data-target="23" data-plus="false">0</span>
                <p>Năm thành lập</p>
                <p class="content">Hơn hai thập kỷ phát triển</p>
            </div>
            <div class="stat fade-up">
                <span class="counter" data-target="30" data-plus="false">0</span>
                <p>Nhân viên</p>
                <p class="content">Đồng lòng – Trách nhiệm – Hiệu quả</p>
            </div>
            <div class="stat fade-up">
                <span class="counter" data-target="400" data-plus="true">0</span>
                <p>Công trình</p>
                <p class="content">Kiến tạo niềm tin qua từng công trình</p>
            </div>
            <div class="stat fade-up">
                <span class="counter" data-target="300" data-plus="true">0</span>
                <p>Đại lý</p>
                <p class="content">Đáp ứng nhanh – Phục vụ tận nơi</p>
            </div>
            </section>
        <div class="primary-infor">
            <div class="card">
                <img src="/img/userHover.svg" alt="">
                <p>Người đại diện</p>
                <h1>Bà Lê Hoàng Thị Như Ý </h1>
            </div>
            <div class="card">
                <img src="/img/typeHover.svg" alt="">
                <p>Loại hình dịch vụ</p>
                <h1>Nhà Phân Phối Xi Măng Tỉnh Khánh Hoà</h1>
            </div>
            <div class="card">
                <img src="/img/establishedHover.svg" alt="">
                <p>Ngày thành lập</p>
                <h1>14/11/2002</h1>
            </div>
        </div>
        <div class="vision-mission">
            <section class="ceo-section">
                <div class="left">
                    <p class="subtitle">GIÁM ĐỐC - CÔNG TY TNHH THIÊN PHÚ</p>
                    <h1 class="title">LÊ HOÀNG THỊ NHƯ Ý</h1>
                    <span class="desc">
                    Chúng tôi cố gắng trở thành đối tác ưu tiên của các công ty xây dựng, các đại lý và các công trình bằng cách cung cấp các sản phẩm xi măng chất lượng cao, thúc đẩy các hoạt động bền vững và thúc đẩy đổi mới trong ngành xây dựng.
                    </span>
                    <span class="desc">
                    Trở thành đối tác phân phối xi măng hàng đầu trong ngành xây dựng ở tỉnh Khánh Hòa, Việt Nam, đồng hành cùng sự phát triển bền vững của cộng đồng và đóng góp vào việc xây dựng môi trường sống tốt đẹp hơn.
                    </span>
                </div>

                <div class="right">
                    <img class="background" src="/img/companyTPBackground.png" alt="">
                    <div class="box__avatar-ceo">
                        <img class="avatar-ceo" src="/img/CEO.png" alt="">
                    </div>
                    <span class="mission">
                    “Sứ mệnh của chúng tôi là: <b>Hỗ trợ phát triển bền vững cộng đồng và xây dựng môi trường sống tốt đẹp.</b>”
                    </span>
                </div>
                </section>
            <div class="container-award">
                <div class="awards">
                    <img src="/img/awards.svg" alt="" class="award">
                    <h1 class="title">Giải Thưởng</h1>
                    <div class="award-box">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="award-card">
                                    <div class="img-award">
                                        <img src="/img/2023.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <h1 class="years">2023</h1>
                                        <p class="content">
                                            Nhà Phân Phối Xi Măng Xuất Sắc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                <div class="swiper-slide">Slide 1</div>
                                <div class="swiper-slide">Slide 2</div>
                                <div class="swiper-slide">Slide 3</div>
                                <div class="swiper-slide">Slide 4</div>
                                <div class="swiper-slide">Slide 5</div>
                                <div class="swiper-slide">Slide 6</div>
                                <div class="swiper-slide">Slide 7</div>
                                <div class="swiper-slide">Slide 8</div>
                                <div class="swiper-slide">Slide 9</div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="award-card">
                                    <div class="img-award">
                                        <img src="/img/2022.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <h1 class="years">2022</h1>
                                        <p class="content">
                                            Nhà Phân Phối Xi Măng Xuất Sắc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="award-card">
                                    <div class="img-award">
                                        <img src="/img/2021.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <h1 class="years">2021</h1>
                                        <p class="content">
                                            Nhà Phân Phối Xi Măng Xuất Sắc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="award-card">
                                    <div class="img-award">
                                        <img src="/img/2020.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <h1 class="years">2020</h1>
                                        <p class="content">
                                            Nhà Phân Phối Xi Măng Xuất Sắc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="award-card">
                                    <div class="img-award">
                                        <img src="/img/2019.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <h1 class="years">2019</h1>
                                        <p class="content">
                                            Nhà Phân Phối Xi Măng Xuất Sắc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                            <div class="award-card">
                                    <div class="img-award">
                                        <img src="/img/2018.png" alt="">
                                    </div>
                                    <div class="bottom">
                                        <h1 class="years">2018</h1>
                                        <p class="content">
                                            Nhà Phân Phối Xi Măng Xuất Sắc
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
            </div>
            </div>
            <div class="container-project">
                    <div class="projects">
                        <h1>Công Trình Tiêu Biểu</h1>
                        <span class="tagline">Chất lượng vững chắc, thành công bền lâu</span>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide hdc">
                                    <img src="/img/hdc.jpg" alt="">
                                    <div class="content">
                                        <h3>Hầm Đèo Cả</h3>
                                        <p>Địa điểm: Tỉnh Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide nvhtn">
                                    <img src="/img/nvhtn.jpg" alt="">
                                    <div class="content">
                                        <h3>Nhà Văn Hoá Thiếu Nhi</h3>
                                        <p>Địa điểm: Nha Trang - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide ubnd">
                                    <img src="/img/ubnd.jpg" alt="">
                                    <div class="content">
                                        <h3>Uỷ Ban Nhân Dân</h3>
                                        <p>Địa điểm: Tỉnh Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide tdsg">
                                    <img src="/img/tdsg.jpg" alt="">
                                    <div class="content">
                                        <h3>Đập Thuỷ Điện Sông Giang</h3>
                                        <p>Địa điểm: Khánh Trung - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide cnsc">
                                    <img src="/img/cnsc.png" alt="">
                                    <div class="content">
                                        <h3>Cụm Công Nghiệp Sông Cầu</h3>
                                        <p>Địa điểm: Khánh Vĩnh - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide vgct">
                                    <img src="/img/vgct.jpg" alt="">
                                    <div class="content">
                                        <h3>Vega City Bãi Tiên</h3>
                                        <p>Địa điểm: Nha Trang - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide kncr">
                                    <img src="/img/kncr.jpg" alt="">
                                    <div class="content">
                                        <h3>Khu KN Cam Ranh</h3>
                                        <p>Địa điểm: Cam Ranh - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide rsbd">
                                    <img src="/img/rscl.jpg" alt="">
                                    <div class="content">
                                        <h3>Các Resort Bãi Dài</h3>
                                        <p>Địa điểm: Cam Lâm - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide ld">
                                    <img src="/img/ld.jpg" alt="">
                                    <div class="content">
                                        <h3>Đoạn Đường Lê Duẩn</h3>
                                        <p>Địa điểm: Cam Ranh - Khánh Hoà</p>
                                    </div>
                                </div>
                                <div class="swiper-slide kv">
                                    <img src="/img/kv.jpg" alt="">
                                    <div class="content">
                                        <h3>Đoạn Đường Khánh Vĩnh</h3>
                                        <p>Địa điểm: Khánh Vĩnh - Khánh Hoà</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
            </div>
        </div>
        <section class="transport-fleet">
            <div class="fleet-box">
                    <div class="fleet-content">
                        <h1>Đội Xe Thiên Phú</h1>
                        <span class="tagline">Mỗi chuyến xe – một cam kết về chất lượng và tiến độ</span>
                        <h3>Công ty TNHH Thiên Phú không chỉ là nhà phân phối chính thức Xi măng Hà Tiên tại Khánh Hòa, mà còn sở hữu đội xe vận chuyển chuyên dụng nhằm đảm bảo tiến độ và chất lượng giao hàng đến từng công trình.</h3>
                        <p>Hiện nay, Thiên Phú đang vận hành đội xe quy mô lớn và đồng bộ, gồm <b>7 xe tải 9 tấn 4, 2 xe tải 5 tấn, 2 xe tải 6 tấn 5, 2 đầu kéo và 6 rơ-moóc chuyên dụng</b>. Hệ thống xe được trang bị đầy đủ, vận hành ổn định và tuân thủ bảo dưỡng định kỳ, sẵn sàng phục vụ mọi nhu cầu vận chuyển xi măng từ nhà máy đến đại lý, công trình và dự án khắp Khánh Hòa.</p>
                        <p>Với đội ngũ tài xế chuyên nghiệp, giàu kinh nghiệm và tận tâm, Thiên Phú cam kết mang đến dịch vụ vận chuyển nhanh – đúng hẹn – an toàn tuyệt đối, góp phần duy trì tiến độ thi công và đảm bảo chất lượng vật tư cho từng công trình lớn nhỏ.</p>
                        <p>Không dừng lại ở đó, Thiên Phú không ngừng nâng cấp quy trình điều phối linh hoạt, tối ưu thời gian và chi phí, giúp khách hàng dễ dàng đặt lịch, theo dõi hành trình và nhận hàng nhanh chóng. Với tinh thần “Uy tín tạo nên giá trị – Chất lượng làm nên thương hiệu”, chúng tôi khẳng định vị thế là nhà phân phối xi măng Hà Tiên hàng đầu tại Khánh Hòa.</p>
                    </div>
                <div class="fleet-gallery">
                    <img src="/img/htvt.png" alt="">
                    <span class="line1"></span>
                    <span class="line2"></span>
                    <span class="line3"></span>
                    <span class="line4"></span>
                    <span class="line5"></span>
                    <span class="line6"></span>
                    <span class="line7"></span>
                    <span class="line8"></span>
                </div>
            </div>
        </section>
        <div class="value">
            <h1>Giá Trị Cốt Lõi Của Chúng Tôi</h1>
            <span>Cam kết mang đến dịch vụ chất lượng xuất sắc, chúng tôi hành động dựa trên năm Giá Trị Cốt Lõi của công ty</span>
            <div class="box-value">
                <div class="card">
                    <div class="icon-value">
                        <img src="/img/ct.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Chính trực</h2>
                    <p>Cam kết tiến hành hoạt động kinh doanh với sự chính trực, trung thực và minh bạch nhất.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value2">
                        <img src="/img/quality.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Chất lượng Xuất sắc</h2>
                    <p>Cam kết cung cấp xi măng chất lượng cao và dịch vụ đáng tin cậy, đảm bảo uy tín và niềm tin từ khách hàng.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value3">
                        <img src="/img/protect.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Tính bền vững</h2>
                    <p>Tôn trọng và bảo vệ môi trường, thúc đẩy các hoạt động xây dựng thân thiện với môi trường.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value4">
                        <img src="/img/renew.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Đổi mới</h2>
                    <p>Tập trung lắng nghe và hiểu nhu cầu của khách hàng, đưa ra giải pháp tối ưu và hỗ trợ tận tâm trong mọi giao dịch.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value5">
                        <img src="/img/safe.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>An toàn</h2>
                    <p>Sự an toàn và phúc lợi của nhân viên, đối tác và khách hàng là điều tối quan trọng đối với chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var slidesPerViewRP;
    if(innerWidth > 769){
        slidesPerViewRP = 3;
    }
    else if(innerWidth > 415 && innerWidth <= 769){
        slidesPerViewRP = 2;
    }else if(innerWidth <= 415){
        slidesPerViewRP = 1;
    }
    var swiper = new Swiper(".awards .mySwiper", {
      slidesPerView: slidesPerViewRP,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 3000, // thời gian giữa các lần chuyển (ms) – 3000 = 3 giây
        disableOnInteraction: false, // vẫn auto chạy sau khi người dùng thao tác
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    var swiper = new Swiper(".projects .mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        type: "progressbar",
      },
      loop: true,
      autoplay: {
        delay: 3000, // thời gian giữa các lần chuyển (ms) – 3000 = 3 giây
        disableOnInteraction: false, // vẫn auto chạy sau khi người dùng thao tác
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>
