<div class="container-about">
   <header>
    <img src="/img/headerabout.jpg" alt="">
   </header>
   <div class="body-about">
        <div class="about-intro">
             <div class="background-building">
                <img src="/img/companybuilding.jpg" alt="">
            </div>
            <div class="introduce">
                <span class="primary-text">Giới Thiệu Tổng Quan</span>
                <span class="secondary-text">Chúng tôi, Công ty Cổ phần xi măng Thiên Phú, với hơn 25 năm kinh nghiệm đáng tự hào là một trong những nhà phân phối chính hàng đầu của sản phẩm xi măng Hà Tiên tại Khánh Hòa, Nha Trang. Sứ mệnh của chúng tôi là cung cấp đến Quý khách hàng những giải pháp xi măng chất lượng cao và bền vững, góp phần xây dựng nên những công trình đẹp, vững chắc và an toàn. </span>
                <span class="secondary-text">Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, Công ty Thiên Phú cam kết mang đến dịch vụ tư vấn tận tâm, hỗ trợ kỹ thuật nhiệt tình và giải pháp cung cấp xi măng phù hợp nhất với yêu cầu và nhu cầu của từng khách hàng. Sự đa dạng trong sản phẩm và dịch vụ của chúng tôi cho phép chúng tôi đáp ứng mọi nhu cầu xây dựng từ nhỏ đến lớn, từ công trình dân dụng đến công trình công nghiệp.</span> 
            </div>
        </div>
        <div class="about-vision">
            <div class="text">
                <span class="title">Tầm Nhìn</span>
                <span class="vision-text">Trở thành nhà cung cấp hàng đầu các giải pháp xi măng chất lượng cao, thúc đẩy phát triển cơ sở hạ tầng bền vững và tác động tích cực đến cộng đồng tại Khánh Hòa.</span>
            </div>
            <img src="/img/vision.jpg" alt="">
        </div>
        <div class="about-mission">
            <img src="/img/mission.jpg" alt="">
            <div class="text">
                <span class="title">Sứ Mệnh</span>
                <span class="mission-text">Tại Xi măng Thiên Phú, sứ mệnh của chúng tôi là cung cấp dịch vụ phân phối xi măng vượt trội cho khách hàng, góp phần phát triển cơ sở hạ tầng và các công trình xây dựng trên địa bàn tỉnh Khánh Hòa và hơn thế nữa. Chúng tôi cố gắng trở thành đối tác ưu tiên của các công ty xây dựng, kiến trúc sư, kỹ sư và nhà phát triển bằng cách cung cấp các sản phẩm xi măng chất lượng cao, thúc đẩy các hoạt động bền vững và thúc đẩy đổi mới trong ngành xây dựng.</span>
            </div>
        </div>
        <div class="about-values">
            <div class="header"></div>
            <div class="text">
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/ct.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title" style="color: #80b6ff;">Chính trực</span>
                        <span class="content">Chúng tôi tin tưởng vào việc tiến hành hoạt động kinh doanh của mình với sự chính trực, trung thực và minh bạch nhất. Cam kết của chúng tôi đối với các thực hành đạo đức và hành vi có trách nhiệm là nền tảng cho mọi khía cạnh hoạt động của chúng tôi.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/quality.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title title-quality">Chất lượng Xuất sắc </span>
                        <span class="content">Chúng tôi tận tâm cung cấp các sản phẩm xi măng có chất lượng cao nhất, tuân thủ các tiêu chuẩn ngành và thông lệ tốt nhất. Sự tập trung của chúng tôi vào chất lượng xuất sắc đảm bảo tuổi thọ và độ bền của các cấu trúc mà xi măng hỗ trợ của chúng tôi.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/protect.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title" style="color: #fcb732;">Tính bền vững</span>
                        <span class="content">Là một doanh nghiệp có trách nhiệm, chúng tôi cam kết giảm thiểu tác động đến môi trường và thúc đẩy các hoạt động bền vững trong toàn bộ chuỗi cung ứng của mình. Chúng tôi tích cực tìm kiếm các giải pháp thân thiện với môi trường và hỗ trợ các dự án đóng góp cho sự thịnh vượng của cộng đồng và hành tinh.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/renew.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title title-renew">Đổi mới</span>
                        <span class="content">Nắm bắt đổi mới là yếu tố sống còn cho sự phát triển của chúng tôi và dẫn đầu trong một thị trường cạnh tranh. Chúng tôi khuyến khích một nền văn hóa cải tiến liên tục, nơi nuôi dưỡng sự sáng tạo và ý tưởng mới, dẫn đến các sản phẩm, dịch vụ và hiệu quả hoạt động tốt hơn.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/safe.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title">An toàn</span>
                        <span class="content">Sự an toàn và phúc lợi của nhân viên, đối tác và khách hàng là điều tối quan trọng đối với chúng tôi. Chúng tôi duy trì một môi trường làm việc an toàn, tuân thủ các quy trình an toàn nghiêm ngặt và ưu tiên phòng ngừa tai nạn trong tất cả các hoạt động của mình.</span>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<script>
  document.querySelector('.container-about').onscroll = function() {
    scrollNavbar();
  };

  function scrollNavbar() {
    var introduce = document.querySelector('.container-about .body-about .about-intro .introduce');
    var aboutIntroHeight = document.querySelector('.container-about .body-about .about-intro').clientHeight;
    
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight - 500) {
      introduce.style.cssText = 'transform: translateY(0)';
      document.querySelector('.container-about .body-about .about-intro .background-building img').style.cssText = 'transform: translatex(0)';
    } else {
      introduce.style.cssText = 'transform: translateY(100%)';
      document.querySelector('.container-about .body-about .about-intro .background-building img').style.cssText = 'transform: translatex(-100%)';
    }
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight + 200) {
        document.querySelector('.container-about .body-about .about-vision .text').style.cssText = 'transform: translateY(0)';
        document.querySelector('.container-about .body-about .about-vision img').style.cssText = 'transform: translatex(0)';
    } else {
        document.querySelector('.container-about .body-about .about-vision .text').style.cssText = 'transform: translateY(-100%)';
        document.querySelector('.container-about .body-about .about-vision img').style.cssText = 'transform: translatex(100%)';

    }
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight + 800) {
        document.querySelector('.container-about .body-about .about-mission .text').style.cssText = 'transform: translateY(0)';
        document.querySelector('.container-about .body-about .about-mission img').style.cssText = 'transform: translatex(0)';
    } else {
        document.querySelector('.container-about .body-about .about-mission .text').style.cssText = 'transform: translateY(100%)';
        document.querySelector('.container-about .body-about .about-mission img').style.cssText = 'transform: translatex(-100%)';

    }
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight + 1700) {
        document.querySelector('.container-about .body-about .about-values .header').style.cssText = 'filter: grayscale(0)';
         const cardElements = document.querySelectorAll('.container-about .body-about .about-values .text .card');
            cardElements.forEach((element) => {
            element.style.cssText = 'transform: translateY(-15%);';
        });
    } else {
       document.querySelector('.container-about .body-about .about-values .header').style.cssText = 'filter: grayscale(1)';
         const cardElements = document.querySelectorAll('.container-about .body-about .about-values .text .card');
            cardElements.forEach((element) => {
            element.style.cssText = 'transform: translateY(100%);';
        });

    }
  }
</script>
