<div class="container-about">
    <header>
        <h1>Sơ Lược Về Công Ty</h1>
        <div class="certification">
            <div class="certi-box">
                <div class="img-certi">
                    <img src="/img/certi-ht.jpg" alt="" class="certi">
                </div>
                <div class="certi-content">
                    <h3 class="title">
                        Chứng Nhận Nhà Phân Phối Xi Măng Hà Tiên
                    </h3>
                    <p class="content">
                        Chúng tôi tự hào là nhà phân phối chính thức của Vicem Hà Tiên tại Khánh Hòa. Chất lượng vượt trội, dịch vụ tận tâm. Xây dựng thành công, đồng hành cùng chúng tôi
                    </p>
                </div>
            </div>
            <div class="certi-box">
                <div class="img-certi">
                    <img src="/img/certi-scg.jpg" alt="" class="certi">
                </div>
                <div class="certi-content">
                    <h3 class="title">
                         Đối Tác Top 20 Nhãn Hiệu Hàng Đầu Việt Nam của SCG
                    </h3>
                    <p class="content">
                        Niềm tự hào trong Top 20 Nhãn Hiệu Hàng Đầu của SCG. Chất lượng và đẳng cấp, hãy đồng hành với sự xuất sắc của chúng tôi
                    </p>
                </div>
            </div>
        </div>
    </header>
    <div class="main-about">
        <div class="about-intro">
            <div class="image-intro">
                <img class="img-intro__first" src="/img/about-us.png" alt="">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
                <span class="line4"></span>
                <span class="line5"></span>
                <span class="line6"></span>
                <span class="line7"></span>
                <span class="line8"></span>
            </div>
            <div class="content-intro">
                <p>Về Chúng Tôi</p>
                <h1>Cùng Thiên Phú khám phá sự đa dạng và tiềm năng của xi măng, hãy để chúng tôi hỗ trợ bạn trong mọi dự án xây dựng và mang đến thành công bền vững cho công trình của bạn</h1>
                <span>Chúng tôi là một công ty trách nhiệm hữu hạn với hơn 25 năm kinh nghiệm, chuyên cung cấp xi măng chất lượng cao cho các cửa hàng và công trình xây dựng trong khu vực. Với đội ngũ chuyên nghiệp và tận tâm, chúng tôi cam kết đem đến số lượng lớn xi măng đảm bảo chất lượng và đáng tin cậy để đáp ứng mọi nhu cầu của khách hàng.</span>
                <span>Dịch vụ của chúng tôi không chỉ tập trung vào việc cung cấp xi măng, mà còn đảm bảo sự đồng hành chặt chẽ với khách hàng trong quá trình xây dựng và hoàn thành công trình. Chúng tôi luôn hướng tới sự hài lòng và tin tưởng của khách hàng bằng cách cung cấp giải pháp tối ưu và chất lượng tốt nhất.</span>
            </div>
        </div>
        <div class="primary-infor">
            <div class="card">
                <img class="logo-company" src="/img/companyTP.png" alt="">
                <h1>Tên công ty</h1>
                <p>Công ty trách nhiệm hữu hạn <b>Thiên Phú</b></p>
            </div>
            <div class="card">
                <img src="/img/establish.svg" alt="">
                <h1>Ngày thành lập</h1>
                <p>14/11/2002</p>
            </div>
            <div class="card">
                <img src="/img/user.svg" alt="">
                <h1>Người đại diện</h1>
                <p>Bà Lê Hoàng Thị Như Ý </p>
            </div>
            <div class="card">
                <img src="/img/type.svg" alt="">
                <h1>Loại hình dịch vụ</h1>
                <p>Cung cấp sỉ và lẻ xi măng tại tỉnh <b>Khánh Hoà</b></p>
            </div>
        </div>
        <div class="vision-mission">
           <div class="left">
                <p>GIÁM ĐỐC - CÔNG TY TNHH THIÊN PHÚ</p>
                <h1>LÊ HOÀNG THỊ NHƯ Ý</h1>
                <span>Chúng tôi cố gắng trở thành đối tác ưu tiên của các công ty xây dựng, các đại lý và các công trình bằng cách cung cấp các sản phẩm xi măng chất lượng cao, thúc đẩy các hoạt động bền vững và thúc đẩy đổi mới trong ngành xây dựng.</span>
                <span>Trở thành đối tác phân phối xi măng hàng đầu trong ngành xây dựng ở tỉnh Khánh Hòa, Việt Nam, đồng hành cùng sự phát triển bền vững của cộng đồng và đóng góp vào việc xây dựng môi trường sống tốt đẹp hơn.</span>
           </div>
           <div class="right">
                <img class="background" src="/img/companyTPBackground.png" alt="">
                <img src="/img/CEO.png" alt="">
                <span>Sứ mệnh của chúng tôi là: "Hỗ trợ phát triển bền vững cộng đồng và xây dựng môi trường sống tốt đẹp".</span>
           </div>
           <div class="awards">
                <img src="/img/awards.svg" alt="" class="award">
                <h1 class="title">Giải Thưởng</h1>
                <div class="award-box">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide">
                             <div class="award-card">
                                <div class="img-award">
                                    <img src="/img/2023.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h1 class="years">2023</h1>
                                    <p class="content">
                                        Nhà Phân Phối Xi Măng Xuất Sắc
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="award-card">
                                <div class="img-award">
                                    <img src="/img/2022.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h1 class="years">2022</h1>
                                    <p class="content">
                                        Nhà Phân Phối Xi Măng Xuất Sắc
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="award-card">
                                <div class="img-award">
                                    <img src="/img/2021.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h1 class="years">2021</h1>
                                    <p class="content">
                                        Nhà Phân Phối Xi Măng Xuất Sắc
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                             <div class="award-card">
                                <div class="img-award">
                                    <img src="/img/2020.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h1 class="years">2020</h1>
                                    <p class="content">
                                        Nhà Phân Phối Xi Măng Xuất Sắc
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="award-card">
                                <div class="img-award">
                                    <img src="/img/2019.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h1 class="years">2019</h1>
                                    <p class="content">
                                        Nhà Phân Phối Xi Măng Xuất Sắc
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                           <div class="award-card">
                                <div class="img-award">
                                    <img src="/img/2018.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h1 class="years">2018</h1>
                                    <p class="content">
                                        Nhà Phân Phối Xi Măng Xuất Sắc
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
           </div>
        </div>
        <div class="value">
            <h1>Giá Trị Cốt Lõi Của Chúng Tôi</h1>
            <span>Cam kết mang đến dịch vụ chất lượng xuất sắc, chúng tôi hành động dựa trên năm Giá Trị Cốt Lõi của công ty</span>
            <div class="box-value">
                <div class="card">
                    <div class="icon-value">
                        <img src="/img/ct.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Chính trực</h2>
                    <p>Cam kết tiến hành hoạt động kinh doanh với sự chính trực, trung thực và minh bạch nhất.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value2">
                        <img src="/img/quality.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Chất lượng Xuất sắc</h2>
                    <p>Cam kết cung cấp xi măng chất lượng cao và dịch vụ đáng tin cậy, đảm bảo uy tín và niềm tin từ khách hàng.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value3">
                        <img src="/img/protect.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Tính bền vững</h2>
                    <p>Tôn trọng và bảo vệ môi trường, thúc đẩy các hoạt động xây dựng thân thiện với môi trường.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value4">
                        <img src="/img/renew.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>Đổi mới</h2>
                    <p>Tập trung lắng nghe và hiểu nhu cầu của khách hàng, đưa ra giải pháp tối ưu và hỗ trợ tận tâm trong mọi giao dịch.</p>
                </div>
                 <div class="card">
                    <div class="icon-value value5">
                        <img src="/img/safe.png" alt="">
                        <div class="after"></div>
                    </div>
                    <h2>An toàn</h2>
                    <p>Sự an toàn và phúc lợi của nhân viên, đối tác và khách hàng là điều tối quan trọng đối với chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var slidesPerViewRP;
    if(innerWidth > 769){
        slidesPerViewRP = 3;
    }
    else if(innerWidth > 415 && innerWidth <= 769){
        slidesPerViewRP = 2;
    }else if(innerWidth <= 415){
        slidesPerViewRP = 1;
    }
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: slidesPerViewRP,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    const dataCard = [];
    const listCard = document.querySelectorAll('.card');
    for(let i = 0; i < listCard.length; i++){
        dataCard.push(listCard[i])
    }
    dataCard[0].addEventListener('mouseenter',()=>{
        const icon = dataCard[0].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/companyTPWhite.png'
        }, 150)
    })
    dataCard[0].addEventListener('mouseleave',()=>{
        const icon = dataCard[0].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/companyTP.png'
        }, 200)
    })
    dataCard[1].addEventListener('mouseenter',()=>{
        const icon = dataCard[1].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/establishedHover.svg'
        }, 150)
    })
    dataCard[1].addEventListener('mouseleave',()=>{
        const icon = dataCard[1].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/establish.svg'
        }, 200)
    })
    dataCard[2].addEventListener('mouseenter',()=>{
        const icon = dataCard[2].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/userHover.svg'
        }, 150)
    })
    dataCard[2].addEventListener('mouseleave',()=>{
        const icon = dataCard[2].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/user.svg'
        }, 200)
    })
   dataCard[3].addEventListener('mouseenter',()=>{
        const icon = dataCard[3].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/typeHover.svg'
        }, 150)
    })
    dataCard[3].addEventListener('mouseleave',()=>{
        const icon = dataCard[3].querySelector('img');
        setTimeout(()=>{
            icon.src = '/img/type.svg'
        }, 200)
    })
</script>
