<div class="container-about">
   <header>
    <img src="/img/headerabout.jpg" alt="">
   </header>
   <div class="body-about">
        <div class="about-intro">
             <div class="background-building">
                <img src="/img/companybuilding.jpg" alt="">
            </div>
            <div class="introduce">
                <span class="primary-text">Giới Thiệu Tổng Quan</span>
                <span class="secondary-text">Chúng tôi là một công ty trách nhiệm hữu hạn với hơn 25 năm kinh nghiệm, chuyên cung cấp xi măng chất lượng cao cho các cửa hàng và công trình xây dựng trong khu vực. Với đội ngũ chuyên nghiệp và tận tâm, chúng tôi cam kết đem đến số lượng lớn xi măng đảm bảo chất lượng và đáng tin cậy để đáp ứng mọi nhu cầu của khách hàng.</span>
                <span class="secondary-text">Dịch vụ của chúng tôi không chỉ tập trung vào việc cung cấp xi măng, mà còn đảm bảo sự đồng hành chặt chẽ với khách hàng trong quá trình xây dựng và hoàn thành công trình. Chúng tôi luôn hướng tới sự hài lòng và tin tưởng của khách hàng bằng cách cung cấp giải pháp tối ưu và chất lượng tốt nhất.</span>
                <span class="secondary-text">Cùng Thiên Phú khám phá sự đa dạng và tiềm năng của xi măng, hãy để chúng tôi hỗ trợ bạn trong mọi dự án xây dựng và mang đến thành công bền vững cho công trình của bạn</span>  
            </div>
        </div>
        <div class="about-vision">
            <div class="text">
                <span class="title">Tầm Nhìn</span>
                <span class="vision-text">Trở thành đối tác phân phối xi măng hàng đầu trong ngành xây dựng ở tỉnh Khánh Hòa, Việt Nam, đồng hành cùng sự phát triển bền vững của cộng đồng và đóng góp vào việc xây dựng môi trường sống tốt đẹp hơn.</span>
            </div>
            <div class="background-vision">
                <img src="/img/vision.jpg" alt="">
            </div>
        </div>
        <div class="about-mission">
            <div class="background-mission">
                <img src="/img/mission.jpg" alt="">
            </div>
            <div class="text">
                <span class="title">Sứ Mệnh</span>
                <span class="mission-text">Chúng tôi cố gắng trở thành đối tác ưu tiên của các công ty xây dựng, kiến trúc sư, kỹ sư và nhà phát triển bằng cách cung cấp các sản phẩm xi măng chất lượng cao, thúc đẩy các hoạt động bền vững và thúc đẩy đổi mới trong ngành xây dựng.</span>
            </div>
        </div>
        <div class="about-values">
            <div class="header"></div>
            <div class="text">
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/ct.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title" style="color: #80b6ff;">Chính trực</span>
                        <span class="content">Cam kết tiến hành hoạt động kinh doanh với sự chính trực, trung thực và minh bạch nhất.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/quality.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title title-quality">Chất lượng Xuất sắc </span>
                        <span class="content">Cam kết cung cấp xi măng chất lượng cao và dịch vụ đáng tin cậy, đảm bảo uy tín và niềm tin từ khách hàng.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/protect.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title" style="color: #fcb732;">Tính bền vững</span>
                        <span class="content">Tôn trọng và bảo vệ môi trường, thúc đẩy các hoạt động xây dựng thân thiện với môi trường.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/renew.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title title-renew">Đổi mới</span>
                        <span class="content">Tập trung lắng nghe và hiểu nhu cầu của khách hàng, đưa ra giải pháp tối ưu và hỗ trợ tận tâm trong mọi giao dịch.</span>
                    </div>
                </div>
                <div class="card">
                    <div class="value-img">
                        <img class="values" src="/img/safe.png" alt="">
                    </div>
                    <div class="main">
                        <span class="title">An toàn</span>
                        <span class="content">Sự an toàn và phúc lợi của nhân viên, đối tác và khách hàng là điều tối quan trọng đối với chúng tôi.</span>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
<script>
  document.querySelector('.container-about').onscroll = function() {
    scrollNavbar();
  };

  function scrollNavbar() {
    var introduce = document.querySelector('.container-about .body-about .about-intro .introduce');
    var aboutIntroHeight = document.querySelector('.container-about .body-about .about-intro').clientHeight;
    
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight - 500) {
      introduce.style.cssText = 'transform: translateY(0)';
      document.querySelector('.container-about .body-about .about-intro .background-building img').style.cssText = 'transform: translatex(0)';
    } else {
      introduce.style.cssText = 'transform: translateY(100%)';
      document.querySelector('.container-about .body-about .about-intro .background-building img').style.cssText = 'transform: translatex(-100%)';
    }
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight + 200) {
        document.querySelector('.container-about .body-about .about-vision .text').style.cssText = 'transform: translateY(0)';
        document.querySelector('.container-about .body-about .about-vision img').style.cssText = 'transform: translatex(0)';
    } else {
        document.querySelector('.container-about .body-about .about-vision .text').style.cssText = 'transform: translateY(-100%)';
        document.querySelector('.container-about .body-about .about-vision img').style.cssText = 'transform: translatex(150%)';

    }
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight + 800) {
        document.querySelector('.container-about .body-about .about-mission .text').style.cssText = 'transform: translateY(0)';
        document.querySelector('.container-about .body-about .about-mission img').style.cssText = 'transform: translatex(0)';
    } else {
        document.querySelector('.container-about .body-about .about-mission .text').style.cssText = 'transform: translateY(100%)';
        document.querySelector('.container-about .body-about .about-mission img').style.cssText = 'transform: translatex(-150%)';

    }
    if (document.querySelector('.container-about').scrollTop > aboutIntroHeight + 1700) {
        document.querySelector('.container-about .body-about .about-values .header').style.cssText = 'filter: grayscale(0)';
         const cardElements = document.querySelectorAll('.container-about .body-about .about-values .text .card');
            cardElements.forEach((element) => {
            element.style.cssText = 'transform: translateY(-15%);';
        });
    } else {
       document.querySelector('.container-about .body-about .about-values .header').style.cssText = 'filter: grayscale(1)';
         const cardElements = document.querySelectorAll('.container-about .body-about .about-values .text .card');
            cardElements.forEach((element) => {
            element.style.cssText = 'transform: translateY(100%);';
        });

    }
  }
</script>
