<div class="container-contact">
    <header>
        <h1 class="primary-title__company">công ty tnhh</h1>
        <h1 class="primary-title">thiên phú</h1>
        <p>Nhà Phân Phối Xi Măng Hà Tiên Tỉnh Khánh Hòa</p>
    </header>
    <div class="main-contact">
        <div class="header-main">
            <div class="header-bottom">
                <div class="address">
                    <i class="bi bi-geo"></i>
                    <div class="info-address">
                        <span class="title">Địa Chỉ</span>
                        <span class="content">108 Lê Hồng Phong, Phước Hải, Nha Trang, Khánh Hòa</span>
                    </div>
                </div>
                <div class="address hotline">
                    <i class="bi bi-telephone"></i>
                    <div class="info-address">
                        <span class="title">Liên hệ</span>
                        <span class="content">(0258) 3 875 686 | 3 875 303 | 3 875 163</span>
                    </div>
                </div>
                <div class="address email">
                    <i class="bi bi-envelope-at"></i>
                    <div class="info-address">
                        <span class="title">Email</span>
                        <span class="content">Email: ctythienphu@ymail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <form action="/contact/api" method="POST" class="contact-us">
            <span class="title">Gửi thông tin liên hệ cho chúng tôi</span>
            <div class="container-input">
                <div class="fullname">
                    <input type="text" name="fullname" id="fullname" required>
                    <label for="fullname">Họ Tên</label>
                </div>
                <div class="fullname">
                    <input type="text" name="phone" id="phone" required>
                    <label for="phone">Số điện thoại</label>
                </div>
                <div class="fullname">
                    <input type="text" name="email" id="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="fullname">
                    <input type="text" name="address" id="address" required>
                    <label for="address">Địa chỉ</label>
                </div>
                <div class="content-contact">
                    <textarea type="text" name="content" id="content" placeholder="Nhập nội dung bạn muốn liên hệ"></textarea>
                </div>
                <div class="action-submit">
                    <button>gửi liên hệ</button>
                </div>
           </div>
        </form>
        <iframe class="map-contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.068124692644!2d109.17950807572974!3d12.24366658800887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d3d25eca4d7%3A0x7c381292bd40dc26!2zQ8OUTkcgVFkgVE5ISCBUSEnDik4gUEjDmg!5e0!3m2!1sen!2s!4v1761198196229!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>