<form action="/admin/create_event"  method="POST" enctype="multipart/form-data" style="margin-top: 200px; width: 500px; height: 500px; border: 1px solid #ccc; display:flex;flex-direction:column;">
    <input type="text" name="title">
    <textarea type="text" name="text1"></textarea>
    <input type="text" name="text2">
    <input type="text" name="text3">
    <input type="file" name="image1" id="">
    <input type="file" name="image2" id="">
    <button type="submit">Đẹp trai thì bấn vào đây</button>
</form>
