<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM /</a> XI MĂNG HÀ TIÊN Đa Dụng</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40">
            <div class="card-pcb40 card-dadung">
                <div class="background">
                  <div class="background-backup"></div>
                  <img src="/img/dadungpcb40.png" alt="">
                </div>
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">VICEM HÀ TIÊN ĐA DỤNG</span>
                <span class="description">Xi măng VICEM HÀ TIÊN ĐA DỤNG là hỗn hợp nghiền mịn của clinker, thạch cao và các phụ gia khoáng hoạt tính khác như Puzzolan, đá vôi,… giúp cải thiện các tính chất vật lý của xi măng và bê tông như: rút ngắn thời gian đông kết, tạo cường độ cao, vữa dẻo.”</span>
                <div class="contact-pcb40">
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:02583875303" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 303</span>
                    </a>
                    <a href="tel:02583875163" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 163</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <span class="application-content">Xi măng VICEM HÀ TIÊN ĐA DỤNG là sản phẩm xi măng được sử dụng cho nhiều mục đích: đổ bê tông móng, sàn, cột, đà hoặc trộn vữa xây, vữa tô hoặc ốp gạch đá hoặc cán nền.</span>
                <span class="application-content">Sử dụng cho các công trình dân dụng và các dự án công nghiệp</span>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li>Đổ bê tông: cường độ phát triển cao, ổn định, thời gian tháo ván khuôn hợp lý, tính công tác của bê tông tốt (khả năng duy trì độ sụt, độ dẻo) phù hợp cho nhiều hạng mục kết cấu.</li>
                    <li>Trộn vữa: vữa dẻo do xi măng có khả năng giữ nước tốt, dễ kéo bay, láng mặt à tường mịn, hạn chế răn nứt, hạn chế thấm, mác vữa cao.</li>
                    <li>Ốp gạch đá: xi măng có độ mịn cao, mức độ khuếch tán hạt mịn vào nền gạch và tường tốt, khả năng giữ nước tốt à nâng cao độ bám dính giữa vữa xi măng với gạch và tường, tiết kiệm hồ do hạn chế vữa không bám dính rơi xuống đất à tăng độ thẩm mỹ và độ bền công trình.</li>
                </ul>
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <span class="pack-content">Bao 50kg</span>
            </div>
            <div class="standard">
                <span class="title">TIÊU CHUẨN</span>
                <span class="standard-content">XXI MĂNG VICEM HÀ TIÊN đa dụng được sản xuất theo Tiêu chuẩn Việt Nam TCVN 6260 : 2009 có các chỉ tiêu cơ lý và thành phần hóa như sau:</span>
                <span class="title-standard-img">TCVN 6260 : 2009</span>
                <img src="/img/standard-dadung.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
    const backToProduct = document.querySelectorAll('.link.product');
    backToProduct.forEach(product=>{
        product.classList.add('product-header')
    })
</script>