<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM /</a> XI MĂNG VICEM HÀ TIÊN ĐA DỤNG</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40">
            <div class="card-pcb40 card-dadung">
                  <img src="/img/dadungposter.jpg" alt="">
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">XI MĂNG VICEM HÀ TIÊN ĐA DỤNG</span>
                <span class="description">Xi măng Vicem Hà Tiên Đa Dụng PCB40 – Giải pháp tối ưu cho mọi công trình. Vicem Hà Tiên Đa Dụng PCB40 là dòng xi măng đa năng, đáp ứng hoàn hảo cho mọi nhu cầu xây dựng – từ nhà dân dụng đến các dự án quy mô lớn. Sản phẩm thích hợp cho cả công đoạn đổ bê tông, xây tô và ốp lát, mang lại hiệu quả bền vững và toàn diện cho công trình.</span>
                <div class="contact-pcb40">
                    <span class="header-title">LIÊN HỆ NHẬN BÁO GIÁ</span>
                    <span class="sub-title">Để được tư vấn chi tiết về sản phẩm hoặc nhận báo giá tốt nhất, quý khách vui lòng liên hệ với chúng tôi qua thông tin sau:</span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:0702775548" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0702 775 548</span>
                    </a>
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <span class="application-content">Từ nhà dân dụng đến công trình quy mô lớn. Sản phẩm đáp ứng hoàn hảo cho các công đoạn xây, tô, trát, ốp lát và đổ bê tông kết cấu, mang lại độ bền cao, khả năng chống thấm tốt và tính thẩm mỹ lâu dài. Nhờ đặc tính ổn định và thích ứng với điều kiện khí hậu Việt Nam, Vicem Hà Tiên PCB40 giúp công trình luôn vững chắc và bền đẹp theo thời gian.</span>
                <span class="application-content">Xi măng Vicem Hà Tiên Đa Dụng PCB40 là lựa chọn lý tưởng cho mọi hạng mục xây dựng</span>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li><b>Bê tông bền chắc, thi công hiệu quả</b>: Cường độ cao, thời gian đông kết nhanh, giúp dễ dàng tháo cốp pha và rút ngắn tiến độ thi công.</li>
                    <li><b>Tường láng mịn, chống thấm vượt trội</b>: Vữa có độ dẻo tốt, bám dính cao, mang lại bề mặt tường phẳng mịn, đẹp và bền theo thời gian.</li>
                    <li><b>Ốp lát thẩm mỹ, kết dính hoàn hảo</b>: Khả năng giữ nước tốt giúp tăng độ bám giữa xi măng với gạch, đá, hạn chế tối đa tình trạng bong tróc.</li>
                    <li><b>Đạt tiêu chuẩn chất lượng TCVN 6260:2020</b> và Được chứng nhận Công trình Xanh Singapore, đảm bảo an toàn cho người sử dụng và thân thiện với môi trường.</li>
                </ul>
                <img src="/img/uudiemdadung.png" alt="">
                <img src="/img/uudiemdadung2.png" alt="">
                <img src="/img/uudiemdadung3.png" alt="">
            </div>
            <div class="receipt">
                <span class="title">CHỨNG NHẬN SẢN PHẨM</span>
                <span class="receipt-content">Xi măng Vicem Hà Tiên Đa Dụng PCB40 đã được Tổng cục Tiêu chuẩn Đo lường Chất lượng – Trung tâm Chứng nhận Phù hợp (Quacert) chứng nhận đáp ứng Quy chuẩn Quốc gia QCVN 16:2019/BXD và Tiêu chuẩn Việt Nam TCVN 6260:2020.
                    Sản phẩm đảm bảo độ bền cao, an toàn tuyệt đối và chất lượng ổn định, đáp ứng đầy đủ yêu cầu kỹ thuật trong các công trình xây dựng hiện nay.</span>
                <img src="/img/receiptdadung.png" alt="">
            </div>
            <div class="environment">
                <span class="title">THÂN THIỆN MÔI TRƯỜNG</span>
                <span class="environment-content">Xi măng Vicem Hà Tiên Đa Dụng PCB40 tự hào đạt chứng chỉ cấp cao từ Hội đồng Công trình Xanh Singapore (SGBC) cùng chứng nhận quốc tế EPD (Environmental Product Declaration) – bản tuyên bố môi trường sản phẩm. Đây là minh chứng rõ ràng cho hiệu suất môi trường vượt trội và tính bền vững của sản phẩm theo các chuẩn mực quốc tế trong ngành xây dựng hiện đại.</span>
                <img src="/img/environmentdadung.png" alt="">
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <span class="pack-content">Bao 50kg – lựa chọn phù hợp cho cả thợ chuyên nghiệp lẫn gia chủ thi công nhà ở.</span>
                <img src="/img/baobidadung.png" alt="">
            </div>
            <div class="standard">
                <span class="title">TIÊU CHUẨN</span>
                <span class="standard-content">XI MĂNG VICEM HÀ TIÊN đa dụng được sản xuất theo Tiêu chuẩn Việt Nam TCVN TCVN 6260:2020 có các chỉ tiêu cơ lý và thành phần hóa như sau:</span>
                <span class="title-standard-img">TCVN 6260:2020 (PCB40)</span>
                <img src="/img/standard-dadung.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
    const backToProduct = document.querySelectorAll('.link.product');
    backToProduct.forEach(product=>{
        product.classList.add('product-header')
    })
</script>