<div class="container-home">
  <header>
    <h1>THIÊN PHÚ</h1>
    <span>Nhà Phân Phối Xi Măng Tỉnh <br> <b>Khánh Hoà</b></span>
    <p>Xây dựng chất lượng, đẳng cấp vững bền, cùng bạn tạo nên những giải pháp xây dựng tuyệt vời.</p>
  </header>
  <div class="main-home">
    <div class="reason-choose-us">
      <h1>lí do chọn chúng tôi</h1>
      <span>Tại <b>THIÊN PHÚ</b>, chúng tôi tự hào mang đến những giải pháp độc đáo và sáng tạo, để bạn có thể an tâm và tin tưởng vào sự thành công của dự án.</span>
      <div class="list-card">
        <div class="card">
          <img src="/img/quality.svg" alt="">
          <span class="title">Chất lượng</span>
          <span class="main-info">Chất lượng hàng đầu, cam kết mang đến sản phẩm tốt nhất.</span>
        </div>
         <div class="card">
          <img src="/img/goodprice.svg" alt="">
          <span class="title">Nhanh Chóng - Chi Phí Hợp Lý</span>
          <span class="main-info">Cam kết dịch vụ nhanh chóng, chi phí hợp lý, và hiệu quả.</span>
        </div>
         <div class="card">
          <img src="/img/serve.svg" alt="">
          <span class="title">Tận tâm phục vụ</span>
          <span class="main-info">Đặt khách hàng lên hàng đầu với sự hài lòng và thành công là mục tiêu.</span>
        </div>
         <div class="card">
          <img src="/img/service.png" alt="">
          <span class="title">Dịch vụ toàn diện</span>
          <span class="main-info">Hỗ trợ từ tư vấn ban đầu đến hậu mãi chu đáo.</span>
        </div>
         <div class="card">
          <img src="/img/envir.png" alt="">
          <span class="title">Môi Trường chuyên nghiệp</span>
          <span class="main-info">Tạo môi trường làm việc đoàn kết và sẵn lòng hỗ trợ.</span>
        </div>
      </div>
    </div>
  {{!-- about company --}}
    <div class="about-us">
      <h1>Giới Thiệu Công Ty</h1>
      <div class="introduce">
        <span>Chúng tôi, Công ty Trách Nhiệm Hữu Hạn Thiên Phú, với hơn 25 năm kinh nghiệm đáng tự hào là một trong những nhà phân phối chính hàng đầu của sản phẩm xi măng Hà Tiên tại Khánh Hòa, Nha Trang. Sứ mệnh của chúng tôi là cung cấp đến Quý khách hàng những giải pháp xi măng chất lượng cao và bền vững, góp phần xây dựng nên những công trình đẹp, vững chắc và an toàn.</span>
        <span>Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, Công ty Thiên Phú cam kết mang đến dịch vụ tư vấn tận tâm, hỗ trợ kỹ thuật nhiệt tình và giải pháp cung cấp xi măng phù hợp nhất với yêu cầu và nhu cầu của từng khách hàng. Sự đa dạng trong sản phẩm và dịch vụ của chúng tôi cho phép chúng tôi đáp ứng mọi nhu cầu xây dựng từ nhỏ đến lớn, từ công trình dân dụng đến công trình công nghiệp.</span>
        <a href="/about" class="read-more">Xem Chi Tiết</a>
      </div>
      <div class="img-introduce">
        <img class="img-2" src="/img/aboutthienphu2.jpg" alt="">
        <img class="img-1" src="/img/aboutthienphu.jpg" alt="">
      </div>
    </div>
  {{!-- best seller --}}
    <div class="best-seller">
      <h1>Sản Phẩm Tiêu Biểu</h1>
      <div class="list-product">
            <a href="/product/xi-mang-ha-tien-da-dung-pcb40" class="product dadungpcb40">
                <div class="background-product">
                  <div class="background-backup"></div>
                  <img src="/img/dadungpcb40.png" alt="">
                </div>
                <span class="name-product">Xi măng Hà Tiên Đa dụng PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
         <a href="/product/xi-mang-ha-tien-pcb40" class="product hatienpcb40">
                <div class="background-product">
                  <div class="background-backup"></div>
                  <img src="/img/hatienpcb40.png" alt="">
                </div>
                <span class="name-product">Xi măng hà Tiên pcb40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-vicem-ha-tien-ben-sulfat-pcb40-ms" class="product pcb40-ms">
                <div class="background-product">
                  <div class="background-backup"></div>
                  <img src="/img/pcb40-ms.png" alt="">
                </div>
                <span class="name-product">Xi măng Hà Tiên BỀN SULFAT PCB40-MS</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
      </div>
      <a href="/product" class="see-all">Xem Tất Cả Sản Phẩm</a>
    </div>
    {{!-- sự kiện --}}
    <div class="list-event">
      <h1>Tin Tức - Khuyến Mãi</h1>
      <div class="container-event">
        {{#each event}}
        <a href="/event" class="event">
          <div class="background">
            <img src="{{this.image1}}" alt="">
          </div>
          <div class="content-event">
            <div class="time">
              <span class="material-symbols-outlined">calendar_month</span> 
              <span>{{moment this.createdAt format="DD/MM/YYYY"}}</span>
            </div>
            <span class="title">{{this.title}}</span>
            <div class="content">
              <span>{{this.text1}}</span>
            </div>
          </div>
        </a>
        {{/each}}
        
      </div>
    </div>
  </div>
</div>