<div class="sidebar-list__items">
  <ul id="sidebar-list">
    <li class="sidebar-item"><a class="first active" href="#1">1</a></li>
    <li class="sidebar-item"><a class="second" href="#2">2</a></li>
    <li class="sidebar-item"><a class="third" href="#3">3</a></li>
    <li class="sidebar-item"><a class="fourth" href="#4">4</a></li>
    <li class="sidebar-item"><a class="fifth" href="#5">5</a></li>
  </ul>
</div>
<div class="container-home">
  <div id="1" class="card">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="/img/home2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="/img/home3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/img/home1.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    <div id="2" class="card card-ads">
    <div class="main-ads">
      <div class="logo">
        <img src="/img/companyTP.png" alt="">
        <div class="text">
          <span>Thiên Phú</span>
        </div>
      </div>
    </div>
    <div class="footer-ads">
      <div class="slogan">
        <span>Nhà Phân Phối Xi Măng Tỉnh <b>Khánh Hoà</b></span>
        <span>Bạn Đồng hành vững chắc - <b>Thiên Phú</b> là lựa chọn hàng đầu.</span>
      </div>
      <div class="hotline">
        <span><b>Địa Chỉ</b>: 108 Lê Hồng Phong – Phước Hải – Nha Trang – Khánh Hòa</span>
        <span><b>HotLine</b>: 0258 3 875 686 | 3 875 303 | 3 875 163</span>
      </div>
    </div>
    <img src="/img/trucks.png" alt="" class="trucks">
    <img src="/img/ximanghatienposter.png" alt="" class="product">
    </div>
  <div id="3" class="card card-intro">
    <div class="left">
      <span class="about">Về Chúng Tôi</span>
      <span class="intro">Chúng tôi, Công ty Cổ phần xi măng Thiên Phú, với hơn 25 năm kinh nghiệm đáng tự hào là một trong những nhà phân phối chính hàng đầu của sản phẩm xi măng Hà Tiên tại Khánh Hòa, Nha Trang. Sứ mệnh của chúng tôi là cung cấp đến Quý khách hàng những giải pháp xi măng chất lượng cao và bền vững, góp phần xây dựng nên những công trình đẹp, vững chắc và an toàn. <br>
      <br> Với đội ngũ nhân viên chuyên nghiệp và giàu kinh nghiệm, Công ty Thiên Phú cam kết mang đến dịch vụ tư vấn tận tâm, hỗ trợ kỹ thuật nhiệt tình và giải pháp cung cấp xi măng phù hợp nhất với yêu cầu và nhu cầu của từng khách hàng. Sự đa dạng trong sản phẩm và dịch vụ của chúng tôi cho phép chúng tôi đáp ứng mọi nhu cầu xây dựng từ nhỏ đến lớn, từ công trình dân dụng đến công trình công nghiệp.
      </span>
      <a href="/about">Xem Chi Tiết</a>
    </div>
    <div class="right">
      <img src="/img/about-home.jpg" alt="">
    </div>
  </div>
    <div id="4" class="card card-slogan">
    <div class="card-content">
      <span class="primary-text"><b>Thiên Phú </b>- Vững bước thành công tại Khánh Hòa và góp phần xây dựng đất nước.</span>
      <span class="slogan">Xây dựng chất lượng, đẳng cấp vững bền, cùng bạn tạo nên những giải pháp xây dựng tuyệt vời.</span>
    </div>
    <div class="card-choose">
      <span class="primary-text">
        Tại Sao Lại Chọn Chúng Tôi
      </span>
      <span class="secondary-text">
        Tại <b>Thiên Phú</b>, chúng tôi tự hào mang đến những giải pháp độc đáo và sáng tạo, để bạn có thể an tâm và tin tưởng vào sự thành công của dự án của mình.
      </span>
      <div class="main-choose">
        <div class="item__main-choose">
          <span class="material-symbols-outlined">
          new_releases
        </span>
        <span class="title">Chất lượng</span>
        <span class="main-info">Chất lượng hàng đầu, cam kết mang đến sản phẩm tốt nhất.</span>
        </div>
        <div class="item__main-choose">
          <span class="material-symbols-outlined">
          person_celebrate
          </span>
        <span class="title">Sáng tạo và tiên tiến</span>
        <span class="main-info">Luôn cải tiến và đổi mới để đáp ứng mọi yêu cầu.</span>
        </div>
        <div class="item__main-choose">
          <span class="material-symbols-outlined">
          volunteer_activism
          </span>
        <span class="title">Tận tâm phục vụ</span>
        <span class="main-info">Đặt khách hàng lên hàng đầu với sự hài lòng và thành công là mục tiêu.</span>
        </div>
        <div class="item__main-choose">
          <span class="material-symbols-outlined">
          support_agent
          </span>
        <span class="title">Dịch vụ toàn diện</span>
        <span class="main-info">Hỗ trợ từ tư vấn ban đầu đến hậu mãi chu đáo.</span>
        </div>
        <div class="item__main-choose">
          <span class="material-symbols-outlined">
          diversity_1
          </span>
        <span class="title">Môi Trường chuyên nghiệp</span>
        <span class="main-info">Tạo môi trường làm việc đoàn kết và sẵn lòng hỗ trợ.</span>
        </div>  
      </div>
    </div>
  </div>
  <div id="5" class="card card-event">
      <span class="primary-text">Tin Tức <b>Sự Kiện</b></span>
      <div class="list-event">
        {{#each event}}
        <div class="event">
          <div class="background">
          <img src="{{this.image1}}" alt="">
          </div>
          <span class="time">22/07/2023</span>
          <span class="title">{{this.title}}</span>
          <span class="content">{{this.text1}}</span>
        </div>
        {{/each}}
      </div>
      <div class="visited">
        <a href="/event">Xem tất Cả</a>
      </div>
  </div>
</div>
<script>
var containerHome = document.querySelector('.container-home');
containerHome.addEventListener('scroll', scrollContent);

var firstItemSidebar = document.querySelector('.sidebar-list__items .sidebar-item a.first');
var secondItemSidebar = document.querySelector('.sidebar-list__items .sidebar-item a.second');
var thirdItemSidebar = document.querySelector('.sidebar-list__items .sidebar-item a.third');
var fourthItemSidebar = document.querySelector('.sidebar-list__items .sidebar-item a.fourth');
var fifthItemSidebar = document.querySelector('.sidebar-list__items .sidebar-item a.fifth');

function scrollContent() {
  var containerRect = containerHome.getBoundingClientRect();
  var containerHeight = (containerRect.height) - 10;
  var scrollPosition = containerHome.scrollTop;
  var cardADS = document.querySelector('.card-ads');
  var cardIntro = document.querySelector('.card-intro');
  var cardSlogan = document.querySelector('.card-slogan');
  var cardEvent = document.querySelector('.card-event');
  // first card
  if (scrollPosition < containerHeight ) {
    firstItemSidebar.classList.add('active');
    secondItemSidebar.classList.remove('active');

    cardADS.querySelector('.trucks').style.cssText = 'animation: unset';
    cardADS.querySelector('.main-ads .logo img').style.cssText = 'animation: unset;';
    cardADS.querySelector('.product').style.cssText = 'animation: unset;';
    cardADS.querySelector('.footer-ads .slogan').style.cssText = 'transform: translatey(500%)';
    cardADS.querySelector('.footer-ads .hotline').style.cssText = 'transform: translatey(500%))';
    cardADS.querySelector('.main-ads .logo .text span').style.cssText = 'animation: unset;';

    cardIntro.querySelector('.right').style.cssText = 'animation: unset;';
    cardIntro.querySelector('.left').style.cssText = 'animation: unset;';
    
    cardSlogan.querySelector('.card-content .primary-text').style.cssText = 'transform: translateX(-300%);';
    cardSlogan.querySelector('.card-content .slogan').style.cssText = 'transform: translateX(500%);';
    cardSlogan.querySelector('.card-choose .primary-text').style.cssText = 'transform: translateY(-500%);';
    cardSlogan.querySelector('.card-choose .secondary-text').style.cssText = 'transform: translateY(-1000%);';
    const itemMainChooseList = document.querySelectorAll('.card-slogan .card-choose .main-choose .item__main-choose');
      itemMainChooseList.forEach((item, index) => {
        item.style.transform = 'translateY(500%)';
      });

    cardEvent.querySelector('.primary-text').style.cssText = 'transform: translateY(-500%);';
    const eventElements = cardEvent.querySelectorAll('.list-event .event');
    eventElements.forEach((element) => {
      element.style.cssText = 'transform: translateY(500%);';
    });
    cardEvent.querySelector('.visited a').style.cssText = 'transform: translateY(200%);';
  } 
  // second card 
  else if (scrollPosition > containerHeight && scrollPosition <= 2 * containerHeight + 1) {
    firstItemSidebar.classList.remove('active');
    secondItemSidebar.classList.add('active');
    thirdItemSidebar.classList.remove('active');
    fourthItemSidebar.classList.remove('active');
    fifthItemSidebar.classList.remove('active');

    cardADS.querySelector('.trucks').style.cssText = 'animation-name: RunAway; animation-duration: 1.5s; animation-fill-mode: forwards; animation-delay: 0.3s';
    cardADS.querySelector('.main-ads .logo img').style.cssText = 'animation-name: scaleLogo; animation-duration: 1.5s; animation-fill-mode: forwards;';
    cardADS.querySelector('.product').style.cssText = 'animation-name: RunAway; animation-duration: 1.5s; animation-fill-mode: forwards;';
    cardADS.querySelector('.footer-ads .slogan').style.cssText = 'transform: translatey(0)';
    cardADS.querySelector('.footer-ads .hotline').style.cssText = 'transform: translatey(0)';
    cardADS.querySelector('.main-ads .logo .text span').style.cssText = 'animation-name: nameCompany; animation-duration: 1.5s; animation-fill-mode: forwards; animation-delay: 1.5s';

    cardIntro.querySelector('.right').style.cssText = 'animation: unset;';
    cardIntro.querySelector('.left').style.cssText = 'animation: unset;';

    cardSlogan.querySelector('.card-content .primary-text').style.cssText = 'transform: translateX(-300%);';
    cardSlogan.querySelector('.card-content .slogan').style.cssText = 'transform: translateX(500%);';
    cardSlogan.querySelector('.card-choose .primary-text').style.cssText = 'transform: translateY(-500%);';
    cardSlogan.querySelector('.card-choose .secondary-text').style.cssText = 'transform: translateY(-1000%);';
    const itemMainChooseList = document.querySelectorAll('.card-slogan .card-choose .main-choose .item__main-choose');
      itemMainChooseList.forEach((item, index) => {
        item.style.transform = 'translateY(500%)';
      });

    cardEvent.querySelector('.primary-text').style.cssText = 'transform: translateY(-500%);';
    const eventElements = cardEvent.querySelectorAll('.list-event .event');
    eventElements.forEach((element) => {
      element.style.cssText = 'transform: translateY(500%);';
    });
    cardEvent.querySelector('.visited a').style.cssText = 'transform: translateY(200%);';
  }
  // third card 
  else if (scrollPosition > 2 * containerHeight - 1 && scrollPosition <= 3 * containerHeight + 1) {
    firstItemSidebar.classList.remove('active');
    secondItemSidebar.classList.remove('active');
    thirdItemSidebar.classList.add('active');
    fourthItemSidebar.classList.remove('active');
    fifthItemSidebar.classList.remove('active');

    cardADS.querySelector('.trucks').style.cssText = 'animation: unset';
    cardADS.querySelector('.main-ads .logo img').style.cssText = 'animation: unset;';
    cardADS.querySelector('.product').style.cssText = 'animation: unset;';
    cardADS.querySelector('.footer-ads .slogan').style.cssText = 'transform: translatey(500%)';
    cardADS.querySelector('.footer-ads .hotline').style.cssText = 'transform: translatey(500%))';
    cardADS.querySelector('.main-ads .logo .text span').style.cssText = 'animation: unset;';
    
    cardIntro.querySelector('.right').style.cssText = 'animation-name: doubleAnimation; animation-duration: 1.5s; animation-fill-mode: forwards;'
    cardIntro.querySelector('.left').style.cssText = 'animation-name: opacityTrans; animation-duration: 1.5s; animation-fill-mode: forwards; animation-delay: 1s;'

    cardSlogan.querySelector('.card-content .primary-text').style.cssText = 'transform: translateX(-300%);';
    cardSlogan.querySelector('.card-content .slogan').style.cssText = 'transform: translateX(500%);';
    cardSlogan.querySelector('.card-choose .primary-text').style.cssText = 'transform: translateY(-500%);';
    cardSlogan.querySelector('.card-choose .secondary-text').style.cssText = 'transform: translateY(-1000%);';
    const itemMainChooseList = document.querySelectorAll('.card-slogan .card-choose .main-choose .item__main-choose');
      itemMainChooseList.forEach((item, index) => {
        item.style.transform = 'translateY(500%)';
      });
    
    cardEvent.querySelector('.primary-text').style.cssText = 'transform: translateY(-500%);';
    const eventElements = cardEvent.querySelectorAll('.list-event .event');
    eventElements.forEach((element) => {
      element.style.cssText = 'transform: translateY(500%);';
    });
    cardEvent.querySelector('.visited a').style.cssText = 'transform: translateY(200%);';
  }
  // fourth card 
  else if (scrollPosition > 3 * containerHeight - 1 && scrollPosition <= 4 * containerHeight + 1) {
    firstItemSidebar.classList.remove('active');
    secondItemSidebar.classList.remove('active');
    thirdItemSidebar.classList.remove('active');
    fourthItemSidebar.classList.add('active');
    fifthItemSidebar.classList.remove('active');

    cardADS.querySelector('.trucks').style.cssText = 'animation: unset';
    cardADS.querySelector('.main-ads .logo img').style.cssText = 'animation: unset;';
    cardADS.querySelector('.product').style.cssText = 'animation: unset;';
    cardADS.querySelector('.footer-ads .slogan').style.cssText = 'transform: translatey(500%)';
    cardADS.querySelector('.footer-ads .hotline').style.cssText = 'animation: unset;';

    cardIntro.querySelector('.right').style.cssText = 'animation: unset;';
    cardIntro.querySelector('.left').style.cssText = 'animation: unset;';

    cardSlogan.querySelector('.card-content .primary-text').style.cssText = 'transform: translateX(0);';
    cardSlogan.querySelector('.card-content .slogan').style.cssText = 'transform: translateX(0);';
    cardSlogan.querySelector('.card-choose .primary-text').style.cssText = 'transform: translateY(0);';
    cardSlogan.querySelector('.card-choose .secondary-text').style.cssText = 'transform: translateY(0);';
    const itemMainChooseList = document.querySelectorAll('.card-slogan .card-choose .main-choose .item__main-choose');
      itemMainChooseList.forEach((item, index) => {
        item.style.transform = 'translateY(0)';
      });

    cardEvent.querySelector('.primary-text').style.cssText = 'transform: translateY(-500%);';
    const eventElements = cardEvent.querySelectorAll('.list-event .event');
    eventElements.forEach((element) => {
      element.style.cssText = 'transform: translateY(500%);';
    });
    cardEvent.querySelector('.visited a').style.cssText = 'transform: translateY(200%);';
  }
  // fifth card 
  else if (scrollPosition > 4 * containerHeight ) {
    firstItemSidebar.classList.remove('active');
    secondItemSidebar.classList.remove('active');
    thirdItemSidebar.classList.remove('active');
    fourthItemSidebar.classList.remove('active');
    fifthItemSidebar.classList.add('active');

    cardADS.querySelector('.trucks').style.cssText = 'animation: unset';
    cardADS.querySelector('.main-ads .logo img').style.cssText = 'animation: unset;';
    cardADS.querySelector('.product').style.cssText = 'animation: unset;';
    cardADS.querySelector('.footer-ads .slogan').style.cssText = 'transform: translatey(500%)';
    cardADS.querySelector('.footer-ads .hotline').style.cssText = 'transform: translatey(500%))';
    cardADS.querySelector('.main-ads .logo .text span').style.cssText = 'animation: unset;';

    cardIntro.querySelector('.right').style.cssText = 'animation: unset;';
    cardIntro.querySelector('.left').style.cssText = 'animation: unset;';

    cardSlogan.querySelector('.card-content .primary-text').style.cssText = 'transform: translateX(-300%);';
    cardSlogan.querySelector('.card-content .slogan').style.cssText = 'transform: translateX(500%);';
    cardSlogan.querySelector('.card-choose .primary-text').style.cssText = 'transform: translateY(-500%);';
    cardSlogan.querySelector('.card-choose .secondary-text').style.cssText = 'transform: translateY(-1000%);';
    const itemMainChooseList = document.querySelectorAll('.card-slogan .card-choose .main-choose .item__main-choose');
      itemMainChooseList.forEach((item, index) => {
        item.style.transform = 'translateY(500%)';
      });
    
    cardEvent.querySelector('.primary-text').style.cssText = 'transform: translateY(0);';
    const eventElements = cardEvent.querySelectorAll('.list-event .event');
    eventElements.forEach((element) => {
      element.style.cssText = 'transform: translateY(0);';
    });
    cardEvent.querySelector('.visited a').style.cssText = 'transform: translateY(0);';
  }
}
</script>


