<form action="/login/apilogin"  method="POST" style="margin-top: 200px; width: 500px; height: 500px; border: 1px solid #ccc; display:flex;flex-direction:column;">
    <input type="text" name="username">
    <input type="text" name="password">
    <button type="submit">Đẹp trai thì bấn vào đây</button>
</form>
