<div class="container-login">
    <div class="background-inside">
        <div class="back-drop"></div>    
    </div>
    <form action="/login/apilogin"  method="POST" class="box-login">
        <div class="left-box">
            <div class="background-inside__left">
                <div class="back-drop__left"></div> 
            </div>
            <div class="top-left">
                <h1>Chào Mừng Trở Lại!</h1>
                <p>Chúc bạn có 1 ngày làm việc thật năng động và vủi vẻ</p>
            </div>
            <div class="bottom-left">
                <img src="/img/companyTPBackground.png" alt="" class="logo">
            </div>
        </div>
        <div class="right-box">
            <div class="primary-right">
                <img src="/img/companyTPBackground.png" alt="">
                <p>Hãy Sống Năng Động, Làm Việc Vui Vẻ: Năng Lượng Tạo Nên Thành Công!</p>
            </div>
            <div class="login-info username">
                <input id="username" type="text" name="username" required>
                <label class="animation-label animation-label__username" for="username">Tên Đăng Nhập</label>
                <label for="username" class="icon-login icon-login__username">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <path d="M12 1C8.96243 1 6.5 3.46243 6.5 6.5C6.5 9.53757 8.96243 12 12 12C15.0376 12 17.5 9.53757 17.5 6.5C17.5 3.46243 15.0376 1 12 1Z"/> <path d="M7 14C4.23858 14 2 16.2386 2 19V22C2 22.5523 2.44772 23 3 23H21C21.5523 23 22 22.5523 22 22V19C22 16.2386 19.7614 14 17 14H7Z"/> </g>
                    </svg>
                </label>
            </div>
            <div class="login-info password">
                <input id="password" type="password" name="password" required>
                <label class="animation-label animation-label__password" for="password">Mật Khẩu</label>
                <label for="password" class="icon-login icon-login__password">
                    <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <path d="M52,24h-4v-8c0-8.836-7.164-16-16-16S16,7.164,16,16v8h-4c-2.211,0-4,1.789-4,4v32c0,2.211,1.789,4,4,4h40 c2.211,0,4-1.789,4-4V28C56,25.789,54.211,24,52,24z M32,48c-2.211,0-4-1.789-4-4s1.789-4,4-4s4,1.789,4,4S34.211,48,32,48z M40,24 H24v-8c0-4.418,3.582-8,8-8s8,3.582,8,8V24z"/> </g>
                    </svg>
                </label>
            </div>
            <button class="submit-login" type="submit">Đăng Nhập</button>
            <div class="support-login">
                <span>Cần Hỗ Trợ? Liên Hệ: <a href="mailto:nxt03091999@gmail.com">nxt03091999@gmail.com</a></span>
            </div>
        </div>
    </form>
</div>