<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM</a> / Long Thành PCB40</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40">
            <div class="card-pcb40 card-longthanh">
                <div class="background"></div>
                <img src="/img/longthanhpcb40.png" alt="">
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">XI MĂNG PORTLAND HỖN HỢP PCB40 XMLT</span>
                <span class="description">Là loại Xi măng Portlant hỗn hợp PCB40 được sử dụng ở các vùng có điều kiện khắc nhiệt, với chất lượng ổn định và cường độ ca. Phù hợp cho tất cả các công trình dân dụng và công nghiệp, giao thông, thủy lợi, hạ tầng cơ sở, cũng như các công trình đặc biệt yêu cầu xi măng cường độ cao và phát triển sớm. Đặc biệt phù hợp với các kết cấu móng, dầm, cột, các cấu kiện bê tông khối lớn.</span>
                <div class="contact-pcb40">
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:02583875303" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 303</span>
                    </a>
                    <a href="tel:02583875163" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 163</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <span class="application-content">Phù hợp cho tất cả các công trình dân dụng và công nghiệp (từ khi đổ móng, cột, sàn nhà, mái đến công tác xây, trát và cho đến công tác hoàn thiện), các công trình giao thông, thủy lợi và các công trình hạ tầng.</span>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li>Chất lượng cao, ổn định trong môi trường xâm thực</li>
                    <li>Độ dẻo cao, dễ thi công, giảm thiểu thất thoát hao phí.</li>
                    <li>Cường độ cao, phát triển nhanh giúp giảm chi phí xây dựng và rút ngắn thời gian thi công.</li>
                </ul>
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <span class="pack-content">Bao 50kg</span>
            </div>
            <div class="standard">
                <span class="title">TIÊU CHUẨN</span>
                <span class="standard-content">Đảm bảo đạt yêu cầu theo quy định của TCVN 6260: 2009</span>
                <span class="title-standard-img">TCVN 6260: 2009</span>
                <img src="/img/standard-longthanh.png" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
</script>