<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM /</a> XI MĂNG VICEM HÀ TIÊN BỀN SUN PHÁT</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40 header-pcb40ms">
            <div class="card-pcb40 card-pcb40ms">
                  <img src="/img/benposter.jpg" alt="">
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">XI MĂNG VICEM HÀ TIÊN BỀN SUN PHÁT</span>
                <span class="description">Xi măng Vicem Hà Tiên PCB40_MS Bền Sunfat được sản xuất bằng cách nghiền mịn hỗn hợp clinker, thạch cao và các phụ gia chuyên dụng, giúp tăng khả năng chống xâm thực của ion sulfat trong môi trường khắc nghiệt.</span>
                <span class="description">Sản phẩm đặc biệt phù hợp cho các công trình tiếp xúc trực tiếp với nước biển, khu vực nhiễm mặn hoặc có hàm lượng sulfat, clo cao, giúp hạn chế ăn mòn bê tông, bảo vệ cốt thép và nâng cao tuổi thọ công trình một cách hiệu quả.</span>
                <div class="contact-pcb40">
                    <span class="header-title">LIÊN HỆ NHẬN BÁO GIÁ</span>
                    <span class="sub-title">Để được tư vấn chi tiết về sản phẩm hoặc nhận báo giá tốt nhất, quý khách vui lòng liên hệ với chúng tôi qua thông tin sau:</span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:0702775548" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0702 775 548</span>
                    </a>
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <ul>
                    <li class="application-content">
                        <span><b>Nhà dân ở khu vực đất nhiễm mặn</b>: Phù hợp cho các công trình dân dụng xây dựng trên nền đất có độ mặn cao, giúp tăng độ bền và chống ăn mòn cho bê tông.</span>
                    </li>
                    <li class="application-content">
                        <span><b>Cầu tàu và bến du thuyền</b>: Đáp ứng tốt yêu cầu chịu tác động trực tiếp của nước biển, hơi muối và sóng đánh thường xuyên.</span>
                    </li>
                    <li class="application-content">
                        <span><b>Tường chắn biển, đập và hồ chứa nước</b>: Tăng khả năng chống thấm, chống xâm thực, đảm bảo kết cấu công trình bền vững trong môi trường ẩm ướt và áp lực nước cao.</span>
                    </li>
                    <li class="application-content">
                        <span><b>Đường ống cấp thoát nước và trạm xử lý nước</b>: Giúp hạn chế ăn mòn hóa học, bảo vệ kết cấu bê tông khi tiếp xúc thường xuyên với nước và hóa chất xử lý.</span>
                    </li>
                    <li class="application-content">
                        <span><b>Công trình móng ngoài khơi</b>: Thích hợp cho móng cọc, bệ đỡ và các hạng mục thi công dưới nước, chịu ảnh hưởng của dòng chảy và muối biển.</span>
                    </li>
                    <li class="application-content">
                        <span><b>Cầu và công trình trong vùng thủy triều</b>: Đảm bảo khả năng chống ăn mòn và độ bền cao cho các hạng mục thường xuyên ngập mặn hoặc thay đổi mực nước.</span>
                    </li>
                </ul>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li><b>Giảm thiểu ăn mòn cốt thép</b>: Bảo vệ và duy trì độ bền của kết cấu thép trong môi trường có tính xâm thực cao như nhiễm sunfat, phèn hoặc axit.</li>
                    <li><b>Đảm bảo chất lượng bê tông</b>: Giữ vững các đặc tính cơ học của bê tông, giúp kết cấu ổn định và an toàn trong điều kiện khắc nghiệt.</li>
                    <li><b>Tăng tính thi công và khả năng bơm</b>: Bê tông có độ linh động cao, dễ bơm, dễ đổ, giúp thi công nhanh và hiệu quả hơn.</li>
                    <li><b>Phát triển cường độ sớm</b>: Giúp bê tông đạt cường độ sớm hơn, rút ngắn thời gian chờ và đẩy nhanh tiến độ công trình.</li>
                    <li><b>Hiệu quả kinh tế cao</b>: Mang lại chi phí thấp hơn so với xi măng Portland bền sunfat, nhưng vẫn đảm bảo hiệu năng và độ bền vượt trội.</li>
                </ul>
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <ul>
                    <li class="pack-content">
                        <span>Bao 50kg</span>
                    </li>
                    <li class="pack-content">
                        <span>Bao Jumbo 500 – 1500 Kg</span>
                    </li>
                    <li class="pack-content">
                        <span>Xi măng rời</span>
                    </li>
                </ul>
            </div>
            <div class="standard">
                <span class="title">TIÊU CHUẨN</span>
                <span class="standard-content">Xi măng Vicem Hà Tiên PCB40_MS Bền Sunfat được sản xuất theo Tiêu chuẩn Việt Nam TCVN 7711:2013, đảm bảo các chỉ tiêu cơ lý và thành phần hóa học đạt yêu cầu nghiêm ngặt về chất lượng, độ bền và khả năng chống xâm thực trong môi trường chứa ion sunfat và muối biển.</span>
                <span class="title-standard-img">TCVN 7711 : 2013 (PCB40_MS)</span>
                <img src="/img/standard-pcb40ms.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
    const backToProduct = document.querySelectorAll('.link.product');
    backToProduct.forEach(product=>{
        product.classList.add('product-header')
    })
</script>