<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM /</a> XI MĂNG VICEM HÀ TIÊN PCB40</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40">
            <div class="card-pcb40">
                  <img src="/img/ht1poster.jpg" alt="">
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">XI MĂNG VICEM HÀ TIÊN PCB40</span>
                <span class="description">Xi măng Vicem Hà Tiên PCB40 – Vững Bền Cho Mọi Công Trình Vicem Hà Tiên PCB40 là dòng xi măng chất lượng cao, được thiết kế dành cho mọi hạng mục xây dựng – từ móng, cột, dầm, sàn cho đến tường và trần nhà, mang lại độ bền vững, ổn định và thẩm mỹ vượt trội cho công trình.</span>
                <div class="contact-pcb40">
                    <span class="header-title">LIÊN HỆ NHẬN BÁO GIÁ</span>
                    <span class="sub-title">Để được tư vấn chi tiết về sản phẩm hoặc nhận báo giá tốt nhất, quý khách vui lòng liên hệ với chúng tôi qua thông tin sau:</span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:0702775548" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0702 775 548</span>
                    </a>
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <span class="application-content">Xi măng Vicem Hà Tiên PCB40 là lựa chọn lý tưởng cho mọi hạng mục xây dựng – từ móng, cột, dầm, sàn đến xây, tô và ốp lát. Sản phẩm có cường độ cao, độ bền vượt trội, khả năng chống thấm và bám dính tốt, giúp công trình vững chắc, bền đẹp và ổn định theo thời gian, đặc biệt phù hợp với điều kiện khí hậu Việt Nam.</span>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li><b>Độ bền vượt trội</b>: Hạt xi măng siêu mịn giúp tạo nên khối bê tông đặc chắc, tăng cường độ nén và đảm bảo độ bền lâu dài cho công trình.</li>
                    <li><b>Thi công nhanh, hiệu quả cao</b>: Thời gian đông kết sớm giúp rút ngắn quá trình chờ đợi, góp phần đẩy nhanh tiến độ thi công.</li>
                    <li><b>Vữa dẻo, dễ tô trát</b>: Khả năng giữ nước tốt giúp vữa mịn, dễ thao tác, mang lại bề mặt tường láng mịn và thẩm mỹ cao.</li>
                    <li><b>Chất lượng đạt chuẩn</b>: Sản phẩm đạt TCVN 6260:2020 và được chứng nhận Công trình Xanh Singapore (SGBC) – thân thiện môi trường, là giải pháp xanh cho ngôi nhà bền vững.</li>
                </ul>
                <img src="/img/uudiemht1.png" alt="">
                <img src="/img/uudiemht1-2.png" alt="">
                <img src="/img/uudiemht1-3.png" alt="">
                <img src="/img/uudiemht1-4.png" alt="">
                <img src="/img/uudiemht1-5.png" alt="">
                <img src="/img/uudiemht1-6.png" alt="">
            </div>
              <div class="receipt">
                <span class="title">CHỨNG NHẬN SẢN PHẨM</span>
                <span class="receipt-content">Xi măng Vicem Hà Tiên PCB40 đã được Tổng cục Tiêu chuẩn Đo lường Chất lượng – Trung tâm Chứng nhận Phù hợp (Quacert) chứng nhận đáp ứng Quy chuẩn Quốc gia QCVN 16:2019/BXD và Tiêu chuẩn Việt Nam TCVN 6260:2020, khẳng định chất lượng ổn định, độ bền cao và độ an toàn tuyệt đối trong mọi công trình xây dựng.</span>
                <img src="/img/receiptht1.png" alt="">
            </div>
            <div class="environment">
                <span class="title">THÂN THIỆN MÔI TRƯỜNG</span>
                <span class="environment-content">Xi măng Vicem Hà Tiên PCB40 tự hào được Hội đồng Công trình Xanh Singapore (SGBC) trao chứng chỉ cấp cao và đạt chứng nhận quốc tế EPD (Environmental Product Declaration) – bản tuyên bố môi trường sản phẩm. Đây là minh chứng rõ ràng cho hiệu suất môi trường vượt trội và tính bền vững cao của sản phẩm, đáp ứng các tiêu chuẩn quốc tế về vật liệu xây dựng xanh.</span>
                <img src="/img/environmentht1.png" alt="">
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <span class="pack-content">Bao 50kg – tiện dụng, phù hợp cho mọi quy mô công trình, từ dân dụng đến công nghiệp.</span>
                <div class="box-img">
                    <img src="/img/baobiht1.png" alt="">
                    <img src="/img/baobiht1-2.png" alt="">
                </div>
            </div>
            <div class="standard">
                <span class="title">TIÊU CHUẨN</span>
                <span class="standard-content">XI MĂNG VICEM HÀ TIÊN đa dụng được sản xuất theo Tiêu chuẩn Việt Nam TCVN TCVN 6260:2020 có các chỉ tiêu cơ lý và thành phần hóa như sau:</span>
                <span class="title-standard-img">TCVN 6260:2020 (PCB40)</span>
                <img src="/img/standard-pcb40.png" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
    const backToProduct = document.querySelectorAll('.link.product');
    backToProduct.forEach(product=>{
        product.classList.add('product-header')
    })
</script>