<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM /</a> XI MĂNG VICEM HÀ TIÊN POWER PCB40</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40">
            <div class="card-pcb40 card-powercement">
                  <img src="/img/powerposter.jpg" alt="">
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">XI MĂNG VICEM HÀ TIÊN POWER PCB40</span>
                <span class="description">Power Cement không chỉ mang đến độ đặc chắc cao cho bê tông, mà còn tạo nên lớp bảo vệ bền vững chống lại tác động của môi trường khắc nghiệt. Mỗi công trình sử dụng Power Cement chính là biểu tượng của sự vững chắc và trường tồn – khởi nguồn từ xi măng chất lượng Vicem Hà Tiên.</span>
                <div class="contact-pcb40">
                    <span class="header-title">LIÊN HỆ NHẬN BÁO GIÁ</span>
                    <span class="sub-title">Để được tư vấn chi tiết về sản phẩm hoặc nhận báo giá tốt nhất, quý khách vui lòng liên hệ với chúng tôi qua thông tin sau:</span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:0702775548" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0702 775 548</span>
                    </a>
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <span class="application-content">Đầu tháng 10/2023, sau quá trình nghiên cứu và sản xuất không ngừng, Vicem Hà Tiên chính thức ra mắt sản phẩm xi măng POWER PCB40 – thương hiệu mới mang tầm nhìn hướng tới tương lai.</span>
                <span class="application-content">Sản phẩm được xem là giải pháp tối ưu cho mọi công trình xây dựng hiện nay, khi đáp ứng đầy đủ các tiêu chí chất lượng quan trọng, thậm chí vượt trội hơn so với nhiều sản phẩm đang có trên thị trường, đồng thời giữ mức giá phù hợp với đa số người tiêu dùng.</span>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li>Chất lượng vượt trội: Power Cement đáp ứng tiêu chuẩn chất lượng xi măng poóc-lăng hỗn hợp TCVN 6260-2020 - PCB40. Hạt xi măng siêu mịn phân tán làm tăng độ đặc chắc trong cấu trúc bê tông và tạo ra vữa dẻo, bám dính cao</li>
                    <li>Tạo Lớp bảo Vệ Vững Chắc: Được kết hợp từ những nguồn nguyên liệu chọn lọc với gốc clin-ker giàu hàm lượng khoáng tricanxi - silicat, Power Cement giúp tạo lớp bảo vệ mạnh mẽ và bền bỉ cho công trình xây dựng.</li>
                </ul>
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <span class="pack-content">Bao 50kg – tiện dụng, phù hợp cho mọi quy mô công trình, từ dân dụng đến công nghiệp.</span>
                <div class="box-img">
                    <img src="/img/baobipowerkpk.png" alt="">
                    <img src="/img/baobipowerkpk2.png" alt="">
                    <img src="/img/baobipowerpp.png" alt="">
                    <img src="/img/baobipowerpp2.png" alt="">
                </div>
            </div>
            <div class="standard standard-power">
                <span class="title">TIÊU CHUẨN</span>
                {{!-- <span class="standard-content">Xi măng Vicem Hà Tiên PCB40 được sản xuất theo Tiêu chuẩn Việt Nam TCVN 6260 : 2009 có các chỉ tiêu cơ lý và thành phần hóa như sau:</span>
                <span class="title-standard-img">TCVN 6260 : 2009 (PCB40)</span> --}}
                <img src="/img/standard-powercement.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
    const backToProduct = document.querySelectorAll('.link.product');
    backToProduct.forEach(product=>{
        product.classList.add('product-header')
    })
</script>