<div class="container-product">
    <header>
        <span class="title-product">SẢN PHẨM / XI MĂNG</span>
    </header>
    <div class="main-product">
        <div class="header__main-product">
            <a href="#Tất-cả" class="all">Tất cả</a>
            <a href="#Hà-Tiên" class="hatien">Hà Tiên</a>
            <a href="#Loại-Khác" class="other">Loại Khác</a>
        </div>
        <section class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </section>
        <div class="all-product">
            <a href="/product/xi-mang-ha-tien-pcb40" class="product hatienpcb40">
                <div class="background-product"></div>
                <img src="/img/hatienpcb40.png" alt="">
                <span class="name-product">Xi măng hà Tiên pcb40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-ha-tien-da-dung-pcb40" class="product dadungpcb40">
                <div class="background-product"></div>
                <img src="/img/dadungpcb40.png" alt="">
                <span class="name-product">Xi măng Hà Tiên Đa dụng PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-vicem-ha-tien-ben-sulfat-pcb40-ms" class="product pcb40-ms">
                <div class="background-product"></div>
                <img src="/img/pcb40-ms.png" alt="">
                <span class="name-product">Xi măng Hà Tiên BỀN SULFAT PCB40-MS</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/scg-super-xi-mang" class="product scg">
                <div class="background-product"></div>
                <img src="/img/scg.png" alt="">
                <span class="name-product">SCG super xi măng</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-long-thanh-pcb40" class="product longthanhpcb40">
                <div class="background-product"></div>
                <img src="/img/longthanhpcb40.png" alt="">
                <span class="name-product">Xi măng Long Thành PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
        </div>
        <div class="hatien-product">
            <a href="/product/xi-mang-ha-tien-pcb40" class="product hatienpcb40">
                <div class="background-product"></div>
                <img src="/img/hatienpcb40.png" alt="">
                <span class="name-product">Xi măng hà Tiên pcb40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-ha-tien-da-dung-pcb40" class="product dadungpcb40">
                <div class="background-product"></div>
                <img src="/img/dadungpcb40.png" alt="">
                <span class="name-product">Xi măng Hà Tiên Đa dụng PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-vicem-ha-tien-ben-sulfat-pcb40-ms" class="product pcb40-ms">
                <div class="background-product"></div>
                <img src="/img/pcb40-ms.png" alt="">
                <span class="name-product">Xi măng Hà Tiên BỀN SULFAT PCB40-MS</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
        </div>
        <div class="other-product">
            <a href="/product/scg-super-xi-mang" class="product scg">
                <div class="background-product"></div>
                <img src="/img/scg.png" alt="">
                <span class="name-product">SCG super xi măng</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-long-thanh-pcb40" class="product longthanhpcb40">
                <div class="background-product"></div>
                <img src="/img/longthanhpcb40.png" alt="">
                <span class="name-product">Xi măng Long Thành PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
        </div>
    </div>
</div>
<script>
    var allClick = document.querySelector('.all');
    var HTClick = document.querySelector('.hatien');
    var otherClick = document.querySelector('.other');
    var allDisplay = document.querySelector('.all-product')
    var HTDisplay = document.querySelector('.hatien-product');
    var otherDisplay = document.querySelector('.other-product')
    var loadingProduct = document.querySelector('.dots-container');
    var titleProduct = document.querySelector('.title-product');
    let allClickClicked = false;
    let HTClickClicked = false;
    let otherClickClicked = false;
allClick.addEventListener('click', () => {
  if (!allClickClicked) {
    allClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    loadingProduct.style.display = 'flex';
    setTimeout(function () {
      loadingProduct.style.display = 'none';
    }, 850);
    setTimeout(function () {
      allDisplay.style.display = 'flex';
    }, 900);
    allClickClicked = true;
    HTClickClicked = false;
    otherClickClicked = false;
  }
  titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG'
  localStorage.setItem('all', 'show')
  localStorage.setItem('HT', 'hide')
  localStorage.setItem('Other', 'hide')
});
HTClick.addEventListener('click', () => {
  if (!HTClickClicked) {
    HTClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    loadingProduct.style.display = 'flex';
    setTimeout(function () {
      loadingProduct.style.display = 'none';
    }, 850);
    setTimeout(function () {
      HTDisplay.style.display = 'flex';
    }, 900);
    HTClickClicked = true;
    allClickClicked = false;
    otherClickClicked = false;
  }
  titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / HÀ TIÊN'
  localStorage.setItem('all', 'hide')
  localStorage.setItem('HT', 'show')
  localStorage.setItem('Other', 'hide')
});

otherClick.addEventListener('click', () => {
  if (!otherClickClicked) {
    otherClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    allDisplay.style.display = 'none';
    loadingProduct.style.display = 'flex';
    setTimeout(function () {
      loadingProduct.style.display = 'none';
    }, 850);
    setTimeout(function () {
      otherDisplay.style.display = 'flex'
    }, 900);
    otherClickClicked = true;
    allClickClicked = false;
    HTClickClicked = false;
  }
  titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / lOẠI KHÁC'
  localStorage.setItem('all', 'hide')
  localStorage.setItem('HT', 'hide')
  localStorage.setItem('Other', 'show')
});
document.addEventListener('DOMContentLoaded',()=>{
  let checkAllDisplay = localStorage.getItem('all');
  let checkHTDisplay = localStorage.getItem('HT');
  let checkOtherDisplay = localStorage.getItem('Other');
  if(checkAllDisplay === 'show'){
    allClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    allDisplay.style.display = 'flex';
    allClickClicked = true;
    HTClickClicked = false;
    otherClickClicked = false;
    titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG'
    localStorage.setItem('all', 'show')
    localStorage.setItem('HT', 'hide')
    localStorage.setItem('Other', 'hide')
  }
  if(checkHTDisplay === 'show'){
    HTClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    HTDisplay.style.display = 'flex';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    HTClickClicked = true;
    allClickClicked = false;
    otherClickClicked = false;
    titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / HÀ TIÊN'
    localStorage.setItem('all', 'hide')
    localStorage.setItem('HT', 'show')
    localStorage.setItem('Other', 'hide')
  }
  if(checkOtherDisplay === 'show'){
    otherClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'flex'
    otherClickClicked = true;
    allClickClicked = false;
    HTClickClicked = false;
    titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / lOẠI KHÁC'
    localStorage.setItem('all', 'hide')
    localStorage.setItem('HT', 'hide')
    localStorage.setItem('Other', 'show')
  }
})
</script>