<div class="container-product">
    <header>
        <span class="title-product">SẢN PHẨM</span>
    </header>
    <div class="main-product">
        {{!-- <div class="header__main-product">
            <a href="#Tất-cả" class="all">Tất cả</a>
            <a href="#Hà-Tiên" class="hatien">Hà Tiên</a>
            <a href="#Loại-Khác" class="other">Loại Khác</a>
        </div> --}}
        {{!-- <section class="dots-container">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </section> --}}
        <div class="all-product">
            <a href="/product/xi-mang-ha-tien-da-dung-pcb40" class="product dadungpcb40">
                <span class="name-product">VICEM HÀ TIÊN ĐA DỤNG</span>
                <div class="background-product">
                  <div class="background-backup"></div>
                  <img src="/img/dadungpcb40.png" alt="">
                </div>
                <span class="price-product">Giá: <b>Khám Phá</b></span>
                <ul>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    giữ nước tốt
                    </li>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    hạn chế răn nứt
                    </li>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    hạn chế thấm
                    </li>
                </ul>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-ha-tien-pcb40" class="product hatienpcb40">
                <span class="name-product">PORTLAND HỖN HỢP PCB40</span>
                <div class="background-product">
                  <div class="background-backup"></div>
                  <img src="/img/hatienpcb40.png" alt="">
                </div>
                <span class="price-product">Giá: <b>Khám Phá</b></span>
                <ul>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    Giảm nguy cơ nứt bê tông
                    </li>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    tô có độ dẻo cao
                    </li>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    cường độ cao
                    </li>
                </ul>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-vicem-ha-tien-ben-sulfat-pcb40-ms" class="product pcb40-ms">
                <span class="name-product">PORTLAND HỖN HỢP BỀN SULFAT PCB40-MS</span>
                <div class="background-product">
                  <div class="background-backup"></div>
                  <img src="/img/pcb40-ms.png" alt="">
                </div>
                <span class="price-product">Giá: <b>Khám Phá</b></span>
                <ul>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    Giảm thiểu ăn mòn kết cấu thép
                    </li>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    Cải thiện cường độ sớm
                    </li>
                  <li>
                    <div class="icon-advantage">
                      <svg viewBox="0 0 24 24" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#bc9f6e">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                        <g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{opacity:0.2;fill:none;stroke:#bc9f6e;stroke-width:5.000000e-02;stroke-miterlimit:10;} </style> <g id="Layer_Grid"/> <g id="Layer_2"> <path d="M21.2,11l-5.3-1l0.9-1.4C17,8.2,17,7.7,16.7,7.3S15.8,7,15.4,7.2L14,8.1l-1-5.3C12.9,2.3,12.5,2,12,2s-0.9,0.3-1,0.8 l-1,5.3L8.6,7.2C8.2,7,7.7,7,7.3,7.3C7,7.7,7,8.2,7.2,8.6L8.1,10l-5.3,1C2.3,11.1,2,11.5,2,12s0.3,0.9,0.8,1l5.3,1l-0.9,1.4 C7,15.8,7,16.3,7.3,16.7C7.5,16.9,7.8,17,8.1,17c0.2,0,0.4-0.1,0.6-0.2l1.4-0.9l1,5.3c0.1,0.5,0.5,0.8,1,0.8s0.9-0.3,1-0.8l1-5.3 l1.4,0.9c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.7-0.3c0.3-0.3,0.4-0.9,0.1-1.3L15.9,14l5.3-1c0.5-0.1,0.8-0.5,0.8-1 S21.7,11.1,21.2,11z M13.3,12.5c-0.4,0.1-0.7,0.4-0.8,0.8L12,15.8l-0.5-2.5c-0.1-0.4-0.4-0.7-0.8-0.8L8.2,12l2.5-0.5 c0.4-0.1,0.7-0.4,0.8-0.8L12,8.2l0.5,2.5c0.1,0.4,0.4,0.7,0.8,0.8l2.5,0.5L13.3,12.5z"/> </g> </g>
                        </svg>
                    </div>
                    Chi phí thấp
                    </li>
                </ul>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            {{!-- <a href="/product/scg-super-xi-mang" class="product scg">
                <div class="background-product"></div>
                <img src="/img/scg.png" alt="">
                <span class="name-product">SCG super xi măng</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-long-thanh-pcb40" class="product longthanhpcb40">
                <div class="background-product"></div>
                <img src="/img/longthanhpcb40.png" alt="">
                <span class="name-product">Xi măng Long Thành PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a> --}}
        </div>
        {{!-- <div class="hatien-product">
            <a href="/product/xi-mang-ha-tien-pcb40" class="product hatienpcb40">
                <div class="background-product"></div>
                <img src="/img/hatienpcb40.png" alt="">
                <span class="name-product">Xi măng hà Tiên pcb40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-ha-tien-da-dung-pcb40" class="product dadungpcb40">
                <div class="background-product"></div>
                <img src="/img/dadungpcb40.png" alt="">
                <span class="name-product">Xi măng Hà Tiên Đa dụng PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-vicem-ha-tien-ben-sulfat-pcb40-ms" class="product pcb40-ms">
                <div class="background-product"></div>
                <img src="/img/pcb40-ms.png" alt="">
                <span class="name-product">Xi măng Hà Tiên BỀN SULFAT PCB40-MS</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
        </div>
        <div class="other-product">
            <a href="/product/scg-super-xi-mang" class="product scg">
                <div class="background-product"></div>
                <img src="/img/scg.png" alt="">
                <span class="name-product">SCG super xi măng</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
            <a href="/product/xi-mang-long-thanh-pcb40" class="product longthanhpcb40">
                <div class="background-product"></div>
                <img src="/img/longthanhpcb40.png" alt="">
                <span class="name-product">Xi măng Long Thành PCB40</span>
                <span class="visited-product">Xem chi tiết</span>
            </a>
        </div> --}}
    </div>
</div>
{{!-- <script>
    var allClick = document.querySelector('.all');
    var HTClick = document.querySelector('.hatien');
    var otherClick = document.querySelector('.other');
    var allDisplay = document.querySelector('.all-product')
    var HTDisplay = document.querySelector('.hatien-product');
    var otherDisplay = document.querySelector('.other-product')
    var loadingProduct = document.querySelector('.dots-container');
    var titleProduct = document.querySelector('.title-product');
    let allClickClicked = false;
    let HTClickClicked = false;
    let otherClickClicked = false;
allClick.addEventListener('click', () => {
  if (!allClickClicked) {
    allClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    loadingProduct.style.display = 'flex';
    setTimeout(function () {
      loadingProduct.style.display = 'none';
    }, 850);
    setTimeout(function () {
      allDisplay.style.display = 'flex';
    }, 900);
    allClickClicked = true;
    HTClickClicked = false;
    otherClickClicked = false;
  }
  titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG'
  localStorage.setItem('all', 'show')
  localStorage.setItem('HT', 'hide')
  localStorage.setItem('Other', 'hide')
});
HTClick.addEventListener('click', () => {
  if (!HTClickClicked) {
    HTClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    loadingProduct.style.display = 'flex';
    setTimeout(function () {
      loadingProduct.style.display = 'none';
    }, 850);
    setTimeout(function () {
      HTDisplay.style.display = 'flex';
    }, 900);
    HTClickClicked = true;
    allClickClicked = false;
    otherClickClicked = false;
  }
  titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / HÀ TIÊN'
  localStorage.setItem('all', 'hide')
  localStorage.setItem('HT', 'show')
  localStorage.setItem('Other', 'hide')
});

otherClick.addEventListener('click', () => {
  if (!otherClickClicked) {
    otherClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    allDisplay.style.display = 'none';
    loadingProduct.style.display = 'flex';
    setTimeout(function () {
      loadingProduct.style.display = 'none';
    }, 850);
    setTimeout(function () {
      otherDisplay.style.display = 'flex'
    }, 900);
    otherClickClicked = true;
    allClickClicked = false;
    HTClickClicked = false;
  }
  titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / lOẠI KHÁC'
  localStorage.setItem('all', 'hide')
  localStorage.setItem('HT', 'hide')
  localStorage.setItem('Other', 'show')
});
document.addEventListener('DOMContentLoaded',()=>{
  let checkAllDisplay = localStorage.getItem('all');
  let checkHTDisplay = localStorage.getItem('HT');
  let checkOtherDisplay = localStorage.getItem('Other');
  if(checkAllDisplay === 'show'){
    allClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    allDisplay.style.display = 'flex';
    allClickClicked = true;
    HTClickClicked = false;
    otherClickClicked = false;
    titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG'
    localStorage.setItem('all', 'show')
    localStorage.setItem('HT', 'hide')
    localStorage.setItem('Other', 'hide')
  }
  if(checkHTDisplay === 'show'){
    HTClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    otherClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    HTDisplay.style.display = 'flex';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'none';
    HTClickClicked = true;
    allClickClicked = false;
    otherClickClicked = false;
    titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / HÀ TIÊN'
    localStorage.setItem('all', 'hide')
    localStorage.setItem('HT', 'show')
    localStorage.setItem('Other', 'hide')
  }
  if(checkOtherDisplay === 'show'){
    otherClick.style.cssText = 'border-bottom: 3px solid #bc9f6e; cursor: default; color: #bc9f6e';
    allClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTClick.style.cssText = 'border-bottom: unset; cursor: pointer; color: black;';
    HTDisplay.style.display = 'none';
    allDisplay.style.display = 'none';
    otherDisplay.style.display = 'flex'
    otherClickClicked = true;
    allClickClicked = false;
    HTClickClicked = false;
    titleProduct.innerHTML = 'SẢN PHẨM / XI MĂNG / lOẠI KHÁC'
    localStorage.setItem('all', 'hide')
    localStorage.setItem('HT', 'hide')
    localStorage.setItem('Other', 'show')
  }
})
</script> --}}