<div class="container-pcb40">
    <header>
        <span><a class="backproductpage" href="/product">SẢN PHẨM</a> / SCG Super Xi Măng</span>
    </header>
    <div class="main-pcb40">
        <div class="header-pcb40">
            <div class="card-pcb40 card-scg">
                <div class="background"></div>
                <img src="/img/scg.png" alt="">
            </div>
            <div class="info-pcb40">
                <span class="name-pcb40">SCG Super Xi Măng</span>
                <span class="description">SCG Super Xi Măng ứng dụng công nghệ SCG Nano, phát triển các phân tử xi măng đặc biệt ở mức độ Nano nhằm tạo ra khả năng liên kết cực kỳ chặt chẽ, từ đó giảm thiểu số lượng lỗ rỗng tạo nên trong quá trình trộn bê tông và tạo ra kết cấu siêu bền vững</span>
                <div class="contact-pcb40">
                    <span class="box-contact-us"><a class="contact-us" href="/contact">LIÊN HỆ VỚI CHÚNG TÔI</a></span>
                    <a href="tel:02583875686" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 686</span>
                    </a>
                    <a href="tel:02583875303" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 303</span>
                    </a>
                    <a href="tel:02583875163" class="hotline">
                        <span class="material-symbols-outlined">
                        phone_in_talk
                        </span>
                        <span>0258 3 875 163</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="detail-pcb40">
            <span class="primary-title">THÔNG TIN SẢN PHẨM</span>
            <div class="application">
                <span class="title">ỨNG DỤNG</span>
                <span class="application-content">Nhằm ứng phó với điều kiện khí hậu nhiệt đới gió mùa và những biến động thời tiết thất thường, các gia chủ tại Việt Nam hiện đang tìm kiếm giải pháp xi măng để xây dựng những ngôi nhà chắc chắn, bền vững cho gia đình và các thế hệ mai sau.</span>
                <span class="application-content">Công nghệ SCG Nano chính là giải pháp tối ưu, đáp ứng tốt nhất nhu cầu ngày càng cao của thị trường về các sản phẩm chất lượng. Với các đặc điểm nổi bật như khả năng kháng lực vượt trội, độ bền cao và tính đa dụng, sản phẩm SCG Super Xi Măng không những là lựa chọn lí tưởng cho xây dựng nền móng và kết cấu mà còn có thể sử dụng cho nhiều ứng dụng công trình khác.</span>
            </div>
            <div class="addvantage">
                <span class="title">ƯU ĐIỂM</span>
                <ul>
                    <li><b>Siêu vững chắc:</b> SCG Super Xi măng cho sản phẩm bê tông hoặc vữa có cường độ cao, bền chắc lâu dài, đảm bảo chất lượng các hạng mục chịu lực chính như: móng, hệ dầm cột, sàn. Sản phẩm giúp cấu trúc bê tông đặc, ít thẩm thấu, nhiễm phèn, nhiễm mặn.</li>
                    <li><b>Siêu mịn:</b> Các hạt xi măng siêu kết dính che lấp các khuyết điểm, khe nứt, độ lồi lõm trong quá trình xây tô tạo bề mặt nhẵn mịn, giúp tiết kiệm sơn và mang lại hiệu quả kinh tế.</li>
                    <li><b>Siêu hạn chế hấp thụ nước:</b> Công nghệ Nano giúp giảm thiểu những lỗ rỗng trong khối bê tông hay vữa tô tường, hạn chế sự xâm nhập của các nhân tố bên ngoài như không khí hay nước bẩn, hạn chế ẩm móc, duy trì tính thẩm mỹ cho ngôi nhà của bạn.</li>
                </ul>
            </div>
            <div class="pack">
                <span class="title">ĐÓNG GÓI THÀNH PHẨM</span>
                <span class="pack-content">Bao 50kg</span>
            </div>
            <div class="standard standard-scg">
                <span class="title">TIÊU CHUẨN</span>
                <span class="standard-content">Xi măng Vicem Hà Tiên PCB40 được sản xuất theo Tiêu chuẩn Việt Nam TCVN 6260 : 2009 có các chỉ tiêu cơ lý và thành phần hóa như sau:</span>
                <span class="title-standard-img">TCVN 6260 : 2009 (PCB40)</span>
                <img src="/img/standard-scg.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    var backProductPage = document.querySelector('.backproductpage');
        backProductPage.addEventListener('click',()=>{
            localStorage.setItem('touchedLink', '/product')
        });
    var goContactPage = document.querySelector('.contact-us');
        goContactPage.addEventListener('click', () => {
        localStorage.setItem('touchedLink', '/contact');
    });
    localStorage.clear()
</script>