<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/companyTP.png" sizes="32×32"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Open+Sans:ital,wght@0,500;0,700;1,500;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,500;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/app.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script src="/js/function.js"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="app">
        <div class="header-app">
          {{> header}}
        </div>
        <div class="header-app__admin">
          {{> headerAdmin}}
        </div>
        {{{body}}}  

        <div class="footer-app">
          {{> footer}}  
        </div>
    </div>
</body>
<script>
  const allIMG = document.querySelectorAll('img');
  allIMG.forEach(img=>{
    img.onerror = function() {
            this.src = '/img/error-img.jpg';
        };
  })
  const navbar = document.querySelector('.navbar');
  const navbarResponsive = document.querySelector('.navbar-responsive');
  window.addEventListener('scroll', scrollNavbar)
  function scrollNavbar(){
      if(navbar){
        if(window.scrollY > 110){
        navbar.style.cssText = 'background-color: rgba(255,255,255,0.9); box-shadow: 1px 1px 10px rgba(0,0,0,.15);';
        }else{
          navbar.style.cssText = 'background-color: white; box-shadow: unset';
        }
      }
      if(navbarResponsive){
        if(window.scrollY > 110){
        navbarResponsive.style.cssText = 'background-color: rgba(255,255,255,0.9);';
        }else{
          navbarResponsive.style.cssText = 'background-color: white;';
        }
      }
  }
  const links = document.querySelectorAll('.navbar .navbar-inner .link');
  const linksResponsive = document.querySelectorAll('.navbar-responsive .link');
  links.forEach(link=>{
    link.addEventListener('click',(e)=>{
      if(link.classList.contains('touched')){
         if(link.classList.contains('event-header') || link.classList.contains('product-header')){
            
         }else{
            e.preventDefault();
         }

      }else{
        const href = link.getAttribute('data-href')
        localStorage.setItem('link',href)
      }
    })
  })
  //responsive navbar
  linksResponsive.forEach(link=>{
    link.addEventListener('click',(e)=>{
      if(link.classList.contains('touched-responsive')){
         if(link.classList.contains('event-header') || link.classList.contains('product-header')){
            
         }else{
            e.preventDefault();
         }
      }else{
        const href = link.getAttribute('data-href')
        localStorage.setItem('link',href)
      }
    })
  })
  document.addEventListener('DOMContentLoaded', () => {
    let currentURL = window.location.pathname
    if(currentURL.startsWith('/')){
      currentURL = currentURL.substring(1)
    }
    if(currentURL === ""){
      currentURL = "home"
    }
    localStorage.setItem('link', currentURL)
    const currentPage = localStorage.getItem('link');
    if(currentPage !== null){
      if(navbar){
      links.forEach(link=>{
        const href = link.getAttribute('data-href');
        if (href === currentPage || currentPage.includes('product') && href.includes('product') || currentPage.includes('event') && href.includes('event')){
          link.classList.add('touched')
        }else{
          link.classList.remove('touched')
        }
      })
      }
      //responsive navbar
      if(navbarResponsive){
        linksResponsive.forEach(link=>{
          const href = link.getAttribute('data-href');
          if (href === currentPage || currentPage.includes('product') && href.includes('product') || currentPage.includes('event') && href.includes('event')){
            link.classList.add('touched-responsive')
          }else{
            link.classList.remove('touched-responsive')
          }
        })
      }
    }
  })
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>
