<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/companyTP.png" sizes="32x32"/>
    <link rel="stylesheet" href="/css/app.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="loading">
        <div class="door-up"></div>
        <div class="text">
            <span>Thiên Phú</span>
        </div>
        <div class="door-down"></div>
    </div>
    <div class="app">
        {{> header}}

        {{{body}}}

        {{> footer}}
        
    </div>
</body>
<script>
  window.addEventListener("load", function() {
  var loadingDiv = document.querySelector(".loading");
  var doorUpDiv = document.querySelector(".door-up");
  var doorDownDiv = document.querySelector(".door-down");
  var textSpan = document.querySelector('.loading .text span');

  document.querySelector('.link').addEventListener('click', function(event) {
    event.preventDefault();
    
    loadingDiv.style.display = "flex";
    setTimeout(function() {
      textSpan.style.display = 'inline-block';
    }, 1500);
    setTimeout(function() {
      doorUpDiv.classList.add("upDoor");
      doorDownDiv.classList.add("downDoor");
      textSpan.style.display = 'none';
    }, 4000);
    setTimeout(function() {
      loadingDiv.style.display = "none";
      window.location.href = event.target.href; 
    }, 5000);
  });
});
</script>
</html>